.card-custom {
    border: 1px solid #dee2e6; /* Custom border */
    border-radius: 10px; /* Custom border radius */
  }



  .btn:hover{
    transform: translateY(-2px);
    transition: 0.5s;
} 

.w-100 {
  width: 100% !important; /* Use !important to override any inline styles */
}



#kt_modal_update_customer_scroll {
  max-height: 80vh; /* Adjust the height as per your requirements */
  overflow-y: auto; /* Enables vertical scrolling */
}


::ng-deep .p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  padding-right: 0 !important;
  margin-right: 0 !important;
}






@keyframes shakeY {
  0%, 100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-4px);
  }
  40% {
    transform: translateY(4px);
  }
  60% {
    transform: translateY(-3px);
  }
  80% {
    transform: translateY(2px);
  }
}

input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched,
p-dropdown.ng-invalid.ng-touched,
p-multiSelect.ng-invalid.ng-touched {
  border: 2px solid #fc1900 !important;
  background-color: #fff3f3;
  animation: shakeY 0.4s ease;
}



.p-dropdown {
  border: none !important;
  background-color: var(--bs-gray-100) !important;

}