.card-custom {
    border: 1px solid #dee2e6; /* Custom border */
    border-radius: 10px; /* Custom border radius */
  }



  .btn:hover{
    transform: translateY(-2px);
    transition: 0.5s;
} 

.w-100 {
  width: 100% !important; /* Use !important to override any inline styles */
}



#kt_modal_update_customer_scroll {
  max-height: 80vh; /* Adjust the height as per your requirements */
  overflow-y: auto; /* Enables vertical scrolling */
}


::ng-deep .p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  padding-right: 0 !important;
  margin-right: 0 !important;
}






