:host {
  width: 100%;
  @media (min-width: 992px) {
    .login-form {
      width: 100%;
      max-width: 450px;

      .mat-form-field {
        width: 100%;
      }
    }
  }
}



//New code for login Continue is here
.button {
  padding: 15px 25px;
  font-size: 14px;
  font-weight: bolder;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #1DA1F2;
  border: none;
  box-shadow: 0 9px #999;
}

.button:hover {transform: translateY(-2px);
  transition: 0.8s;}

.button:active {
  background-color: #1DA1F2;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


.btn:hover{
  transform: translateY(-2px);
  transition: 0.8s;
}


.fv-row {
  display: flex;
  flex-direction: column;
}

.input-group {
  margin-bottom: 1rem; /* Adjust the space between fields */
}


.large-input {
  width: 100%; /* Adjust the width as needed */
  height: 45px; /* Adjust the height as needed */
  padding: 10px; /* Optional: Add some padding */
}



.mediaFordesk{
  @media (min-width: 992px) {
    min-width: 400px;
  }
}



.password-success-card {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  padding: 20px;
  background-color: #f9f9f9;
}

.card-content {
  background: #ffffff;
  border-radius: 12px;
  padding: 30px 40px;
  text-align: center;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

.icon-container {
  font-size: 60px;
  color: #38c172; /* green success color */
  margin-bottom: 20px;
}

.card-content h1 {
  color: #2f855a;
  font-size: 24px;
  margin-bottom: 10px;
}

.subtitle {
  color: #4a5568;
  font-size: 16px;
  margin-bottom: 30px;
}




/* Media Query for iPhone SE (and other small devices) */
@media screen and (max-width: 400px) {
  .card-content {
    padding: 20px;
    border-radius: 10px;
  }

  .icon-container {
    font-size: 40px;
  }

  .card-content h1 {
    font-size: 20px;
  }

  .subtitle {
    font-size: 14px;
  }

  .login-btn {
    width: 100%;
    font-size: 14px;
    padding: 10px;
  }
}