.text_3d {
    position: fixed;
    top: 50%; 
    right: 50%;
  
    transform: translate(50%, -50%);
  }
  .grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 8px;
    overflow: hidden;
  }
  .row {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers the content horizontally */
    justify-content: center; /* Centers vertically if needed */
    text-align: center; /* Ensures that text inside elements is centered */
  }
  
  .value {
    font-weight: bold;
    color: #333333;
    margin-bottom: 10px; /* Add spacing between values */
  }
  