.text_3d {
    position: fixed;
    top: 50%; 
    right: 50%;
  
    transform: translate(50%, -50%);
  }
  .grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 8px;
    overflow: hidden;
  }


  @media (max-width: 760px) {
    .text_3d {
      position:unset !important;
      top: unset !important;       /* Reset top */
      right: unset !important;     /* Reset right */
      transform: unset !important; /* Reset transform */
      font-size: 25px;  /* Optionally adjust font size for smaller screens */
    }
  }