
<div class="card mb-5 mb-xl-8 card-custom">
    <div class="card-header border-0 pt-5 ">
      <h3 class="card-title align-items-start flex-column">
        <span class="card-label fw-bolder fs-3 mb-1">
          Permission Configuration</span>
      </h3>
      <div class="card-toolbar">
  
        <button *ngIf="hideDeleteButton" type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal"
          data-bs-target="#permissionModal" (click)="openModal('','')" >
  
          New
        </button>
  
      </div>
  
    </div>


    <div class="card-body pt-0">
      <!-- <div class="card-title">
    
        <div class="d-flex align-items-center position-relative my-1">
          <app-keenicon name="magnifier" class="fs-3 position-absolute ms-5"></app-keenicon>
          <input type="text" data-action="filter" class="form-control form-control-solid w-250px ps-12" placeholder="Search Permission">
        </div>
      
      </div> -->
        <app-crud-user [datatableConfig]="datatableConfig" route="/permission2" (deleteEvent)="delete($event)" (editEvent)="edit($event)" (createEvent)="create()" [reload]="reloadEvent" ></app-crud-user>
    </div>

</div>





<div class="modal fade" id="permissionModal" tabindex="-1" aria-labelledby="permissionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" style="width:1200px;transform: translate(-27%, 0px);">
        <div class="modal-header">
          <h2 class="modal-title" id="osLabel" *ngIf="showHeading">Add Permission Configuration</h2>
          <h2 class="modal-title" id="osLabel" *ngIf="!showHeading">Edit Permission Configuration</h2>
          <button  type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
  
        <div class="fv-row" [formGroup]="createPermissionField">
          <div class="card-body border-top p-9">
            <div class="container">
              <div class="row">
  
                <div class="col-md-4">
                  <label class="col-lg-12 col-form-label fw-bold fs-6 required"> ID</label>
  
                  <input type="text" class="
                                  form-control form-control-lg form-control-solid
                                  mb-3 mb-lg-0
                                " placeholder="Enter ID" name="permissionID" formControlName="permissionID" required
                    (keyup)="checkUniqueIdentifier($event)">
  
                  <span style="color: #fc1900;">{{errorForUniqueID}}</span>
                  <div *ngIf="
                                  createPermissionField.get('permissionID')?.hasError('required') &&
                                  createPermissionField.get('permissionID')?.touched
                                " class="fv-plugins-message-container invalid-feedback">
                    permission ID is required
                  </div>
  
  
                </div>
  
                <div class="col-md-4">
                  <label class="col-lg-12 col-form-label fw-bold fs-6 required"> Label
                  </label>
  
                  <input type="text" class="
                                  form-control form-control-lg form-control-solid
                                  mb-3 mb-lg-0
                                " placeholder="Enter label" name="label" formControlName="label" required>
  
                  <div *ngIf="
                                  createPermissionField.get('label')?.hasError('required') &&
                                  createPermissionField.get('label')?.touched
                                " class="fv-plugins-message-container invalid-feedback">
                    label is required
                  </div>
  
  
                </div>
  
                <div class="col-md-4">
                  <label class="col-lg-12 col-form-label fw-bold fs-6 required"> Description</label>
  
                  <input type="text" class="
                                    form-control form-control-lg form-control-solid
                                    mb-3 mb-lg-0
                                  " placeholder="Enter description" name="description" formControlName="description"
                    required>
                  <div *ngIf="
                                       createPermissionField.get('description')?.hasError('required') &&
                                       createPermissionField.get('description')?.touched
                                  " class="fv-plugins-message-container invalid-feedback">
                    Description is required
                  </div>
  
                </div>
              </div>
            </div>
  
  
            <div class="container">
              <div class="row" >
  
                <div class="col-md-4">
                  <label class="col-lg-12 col-form-label fw-bold fs-6 required"> Time</label>
  
                  <input type="number" class="
                                      form-control form-control-lg form-control-solid
                                      mb-3 mb-lg-0
                                    " placeholder="Enter time" name="time" formControlName="time" required>
  
                  <div *ngIf="
                                         createPermissionField.get('time')?.hasError('required') &&
                                         createPermissionField.get('time')?.touched
                                    " class="fv-plugins-message-container invalid-feedback">
                    time is required
                  </div>
                </div>
  
                <div class="col-md-4">
                  <label class="col-lg-12 col-form-label fw-bold fs-6 required"> Number Of Request</label>
  
                  <input type="number" class="
                                  form-control form-control-lg form-control-solid
                                  mb-3 mb-lg-0
                                " placeholder="Enter no_of_request" name="no_of_request" formControlName="no_of_request"
                    required>
  
                  <div *ngIf="
                                     createPermissionField.get('no_of_request')?.hasError('required') &&
                                     createPermissionField.get('no_of_request')?.touched
                                " class="fv-plugins-message-container invalid-feedback">
                    Number Of Request is required
                  </div>
  
  
                </div>
  
                <div class="col-md-4">
                  <label class="col-lg-12 col-form-label fw-bold fs-6 required"> Number Of Records</label>
  
                  <input type="number" class="
                                  form-control form-control-lg form-control-solid
                                  mb-3 mb-lg-0
                                " placeholder="Enter no_of_records" name="no_of_records" formControlName="no_of_records"
                    required>
  
                  <div *ngIf="
                                     createPermissionField.get('no_of_records')?.hasError('required') &&
                                     createPermissionField.get('no_of_records')?.touched
                                " class="fv-plugins-message-container invalid-feedback">
                    Number Of Records is required
                  </div>
  
  
                </div>
  
  
              </div>
            </div>
  
            <div class="container">
              <div class="row">
  
                <div class="col-md-4">
                  <label class="col-lg-12 col-form-label fw-bold fs-6 required"> Size</label>
  
                  <input type="number" class="
                                  form-control form-control-lg form-control-solid
                                  mb-3 mb-lg-0
                                " placeholder="Enter size" name="size" formControlName="size" required>
  
                  <div *ngIf="
                                     createPermissionField.get('size')?.hasError('required') &&
                                     createPermissionField.get('size')?.touched
                                " class="fv-plugins-message-container invalid-feedback">
                    size is required
                  </div>
  
  
                </div>
  
                <div class="col-md-4">
                  <label class="col-lg-12 col-form-label fw-bold fs-6 required"> Other Settings
                  </label>
  
                  <textarea class="
                                    form-control form-control-lg form-control-solid
                                    mb-3 mb-lg-0
                                  " placeholder="Enter settings" name="settings" formControlName="settings" required>
                                      </textarea>
  
                  <div *ngIf="
                                      createPermissionField.get('settings')?.hasError('required') &&
                                      createPermissionField.get('settings')?.touched
                                    " class="fv-plugins-message-container invalid-feedback">
                    Settings is required
                  </div>
  
                </div>
                <div class=" col-md-4
                form-check form-check-custom form-check-solid form-check-success form-switch
                  " style="float: right; padding-left: 20px;">
                  <input class="form-check-input" type="checkbox"
                    name="api_enable" formControlName="api_enable"
                   />
                  <label class="form-check-label text-gray-700 fw-bold"
                 data-bs-toggle="tooltip"
                   >Api Enable</label>
                </div>
                <div class="col-md-4">
                  <label class="col-lg-12 col-form-label fw-bold fs-6 required"> User Grade
                  </label>
  
                  <select class="form-select form-select-solid form-select-lg fw-bold" name="user_grade"
                    formControlName="user_grade" required>
                    <option value="null" disabled="true" [selected]="true">Select User Grade </option>
                    <option value="l0">L0</option>
                    <option value="l1">L1</option>
                    <option value="l2">L2</option>
                    <option value="l3">L3</option>
                    <option value="l4">L4</option>
                    <option value="l5">L5</option>
                    <option value="l6">L6</option>
                    <option value="l7">L7</option>
                    <option value="l8">L8</option>
                    <option value="l9">L9</option>
                    <option value="l10">L10</option>
                  </select>
  
                  <div *ngIf="
                           createPermissionField.get('user_grade')?.hasError('required') &&
                           createPermissionField.get('user_grade')?.touched
                        " class="fv-plugins-message-container invalid-feedback">
                    User Grade is required
                  </div>
  
  
                        </div>
              
                               <div class="col-md-4" *ngIf="formList.length>0">
                                <label class="col-lg-12 col-form-label fw-bold fs-6 "> Form IDs
                                </label>
                            <div class = "custom-multiselect">
                            <ng-multiselect-dropdown style="
                            display: inline-block; 
                            width: 100%;
                            padding: 0px ;
                            margin-bottom: 0;
                            font-weight: 0px;
                            line-height: 1.52857143;
                            text-align: left;
                            vertical-align: middle;
                            cursor: pointer;
                            background-image: none;
                            border-radius: 4px;
                            
                            " class="form-select form-select-solid form-select-lg fw-bold"
                            [placeholder]="'Select date type'"
                            [settings]="dropdownSettings" [data]="formList" 
                            
                            [formControl]="$any(createPermissionField.controls['formList'])"
                            >
                            </ng-multiselect-dropdown>
                            </div>
                            
                    </div>


                            <div class="col-md-4" *ngIf="dreamBoardIDs.length>0">
                              <label class="col-lg-12 col-form-label fw-bold fs-6 "> DreamboardIDs
                              </label>
                          <div class = "custom-multiselect">
                          <ng-multiselect-dropdown style="
                          display: inline-block; 
                          width: 100%;
                          padding: 0px ;
                          margin-bottom: 0;
                          font-weight: 0px;
                          line-height: 1.52857143;
                          text-align: left;
                          vertical-align: middle;
                          cursor: pointer;
                          background-image: none;
                          border-radius: 4px;
                          
                          " class="form-select form-select-solid form-select-lg fw-bold"
                          [placeholder]="'Select date type'"
                          [settings]="dropdownSettings" [data]="dreamBoardIDs" 
                          
                          [formControl]="$any(createPermissionField.controls['dreamBoardIDs'])"
                          >
                          </ng-multiselect-dropdown>
                          </div>
                          
                  </div>
              </div>
          </div>
        </div>
  
  
        
        <div class="modal-footer">
  
          <button type="button" class="btn btn-sm btn-danger" data-bs-dismiss="modal" #closePermission >Cancel</button>
          <button [hidden]="hideUpdateButton" type="submit" class="btn btn-sm btn-primary"
            (click)="updatePermission(createPermissionField.value,'editPermission')" *ngIf="showModal"
            [disabled]=" !createPermissionField.dirty || createPermissionField.invalid">
            Update
          </button>
          <button type="button" class="btn btn-sm btn-primary not-allowed" *ngIf="!showModal"
            [disabled]="createPermissionField.invalid || errorForUniqueID == 'Permission ID already exists'"
            (click)="createNewPermission('')">Save</button>
        </div>
   
      
  
      </div>
    </div>
  </div>
  