







<div *ngIf="item.grid_type === 'logo'">
    <div
      class="grid-item"
      tabindex="0"
  
      style="padding: 20px; position: relative; border-radius: 8px; transition: all 0.3s ease-in-out; width: 100%; height: 100%;"
    >

    <div style="flex-grow: 1; display: flex; justify-content: center; align-items: center;">

        <img class="btn btn-icon btn-box image-input-wrapper btn-active-color-primary bg-body shadow"
             [ngStyle]="{'height': '100%', 'width': '100%', 'object-fit': 'cover', 'display': 'block'}"
             src="{{item.imageUrl}}">
       </div>



</div>
</div>





