.text_3d {
    position: fixed;
    top: 50%; 
    right: 50%;
  
    transform: translate(50%, -50%);
  }
  @media (max-width: 760px) {
    .text_3d {
      position:unset !important;
      top: unset !important;       /* Reset top */
      right: unset !important;     /* Reset right */
      transform: unset !important; /* Reset transform */
      font-size: 16px !important;  /* Optionally adjust font size for smaller screens */
    }
  }