.text_3d {
    position: fixed;
    top: 50%; 
    right: 50%;
  
    transform: translate(50%, -50%);
  }
  .grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 8px;
    overflow: hidden;
  }

  .row {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers content horizontally */
    justify-content: center; /* Centers vertically if needed */
    text-align: center; /* Centers text inside each element */
  }
  
  .value {
    font-weight: bold;
    color: #333333;
    margin-bottom: 10px; /* Adds spacing between values */
  }
  @media (max-width: 760px) {
    .text_3d {
      position:unset !important;
      top: unset !important;       /* Reset top */
      right: unset !important;     /* Reset right */
      transform: unset !important; /* Reset transform */
      font-size: 25px;  /* Optionally adjust font size for smaller screens */
    }
  }