<div class="modal-header">
    <h4 class="modal-title">Line Chart Configuration</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="container" *ngIf="createChart">
    <div class="row mb-3">
      <div class="col-md-4 mb-3" [formGroup]="createChart">
        <label class="col-lg-12 col-createChart-label fw-bold fs-6 required">Parameters
          <span class="ms-2 text-primary"
          [ngbTooltip]="ParametertooltipContent"
          placement="top"
          container="body"
          style="cursor: pointer;">
          <i class="bi bi-info-circle fs-5"></i>
        </span>
        </label>
        <input type="number" class="
                          form-control form-control-lg form-control-solid
                          mb-3 mb-lg-0" name="add_fields" formControlName="add_fields"
                          (change)="onCombinedAddFieldsChange($event)"
          required>
          <div *ngIf="createChart.get('add_fields')?.touched && createChart.get('add_fields')?.invalid" class="text-danger">
            <div *ngIf="createChart.get('add_fields')?.errors?.required">Parameters is required.</div>
          </div>
      </div>
      <div class="col-md-4 mb-3" [formGroup]="createChart">
        <label class="col-lg-12 col-createChart-label fw-bold fs-6 required"> Title
          <span class="ms-2 text-primary"
          [ngbTooltip]="ChartTitletooltipContent"
          placement="top"
          container="body"
          style="cursor: pointer;">
      <i class="bi bi-info-circle fs-5"></i>
    </span> </label>
  
        <input type="text" class="
                    form-control form-control-lg form-control-solid
                    mb-3 mb-lg-0
                  " placeholder="Enter title" formControlName="chart_title" required>
  
                  <div *ngIf="createChart.get('chart_title')?.touched && createChart.get('chart_title')?.invalid" class="text-danger">
                    <div *ngIf="createChart.get('chart_title')?.errors?.required">Title is required.</div>
                  </div>
  
      </div>


      <div class="col-lg-3 col-md-3 col-sm-6 mb-4 mt-4" [formGroup]="createChart">
        <div class="d-flex align-items-center">
          <label for="toggleCheckLegend" class="col-createChart-label fw-bold fs-6  me-2">
            Enable Multi Color
          </label>
          <div class="form-check form-switch">
            <input
            class="form-check-input"
            type="checkbox"
           
        
            formControlName="multiColorCheck"
      
            id="toggleCheckLegend"
          >
          
          </div>
        </div>
      </div>


  
    </div>


    <div class="row mb-3" [formGroup]="createChart">
      <div class="col-md-3 mb-3" [formGroup]="createChart">
        <div class="col-lg-12 form-check form-switch">
        <label for="toggleCheck" class="col-lg-12 col-createChart-label fw-bold fs-6  mt-7">Enable Redirection</label>
        <input class="form-check-input mt-10 mb-3 mb-lg-0" type="checkbox" formControlName="toggleCheck" id="toggleCheck" />
        <span>{{ createChart.get('toggleCheck')?.value ? 'Enabled' : 'Disabled' }}</span>
      </div>
      </div>
  
      <div *ngIf="createChart.get('toggleCheck')?.value" class="col-md-3 mb-3">
        <label for="dashboardIds" class="col-createChart-label fw-bold fs-6 ">Module Names
          <span class="ms-2 text-primary"
          [ngbTooltip]="moduleNamesTooltip"
          placement="top"
          container="body">
      <i class="bi bi-info-circle fs-5"></i>
    </span>

  
          
        </label>
        <ngx-select
          [allowClear]="true"
          formControlName="ModuleNames"
          [items]="showModuleNames"
          optionValueField="value"
          optionTextField="text"
          placeholder="Select Parameter"
          (selectionChanges)="moduleSelection($event)"
          style="width: 100%;"
        >
        </ngx-select>
      </div>
      <div *ngIf="createChart.get('toggleCheck')?.value" class="col-md-3 mb-3">
        <label for="selectType" class="col-createChart-label fw-bold fs-6">Select Redirection Type
          <span class="ms-2 text-primary"
          (mouseenter)="openRedirectionTypeInfoModal(Chart1RedirectionType)"
          style="cursor: pointer;">
      <i class="bi bi-info-circle fs-5"></i>
    </span>
        </label>
        <ngx-select
          id="selectType"
          [allowClear]="true"
          formControlName="selectType"
          [items]="filteredSelectTypeSummary"
          optionValueField="value"
          optionTextField="text"
          placeholder="Select Parameter"
          style="width: 100%;">
        </ngx-select>
      </div>
    
        <div *ngIf="createChart.get('toggleCheck')?.value" class="col-md-3 mb-3">
          <label for="dashboardIds" class="col-createChart-label fw-bold fs-6">Redirect To
            <span class="ms-2 text-primary"
            [ngbTooltip]="redirectToTooltip"
            placement="top"
            container="body">
        <i class="bi bi-info-circle fs-5"></i>
      </span>
          </label>
          <ngx-select
            id="dashboardIds"
            [allowClear]="true"
            formControlName="dashboardIds"
            [items]="dynamicIDArray"
            optionValueField="value"
            optionTextField="text"
            placeholder="Select Parameter"
            style="width: 100%;">
          </ngx-select>
        </div>
      <div class="col-lg-3 col-md-3 col-sm-6 mb-4 mt-4">
        <div class="d-flex align-items-center">
          <label for="toggleCheckLegend" class="col-createChart-label fw-bold fs-6  me-2">
       Enable Legends
          </label>
          <div class="form-check form-switch">
            <input
            class="form-check-input"
            type="checkbox"
           
        
            formControlName="enableLegends"
      
            id="toggleCheckLegend"
          >
          
          </div>
        </div>
      </div>
      
      
      <!-- Conditionally Render Dashboard Ids Field -->
    
    
    
  
  
       </div>

    <!-- <div class="row mb-3">



     </div> -->
  </div>
  
  <!-- Modal body with Tabs -->
  <div class="card shadow-none rounded-0 w-100" [formGroup]="createChart" *ngIf="createChart" style="margin-top: 10px;">
  
    <div class="card card-custom">
  
      <div class="modal-body">
        <div class="card-body pt-0">
          <!-- Tab Navigation -->
          <ul class="nav nav-stretch nav-line-tabs nav-line-tabs-2x border-transparent fs-5 fw-bolder flex-nowrap"
            id="myTab_settings" role="tablist">
            <div class="col-3" role="Data">
              <li class="nav-item">
                <a class="nav-link text-active-primary me-6" id="home-tab" data-bs-toggle="tab" role="tab"
                  aria-controls="dataTab" aria-selected="false" (click)="selectedSettingsTab('dataTab')">Data</a>
              </li>
            </div>
            <div class="col-3" role="Filter">
              <li class="nav-item">
                <a class="nav-link text-active-primary me-6" id="filter-tab" data-bs-toggle="tab" role="tab"
                  aria-controls="filter-tab" aria-selected="false" (click)="selectedSettingsTab('filter-tab')">Filter</a>
              </li>
            </div>
            <!-- <div class="col-3" role="Settings">
              <li class="nav-item">
                <a class="nav-link text-active-primary me-6" id="settings-tabpane" data-bs-toggle="tab" role="tab"
                  aria-controls="settings-tab" aria-selected="false"
                  (click)="selectedSettingsTab('settings-tab')">Settings</a>
              </li>
            </div> -->
            <div class="col-2" role="Advanced">
              <li class="nav-item">
                <a class="nav-link text-active-primary me-6" id="advanced-tabpane" data-bs-toggle="tab" role="tab"
                  aria-controls="advanced-tab" aria-selected="false"
                  (click)="selectedSettingsTab('advanced-tab')">Advanced</a>
              </li>
            </div>

            <div class="col-2" role="drill">
              <li class="nav-item">
                <a class="nav-link text-active-primary me-6" id="drill-tab" data-bs-toggle="tab" role="tab"
                  aria-controls="drill-tab" aria-selected="false" (click)="selectedSettingsTab('drill-tab')">Drill Down Type</a>
              </li>
            </div>


            <div class="col-2" role="Settings">
              <li class="nav-item">
                <a class="nav-link text-active-primary me-6" id="settings-tab" data-bs-toggle="tab" role="tab"
                  aria-controls="settings-tab" aria-selected="false" (click)="selectedSettingsTab('settings-tab')">Settings</a>
              </li>
            </div>
          </ul>
  
          <!-- Tab Content -->
          <div class="tab-content mt-3" id="modalTabsContent">
            <!-- General Tab Content -->
            <div [ngClass]="{'tab-pane fade': true, 'show active': selectedTabset === 'dataTab'}" id="dataTab"
              role="tabpanel" aria-labelledby="home-tab">
              <div formArrayName="all_fields">
                <div *ngFor="let field of all_fields.controls; let fieldIndex=index">
                  <div [formGroupName]="fieldIndex"
                    style="border: 2px solid rgb(201, 228, 239); padding: 10px; margin: 5px;border-radius: 5px;">
  
                    <div class="row g-3">
  
                      <!-- createChart Fields -->
                      <div class="col-md-4 mb-3">
                        <label for="formlist" class="col-createChart-label fw-bold fs-6 required">Forms
                          <span class="ms-2 text-primary"
                          [ngbTooltip]="formTooltip"
                          placement="top"
                          container="body">
                      <i class="bi bi-info-circle fs-5"></i>
                    </span>
                        </label>
                        <ngx-select id="formlist" [allowClear]="true" name="icon" formControlName="formlist"
                          [items]="listofDeviceIds" optionValueField="value" optionTextField="text"
                          (selectionChanges)="selectFormParams($event, fieldIndex)" placeholder="Select createChart">
                        </ngx-select>
                        <div *ngIf="field.get('formlist')?.touched && field.get('formlist')?.invalid" class="text-danger">
                          <div *ngIf="field.get('formlist')?.errors?.required">Form is required.</div>
                        </div>
                      </div>
  
                    <div class="col-md-4 mb-3">
                      <label for="parameterName" class="col-createChart-label fw-bold fs-6 required">Form Fields
                        <span class="ms-2 text-primary"
                        [ngbTooltip]="parameterTooltip"
                        placement="top"
                        container="body">
                    <i class="bi bi-info-circle fs-5"></i>
                  </span>
                      </label>
                      <p-multiSelect id="parameterName" formControlName="parameterName"
                      [options]="getDynamicParams(fieldIndex)"      optionLabel="text"
                        placeholder="Select Parameter" (onChange)="parameterValueCheck($event,fieldIndex)" >
                      </p-multiSelect>
                      <div *ngIf="field.get('parameterName')?.touched && field.get('parameterName')?.invalid" class="text-danger">
                        <div *ngIf="field.get('parameterName')?.errors?.required">Form Fields are required.</div>
                      </div>
                    </div>
  
                      <!-- <div class="col-md-4 mb-3">
                        <label for="groupBy" class="col-createChart-label fw-bold fs-6 required">Group By</label>
                        <ngx-select id="groupBy" [allowClear]="true" formControlName="groupBy" [items]="groupByOptions"
                          optionValueField="value" optionTextField="text" placeholder="Select Group" class="w-100">
                        </ngx-select>
                      </div> -->
  
                      <div class="col-md-4 mb-3">
                        <label for="primaryValue" class="col-createChart-label fw-bold fs-6 required">
                          Primary Value
                          <span class="ms-2 text-primary"
                          (mouseenter)="openPrimaryValueInfoModal(Tile1HelpModal)"
                          style="cursor: pointer;">
                      <i class="bi bi-info-circle fs-5"></i>
                    </span>
                        </label>
                        <ngx-select id="primaryValue" [allowClear]="true" formControlName="primaryValue"
                          [items]="showValues" optionValueField="value" optionTextField="text" placeholder="Select Group"
                          (selectionChanges)="onValueChange($event)" class="w-100"></ngx-select>
                          <div *ngIf="field.get('primaryValue')?.touched && field.get('primaryValue')?.invalid" class="text-danger">
                            <div *ngIf="field.get('primaryValue')?.errors?.required">Primary Value is required.</div>
                          </div>
                      </div>
                      <!-- <div class="col-md-4 mb-3" *ngIf="all_fields.value[fieldIndex].primaryValue === 'Count'">
                        <label for="constant" class="col-createChart-label fw-bold fs-6 required">Parameter Value</label>
                        <ngx-select id="primaryValue" [allowClear]="true" formControlName="parameterValue"
                        [items]="showStatusValues" optionValueField="value" optionTextField="text" placeholder="Select Group"
                        (selectionChanges)="onValueChange($event)" class="w-100"  [disabled]="createChart.get('primaryValue')?.value !== 'count'" ></ngx-select>
                      </div> -->
  
  
  
                      <div class="col-md-4 mb-3" *ngIf="all_fields.value[fieldIndex].primaryValue === 'Constant'">
                        <label for="constant" class="col-createChart-label fw-bold fs-6 required">Constant</label>
                        <input id="constant" type="number" class="form-control form-control-solid"
                          placeholder="Select constant" formControlName="constantValue"
                          [disabled]="createChart.get('primaryValue')?.value !== 'Constant'" />
                      </div>
                      <div class="col-md-4 mb-3" >
                        <label  class="col-createChart-label fw-bold fs-6 ">Undefined Format
                          <span class="ms-2 text-primary"
                          [ngbTooltip]="UndefinedtooltipContent"
                          placement="top"
                          container="body"
                          tooltipClass="custom-tooltip"
                          style="cursor: pointer;">
                      <i class="bi bi-info-circle fs-5"></i>
                    </span>
                        </label>
                        <input id="undefinedCheckLabel" type="text" class="form-control form-control-solid" placeholder="Enter Value"
                          formControlName="undefinedCheckLabel">
                      </div>
  
  
                      <div class="col-md-4 mb-3">
                        <label for="groupByFormat" class="col-createChart-label fw-bold fs-6 required">Group By Format
                          <span class="ms-2 text-primary"
                          [ngbTooltip]="tooltipContent"
                          placement="top"
                          container="body"
                          tooltipClass="custom-tooltip">
                      <i class="bi bi-info-circle fs-5"></i>
                    </span>
                        </label>
                        <input id="groupByFormat" type="text" class="form-control form-control-solid"
                        placeholder="Select GroupByFormat" [formControlName]="'groupByFormat'"
                        (click)="openModalCalender(fieldIndex)" readonly>
                        <div *ngIf="field.get('groupByFormat')?.touched && field.get('groupByFormat')?.invalid" class="text-danger">
                          <div *ngIf="field.get('groupByFormat')?.errors?.required">Group By Format is required.</div>
                        </div>
                 
                      </div>
  
                      <div class="col-md-4 mb-3" *ngIf="showIdField">
                        <label for="id" class="col-createChart-label fw-bold fs-6 required">ID</label>
                        <input id="id" type="number" class="form-control form-control-solid" placeholder="Enter ID"
                          formControlName="widgetid">
                      </div>
  
                      <div class="col-md-4 mb-3" *ngIf="shouldShowProcessedValue">
                        <label for="processed_value" class="col-createChart-label fw-bold fs-6 required">Processed Value</label>
                        <input id="processed_value" type="text" class="form-control form-control-solid"
                          placeholder="Enter Processed Value" formControlName="processed_value">
                      </div>
  
                      <!-- <div class="col-md-4 mb-3">
                        <label for="rangeCalendarTimeRight" class="col-createChart-label fw-bold fs-6">Pre Defined Date
                          Range</label>
                        <input id="rangeCalendarCenter" type="text" class="form-control" readonly
                          ngxDaterangepickerBootstrap [formControl]="datePickerControl" [drops]="dropsDown"
                          [opens]="opensCenter" [locale]="locale" [ranges]="ranges" [showCustomRangeLabel]="true"
                          (selectionChanges)="preDefinedRange($event)"
                          (datesUpdated)="datesUpdatedRange($event,fieldIndex)">
                      </div> -->
  
                      <div class="col-md-4 mb-3">
                        <label class="col-createChart-label fw-bold fs-6 required">Date Range Label
                          <span class="ms-2 text-primary"
                          [ngbTooltip]="DateRangetooltipContent"
                          placement="top"
                          container="body"
                          style="cursor: pointer;">
                      <i class="bi bi-info-circle fs-5"></i>
                    </span>
                        </label>
                        <ngx-select id="primaryValue" [allowClear]="true" formControlName="selectedRangeType"
                        [items]="showCustomValues" optionValueField="value" optionTextField="text" placeholder="Select Group"
                        (selectionChanges)="onValueSelect($event)" class="w-100"   ></ngx-select>
                        <div *ngIf="field.get('selectedRangeType')?.touched && field.get('selectedRangeType')?.invalid" class="text-danger">
                          <div *ngIf="field.get('selectedRangeType')?.errors?.required">Date Range Label is required.</div>
                        </div>
                     
                      </div>
                      <!-- <div class="col-md-4 mb-3">
                        <label for="timeInput" class="col-createChart-label fw-bold fs-6 ">From Time</label>
                        <input type="time" class="form-control form-control-solid" id="timeInput" name="timeInput"
                          formControlName="selectFromTime">
                      </div>
                      <div class="col-md-4 mb-3">
                        <label for="timeInput" class="col-createChart-label fw-bold fs-6 ">To Time</label>
                        <input type="time" class="form-control form-control-solid" id="timeInput" name="timeInput"
                          formControlName="selectToTime">
                      </div> -->
                      <div class="col-md-4">
                        <label for="columnVisibility" class="col-createChart-label fw-bold fs-6">column Visibility
                          <span class="ms-2 text-primary"
                          [ngbTooltip]="columnVisibilityTooltip"
                          placement="top"
                          container="body">
                      <i class="bi bi-info-circle fs-5"></i>
                    </span>
                        </label>
                        <p-multiSelect
                          id="columnVisibility"
                          formControlName="columnVisibility"
                          [options]="getDynamicParams(fieldIndex)"
                          optionLabel="text"
                          placeholder="Select Parameter"
                        
                      
                        ></p-multiSelect>
                      </div>
                      <div class="col-md-4 mb-3">
                        <label for="custom_Label" class="col-createChart-label fw-bold fs-6  required">Custom Label
                          <span class="ms-2 text-primary"
                          [ngbTooltip]="CustomLabeltooltipContent"
                          placement="top"
                          container="body"
                          style="cursor: pointer;">
                      <i class="bi bi-info-circle fs-5"></i>
                    </span>
                        </label>
                        <input type="text" class="form-control form-control-solid"  name="custom_Label"
                          formControlName="custom_Label">
                          <div *ngIf="field.get('custom_Label')?.touched && field.get('custom_Label')?.invalid" class="text-danger">
                            <div *ngIf="field.get('custom_Label')?.errors?.required">Custom Label is required.</div>
                          </div>
                      </div>
                      <div class="col-md-4 mb-3">
                        <label for="parameterName" class="col-createChart-label fw-bold fs-6 required">Format Type
                          <span class="ms-2 text-primary"
                          (mouseenter)="openFormatTypeModal(Chart1FormatTypeModal)"
                          
                          placement="top"
                          container="body">
                      <i class="bi bi-info-circle fs-5"></i>
                    </span>
                        </label>
                        <ngx-select
                          id="parameterName"
                          [allowClear]="true"
                          formControlName="formatType"
                          [items]="FormatTypeValues"
                          optionValueField="value"
                          optionTextField="text"
                          placeholder="Select Parameter"
                      
                          style="width: 100%;">
                        </ngx-select>
                        <div *ngIf="field.get('formatType')?.touched && field.get('formatType')?.invalid" class="text-danger">
                          <div *ngIf="field.get('formatType')?.errors?.required">Format Type is required.</div>
                        </div>
                      </div>


                      <div class="col-md-4 mb-3" *ngIf = "shoRowData" >
                        <label for="constant" class="col-createChart-label fw-bold fs-6 required"></label>
                        <input id="constant" type="number" class="form-control form-control-solid"
                          placeholder="Select constant" formControlName="rowData"
                         />
                      </div>

                      <div class="row d-flex align-items-center">
                        <div class="col-md-6 mb-3">
                          <label for="parameterName" class="col-createChart-label fw-bold fs-6">Date Reference X axis
                            <span
                            class="ms-2 text-primary"
                            [ngbTooltip]="'Reserved for future use'"
                            placement="top"
                            container="body"
                            style="cursor: pointer;"
                          >
                            <i class="bi bi-info-circle fs-5"></i>
                          </span>
                          </label>
                          <p-multiSelect
                            id="parameterName"
                            formControlName="XaxisFormat"
                            [options]="getDynamicDateParams(fieldIndex)"
                            optionLabel="text"
                            placeholder="Select Parameter"
                          ></p-multiSelect>
                        </div>
                      
                        <div class="col-md-6 mb-3">
                          <div class="color-picker-container d-flex align-items-center">
                            <label for="textColorPicker" class="col-createChart-label fw-bold fs-6 ms-3">Select Line Color
                              <span
                              class="ms-2 text-primary"
                              [ngbTooltip]="CustomLineColorTooltip"
                              placement="top"
                              container="body"
                              style="cursor: pointer;"
                            >
                              <i class="bi bi-info-circle fs-5"></i>
                            </span>
                      
                            </label>
                            <input
                              id="textColorPicker"
                              type="color"
                              class="form-control-color ms-3"
                              title="Choose text color"
                              formControlName="CustomlineColor"
                            />
                          </div>
                        </div>
                      </div>
                      
                      
                      
                      
  
  
  
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <!-- Settings Tab Content -->

  
            <div [ngClass]="{'tab-pane fade': true, 'show active': selectedTabset === 'advanced-tab'}" id="advanced-tab"
            role="tabpanel" aria-labelledby="advanced-tabpane">
            <div class="container">
         
              <form [formGroup]="createChart">
                <div class="form-group">
                  <label for="jsonInput" class="col-createChart-label fw-bold fs-6">Highcharts Options:</label>
                  <textarea id="jsonInput" class="form-control" rows="8" formControlName="highchartsOptionsJson"
                            placeholder="Enter Highcharts options as JSON"></textarea>
                </div>
              </form>
              
            
    
              <!-- <div id="chartContainer" style="width: 100%; height: 400px;"></div> -->
            </div>
            
            </div>
            <div [ngClass]="{'tab-pane fade': true, 'show active': selectedTabset === 'filter-tab'}" id="filter-tab"
            role="tabpanel" aria-labelledby="filter-tabpane">
            <form [formGroup]="createChart">
              <div formArrayName="all_fields">
                <div *ngFor="let field of all_fields.controls; let fieldIndex=index">
                  <div [formGroupName]="fieldIndex"
                    style="border: 2px solid rgb(201, 228, 239); padding: 10px; margin: 5px;border-radius: 5px;">
            
              <div class="row g-3 align-items-end mb-4">
                <!-- <div class="col-md-4 mb-3">
                  <label for="formlist" class="col-createChart-label fw-bold fs-6 ">Forms</label>
                  <ngx-select id="filterFormList" [allowClear]="true" name="icon" formControlName="filterFormList"
                    [items]="listofDeviceIds" optionValueField="value" optionTextField="text"
                    (selectionChanges)="selectfilterFormList($event)" placeholder="Select createChart">
                  </ngx-select>
                </div> -->
                <!-- Form Fields -->
                <div class="col-md-4">
                  <label for="parameterName" class="fw-bold fs-6">Form Fields</label>
                  <p-multiSelect
                    id="parameterName"
                    formControlName="filterParameter"
                    [options]="getDynamicParams(fieldIndex)"
                    optionLabel="text"
                    placeholder="Select Parameter"
                    (onChange)="dynamicparameterValue($event,fieldIndex)"
                
                  ></p-multiSelect>
                </div>
              
                <!-- Add Button -->
                <div class="col-md-3">
                  <button type="button" class="btn btn-primary w-100 mt-4" (click)="onAdd(fieldIndex)">Add</button>
                </div>
              
                <!-- Custom Label -->
                <!-- <div class="col-md-5">
                  <label for="custom_Label" class="col-createChart-label fw-bold fs-6 required">Custom Label</label>
                  <input
                    type="text"
                    class="form-control form-control-solid"
                    id="custom_Label"
                    name="custom_Label"
                    formControlName="custom_Label"
                  />
                </div> -->
              </div>
          
              <div class="col-md-12 mb-3">
                <label for="description" class="col-createChart-label fw-bold fs-6">Equation</label>
                <textarea
                id="description"
                formControlName="filterDescription"  
                class="form-control"
                rows="3"
                placeholder="Enter description"
              >{{ selectedParameterValue }}</textarea>
              </div>
                  </div>
                </div>
              </div>
  
  
            </form>
            
          </div>

          <div [ngClass]="{'tab-pane fade': true, 'show active': selectedTabset === 'drill-tab'}" id="drill-tab"
          role="tabpanel" aria-labelledby="drill-tabpane">
          <div class="col-md-4 mb-3">
            <label for="parameterName" class="col-createChart-label fw-bold fs-6 ">Format Type</label>
            <ngx-select
              id="parameterName"
              [allowClear]="true"
              formControlName="DrillDownType"
              [items]="DrillDownTypeFields"
              optionValueField="value"
              optionTextField="text"
              placeholder="Select Parameter"
          
              style="width: 100%;">

            </ngx-select>
   
          </div>

<!-- Drill Fields Form Array - Only show if selected value is 'Multi Level' -->
<div *ngIf="drillFields?.length" formArrayName="drill_fields">
  <div
    *ngFor="let field of drill_fields.controls; let fieldIndex = index"
    [formGroupName]="fieldIndex"
    style="border: 2px solid rgb(21, 163, 219); padding: 10px; margin: 5px; border-radius: 5px;"
  >
    <!-- Dynamic Heading for Each Form -->
    <h5 class="fw-bold mb-3">{{ formHeadings.get(fieldIndex) || 'No Heading' }}:</h5>

    <!-- Loop through conditions and generate ngx-select -->
    <div formArrayName="conditions">
      <div *ngFor="let condition of getFormArrayControls(field); let conditionIndex = index" [formGroupName]="conditionIndex">
        
        <!-- Form Row: Select Field, Custom Label, and Remove Button on the same row -->
        <div class="row g-3 align-items-center" style="border: 2px solid rgb(157, 159, 159); padding: 10px; margin: 5px; border-radius: 5px;">
          <div class="col-md-4">
            <label for="drillTypeLabel" class="col-createChart-label fw-bold fs-6 required">Custom Label</label>
            <input
              type="text"
              class="form-control form-control-solid"
              id="drillTypeLabel"
              name="drillTypeLabel"
              formControlName="drillTypeLabel"
            />
          </div>
          
          <!-- Select Field -->
          <div class="col-md-4">
            <label class="col-createChart-label fw-bold fs-6 required">Select Field</label>
            <ngx-select
              [items]="dynamicParamMap.get(fieldIndex) || []"
              formControlName="drillTypeFields"
              optionValueField="value"
              optionTextField="text"
              placeholder="Select Field">
            </ngx-select>
          </div>

          <!-- Custom Label -->

          <div class="col-md-4 mb-3">
            <label for="primaryValue" class="col-createChart-label fw-bold fs-6 required">
              Primary Value
              <span class="ms-2 text-primary" data-bs-toggle="tooltip" data-bs-placement="top"
                title="Show Value As">
                <i class="bi bi-info-circle fs-5"></i>
              </span>
            </label>
            <ngx-select id="primaryValue" [allowClear]="true" formControlName="drillTypePrimary"
              [items]="showValues" optionValueField="value" optionTextField="text" placeholder="Select Group"
              (selectionChanges)="onValueChange($event)" class="w-100"></ngx-select>
              <div *ngIf="field.get('primaryValue')?.touched && field.get('primaryValue')?.invalid" class="text-danger">
                <div *ngIf="field.get('primaryValue')?.errors?.required">Primary Value is required.</div>
              </div>
          </div>

          <!-- Remove Condition Button -->
          <div class="col-md-2 mt-12 d-flex justify-content-end">
            <button *ngIf="conditionIndex > 0" type="button" class="btn btn-danger btn-sm mt-4" (click)="removeCondition(fieldIndex, conditionIndex)">
              Remove Condition
            </button>
          </div>
        
        </div>
      </div>
    </div>

    <!-- Add Condition & Remove Field Buttons -->
    <div class="d-flex mt-3">
      <button type="button" class="btn btn-primary btn-sm me-4" (click)="addCondition(fieldIndex)">
        Add Condition
      </button>
      <button type="button" class="btn btn-danger btn-sm me-4" (click)="remove(fieldIndex)">
        Remove
      </button>
    </div>
  </div>
</div>





        
        <!-- Add Condition Button -->

        

     
          </div>
          
          <div [ngClass]="{'tab-pane fade': true, 'show active': selectedTabset === 'settings-tab'}" id="settings-tab"
          role="tabpanel" aria-labelledby="settings-tab">
  
  
          <div class="row mt-3">
  
            <div class="col-md-4 mt-5">
              <div class="color-picker-container d-flex align-items-center">
                <label for="textColorPicker" class="col-createChart-label fw-bold fs-6">Data Label Font Color</label>
                <input
                  id="textColorPicker"
                  type="color"
                  class="form-control-color"
                  title="Choose text color"
                  formControlName="dataLabelFontColor"
                />
              </div>
            </div>
            <div class="col-md-4 mt-5">
              <div class="color-picker-container d-flex align-items-center">
                <label for="textColorPicker" class="col-createChart-label fw-bold fs-6 mb-0 me-2">BG Gradient Top Color</label>
                <input
                  id="textColorPicker"
                  type="color"
                  class="form-control-color"
                  title="Choose text color"
                  formControlName="chartBackgroundColor1"
                />
              </div>
            </div>
            
            <div class="col-md-4 mt-5">
              <div class="color-picker-container d-flex align-items-center">
                <label for="textColorPicker" class="col-createChart-label fw-bold fs-6">BG Gradient Bottom Color</label>
                <input
                  id="textColorPicker"
                  type="color"
                  class="form-control-color"
                  title="Choose text color"
                  formControlName="chartBackgroundColor2"
                />
              </div>
            </div>
           </div>
  
  
  
        
   
  
        
  
     
          </div>
          
          
          </div>
        </div>
  
  
        <div class="modal-footer" style="margin-top: 20px;">
          <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Discard</button>
          <button type="button" class="btn btn-primary" *ngIf="!isEditMode"
             (click)="validateAndSubmit()" >Save</button>
          <button type="button" class="btn btn-primary" (click)="validateAndUpdate() " *ngIf="isEditMode"
           >
            Update
          </button>
          <div *ngIf="!formValidationFailed" class="alert alert-danger fw-bold mb-3">
            ⚠️ Please fill all required fields before updating.
          </div>
        </div>
      </div>
  
  
    </div>
  
  </div>
  
  <ng-template #calendarModalChart let-modal>
    <div class="modal-header">
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body right-side-modal">
      <div class="card-body pt-0">
        <div class="container1">
          <div class="list-row">
            <div class="list-column">
              <div class="list-item active" (click)="selectValue('Last 24 Hours', modal)" (mouseenter)="showTooltip('Last 24 Hours')"
                (mouseleave)="hideTooltip()">
                <div class="title">Last 24 Hours</div>
                <div class="example">E.g., Last 24 hours of data</div>
              </div>
              <div class="list-item" (click)="selectValue('Today', modal)" (mouseenter)="showTooltip('Today')"
                (mouseleave)="hideTooltip()">
                <div class="title">Today</div>
                <div class="example">E.g., Data from 00:00 hrs to now</div>
              </div>
              <div class="list-item" (click)="selectValue('Yesterday', modal)" (mouseenter)="showTooltip('Yesterday')"
                (mouseleave)="hideTooltip()">
                <div class="title">Yesterday</div>
                <div class="example">E.g., Data from previous day</div>
              </div>
              <div class="list-item" (click)="selectValue('Last 7 days', modal)" (mouseenter)="showTooltip('Last 7 days')"
                (mouseleave)="hideTooltip()">
                <div class="title">Last 7 days</div>
                <div class="example">E.g., Data for past 7 days</div>
              </div>
              <div class="list-item" (click)="selectValue('Last 30 days', modal)" (mouseenter)="showTooltip('Last 30 days')"
                (mouseleave)="hideTooltip()">
                <div class="title">Last 30 days</div>
                <div class="example">E.g., Data for the past 30 days</div>
              </div>
              <div class="list-item" (click)="selectValue('This Week', modal)" (mouseenter)="showTooltip('This Week')"
                (mouseleave)="hideTooltip()">
                <div class="title">This Week</div>
                <div class="example">E.g., Current week (Sunday to Saturday)</div>
              </div>
              <div class="list-item" (click)="selectValue('Last Week', modal)" (mouseenter)="showTooltip('Last 5 Weeks')"
                (mouseleave)="hideTooltip()">
                <div class="title">Last Week</div>
                <div class="example">E.g., Data for last week</div>
              </div>
              <div class="list-item" (click)="selectValue('This Month', modal)" (mouseenter)="showTooltip('This Month')"
                (mouseleave)="hideTooltip()">
                <div class="title">This Month</div>
                <div class="example">E.g., Data for current month</div>
              </div>
              <div class="list-item" (click)="selectValue('any', modal)" (mouseenter)="showTooltip('any')"
              (mouseleave)="hideTooltip()">
              <div class="title">Any</div>
              <div class="example">E.g., Any</div>
            </div>

            <div class="list-item" (click)="selectValue('Last financial year', modal)" (mouseenter)="showTooltip('Last financial year')"
            (mouseleave)="hideTooltip()">
            <div class="title">Last financial year</div>
            <div class="example">E.g., Data from the last financial year</div>
          </div>
            </div>
          
            <div class="list-column">
              <div class="list-item" (click)="selectValue('Last Month', modal)" (mouseenter)="showTooltip('Last Month')"
                (mouseleave)="hideTooltip()">
                <div class="title">Last Month</div>
                <div class="example">E.g., Data for previous month</div>
              </div>
              <div class="list-item" (click)="selectValue('This Quarter', modal)" (mouseenter)="showTooltip('This Quarter')"
                (mouseleave)="hideTooltip()">
                <div class="title">This Quarter</div>
                <div class="example">E.g., Current quarter (Q1/Q2/Q3/Q4)</div>
              </div>
              <div class="list-item" (click)="selectValue('Last Quarter', modal)" (mouseenter)="showTooltip('Last Quarter')"
                (mouseleave)="hideTooltip()">
                <div class="title">Last Quarter</div>
                <div class="example">E.g., Data from the previous quarter</div>
              </div>
              <div class="list-item" (click)="selectValue('This BiAnnual', modal)" (mouseenter)="showTooltip('This BiAnnual')"
                (mouseleave)="hideTooltip()">
                <div class="title">This BiAnnual</div>
                <div class="example">E.g., Current half-year period</div>
              </div>
              <div class="list-item" (click)="selectValue('Last BiAnnual', modal)" (mouseenter)="showTooltip('Last BiAnnual')"
                (mouseleave)="hideTooltip()">
                <div class="title">Last BiAnnual</div>
                <div class="example">E.g., Previous half-year period</div>
              </div>
              <div class="list-item" (click)="selectValue('This Year', modal)" (mouseenter)="showTooltip('This Year')"
                (mouseleave)="hideTooltip()">
                <div class="title">This Year</div>
                <div class="example">E.g., Data for the current year</div>
              </div>
              <div class="list-item" (click)="selectValue('Last Year', modal)" (mouseenter)="showTooltip('Last Year')"
                (mouseleave)="hideTooltip()">
                <div class="title">Last Year</div>
                <div class="example">E.g., Data from the previous year</div>
              </div>
              <div class="list-item" (click)="selectValue('Last 5 Weeks', modal)" (mouseenter)="showTooltip('Last 5 Years')"
                (mouseleave)="hideTooltip()">
                <div class="title">Last 5 Weeks</div>
                <div class="example">E.g., Data for the last 5 weeks</div>
              </div>
              <div class="list-item" (click)="selectValue('This financial year', modal)" (mouseenter)="showTooltip('This financial year')"
              (mouseleave)="hideTooltip()">
              <div class="title">This financial year</div>
              <div class="example">E.g., Data for the this financial year</div>
            </div>
            </div>
          </div>
          
          
        </div>
      </div>
    </div>
  </ng-template>



  

  <ng-template #Tile1HelpModal let-modal>
    <div class="d-flex justify-content-end" style="padding: 16px 24px 0 0;">
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss()"
        style="position: relative; top: 4px; right: 4px;">
      </button>
    </div>
    <app-tile1-help-primary-value

    ></app-tile1-help-primary-value>
  </ng-template>
  
  <ng-template #Chart1FormatTypeModal let-modal>
    <div class="d-flex justify-content-end" style="padding: 16px 24px 0 0;">
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss()"
        style="position: relative; top: 4px; right: 4px;">
      </button>
    </div>
    <app-chart1-help-format-type
  
    ></app-chart1-help-format-type>
  </ng-template>
  
  <ng-template #Chart1CustomValueModal let-modal>
    <div class="d-flex justify-content-end" style="padding: 16px 24px 0 0;">
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss()"
        style="position: relative; top: 4px; right: 4px;">
      </button>
    </div>
    <app-chart1-help-custom-value
  
    ></app-chart1-help-custom-value>
  </ng-template>
  
  
  
  <ng-template #Chart1RedirectionType let-modal>
    <div class="d-flex justify-content-end" style="padding: 16px 24px 0 0;">
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss()"
        style="position: relative; top: 4px; right: 4px;">
      </button>
    </div>
    <app-chart1-helpredirection-type
  
    ></app-chart1-helpredirection-type>
  </ng-template>