
    <div >
      <div class="modal-header">
        <h4 class="modal-title">Add Title</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>
  
      <div class="fv-row" [formGroup]="createTitle">
        <div class="modal-body">
          <div class="card-body pt-0">
            <!-- <div class="d-flex flex-wrap align-items-center gap-3"> -->
  
            <!-- Rich Text Editor Toolbar -->
             <div class="row">
            <div class="col-md-3">

            <div class="mb-3">
              <label for="fontSelector" class="col-createChart-label fw-bold fs-6 me-2 ">Font Type:</label>
              <div class="d-flex align-items-center gap-2">
              <button
              type="button"
              class="btn btn-light"
              [class.active]="createTitle.value.fontStyle === 'italic'"
              (click)="toggleItalic()"
            >
              <i>I</i>
            </button>
              <!-- Bold Button -->
              <button
                type="button"
                class="btn btn-light"
                [class.active]="createTitle.value.fontWeight === 'bold'"
                (click)="toggleBold()"
              >
                <b>B</b>
              </button>
            
              <!-- Italic Button -->
           
            
              <!-- Underline Button -->
              <button
                type="button"
                class="btn btn-light"
                [class.active]="createTitle.value.textDecoration === 'underline'"
                (click)="toggleUnderline()"
              >
                <u>U</u>
              </button>
              </div>
            </div>
            </div>
        
            <div class="col-md-3">
              <!-- Alignment Buttons -->
              <div class="mb-3">
                <label for="fontSelector" class="col-createChart-label fw-bold fs-6 me-2">Font Align:</label>
                <div class="d-flex align-items-center gap-2">
                <button
                  type="button"
                  class="btn btn-light"
                  [class.active]="createTitle.value.textAlign === 'left'"
                  (click)="setTextAlignment('left')"
                >
                  <i class="bi bi-text-left"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-light"
                  [class.active]="createTitle.value.textAlign === 'center'"
                  (click)="setTextAlignment('center')"
                >
                  <i class="bi bi-text-center"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-light"
                  [class.active]="createTitle.value.textAlign === 'right'"
                  (click)="setTextAlignment('right')"
                >
                  <i class="bi bi-text-right"></i>
                </button>
                </div>
              </div>
            </div>
              
            <div class="col-md-3">
              <!-- Font Family Selector -->
              <div class="mb-3">
                <label for="fontSelector" class="col-createChart-label fw-bold fs-6">Choose Font Style:</label>
                <select
                  id="fontSelector"
                  class="form-select"
                  (change)="onFontChange($event)"
                  [value]="createTitle.value.fontFamily"
                  style="width: auto;"
                >
                  <option value="Lato" style="font-family: 'Lato';">Lato</option>
                  <option value="Open Sans" style="font-family: 'Open Sans';">Open Sans</option>
                  <option value="Roboto" style="font-family: 'Roboto';">Roboto</option>
                  <option value="Serif" style="font-family: 'Serif';">Serif</option>
                  <option value="Arial" style="font-family: 'Arial';">Arial</option>
                  <option value="Courier New" style="font-family: 'Courier New';">Courier New</option>
                  <option value="Georgia" style="font-family: 'Georgia';">Georgia</option>
                  <option value="Tahoma" style="font-family: 'Tahoma';">Tahoma</option>
                  <option value="Times New Roman" style="font-family: 'Times New Roman';">Times New Roman</option>
                  <option value="Trebuchet MS" style="font-family: 'Trebuchet MS';">Trebuchet MS</option>
                  <option value="Verdana" style="font-family: 'Verdana';">Verdana</option>
                  <option value="Comic Sans MS" style="font-family: 'Comic Sans MS';">Comic Sans MS</option>
                  <option value="Calibri" style="font-family: 'Calibri';">Calibri</option>
                  <option value="Lucida Sans Unicode" style="font-family: 'Lucida Sans Unicode';">Lucida Sans Unicode</option>
                  <option value="Impact" style="font-family: 'Impact';">Impact</option>
                  <option value="Garamond" style="font-family: 'Garamond';">Garamond</option>
                  <option value="Palatino Linotype" style="font-family: 'Palatino Linotype';">Palatino Linotype</option>
                  <option value="Arial Black" style="font-family: 'Arial Black';">Arial Black</option>
                  <option value="Sans-serif" style="font-family: 'Sans-serif';">Sans-serif</option>
      <option value="Inter" style="font-family: 'Inter';">Inter</option>
      <option value="Helvetica" style="font-family: 'Helvetica';">Helvetica</option>

 
                </select>
              </div>
            </div>

              
            
            <div class="col-md-3">
              <!-- Font Size Selector -->
              <div class="mb-3">
                <!-- <label  class="col-createChart-label fw-bold fs-6 required">Date Range Label</label> -->
        
              <label for="fontSelector" class="col-createChart-label fw-bold fs-6">Choose Font Size:</label>
              <select
              class="form-select "
              (change)="onFontSizeChange($event)"
              [value]="createTitle.value.fontSize"
              style="width: auto;"
            >
              <option value="8px">8</option>
              <option value="10px">10</option>
              <option value="12px">12</option>
              <option value="14px">14</option>
              <option value="16px">16</option>
              <option value="18px">18</option>
              <option value="20px">20</option>
              <option value="22px">22</option>
              <option value="24px">24</option>
              <option value="26px">26</option>
              <option value="28px">28</option>
              <option value="30px">30</option>
              <option value="36px">36</option>
              <option value="42px">42</option>
              <option value="48px">48</option>
              <option value="56px">56</option>
              <option value="64px">64</option>
              <option value="72px">72</option>
              <option value="80px">80</option>
              <option value="90px">90</option>
              <option value="100px">100</option>
            </select>
          </div>
            </div>
          </div>
            
            
              <!-- Background Color Picker -->
  
              
        
            <div class="color-picker-row" style="display: flex; gap: 1rem; align-items: center;">
              <div class="col-md-6">
              <!-- Background Color Picker -->
              <div class="color-picker-container ">
                <label for="bgColorPicker" class="col-createChart-label fw-bold fs-6">Choose Background Color:</label>
                <input
                  id="bgColorPicker"
                  type="color"
                  class="form-control-color"
                  [value]="createTitle.value.themeColor || '#ffffff'"
                  (input)="updateNameContainerColor($event)"
                  [style.background]="createTitle.value.themeColor || '#ffffff'"
                  title="Choose Name container background color"
                />
              </div>
            </div>
              
              <!-- Text Color Picker -->
              <div class="col-md-6">
              <div class="color-picker-container ">
                <label for="textColorPicker" class="col-createChart-label fw-bold fs-6">Choose Text Color:</label>
                <input
                  id="textColorPicker"
                  type="color"
                  class="form-control-color"
                  [value]="createTitle.value.textColor || '#000000'"
                  (input)="updateTextColor($event)"
                  [style.background]="createTitle.value.textColor || '#000000'"
                  title="Choose text color"
                />
              </div>
            </div>
            </div>
            <div class="row">

              <div class="col-md-4 mb-3">
                <label for="dashboardIds" class="col-createChart-label fw-bold fs-6 ">Module Names</label>
                <ngx-select
                  id="parameterName"
                  [allowClear]="true"
                  formControlName="ModuleNames"
                  [items]="showModuleNames"
                  optionValueField="value"
                  optionTextField="text"
                  placeholder="Select Module Name"
                  (selectionChanges)="moduleSelection($event)"
              
                  style="width: 100%;">
                </ngx-select>
              </div>
  
  
  
              <div class="col-md-4 mb-3">
                <label for="dashboardIds" class="col-createChart-label fw-bold fs-6 ">Redirect To</label>
                <ngx-select
                  id="parameterName"
                  [allowClear]="true"
                  formControlName="dashboardIds"
                  [items]="dynamicIDArray"
                  optionValueField="value"
                  optionTextField="text"
                  placeholder="Redirect To"
                  (selectionChanges)="dynamicRedirectChanged($event)"
              
                  style="width: 100%;">
                </ngx-select>
              </div>
      
                <!-- Select Type -->
                <div class="col-md-4">
                  <div class="d-flex flex-column">
                    <label for="dashboardIds" class="col-createChart-label fw-bold fs-6">Select Type</label>
                    <ngx-select
                      id="selectType"
                      [allowClear]="true"
                      formControlName="selectType"
                      [items]="SelectTypeSummary"
                      optionValueField="value"
                      optionTextField="text"
                      placeholder="Select Type"
                    >
                    </ngx-select>
                  </div>
                </div>
              
                <!-- Column Visibility -->
  
       
            </div>



            
            
            <!-- Name Container -->
            <div class="col-md-12" style="padding: 10px; border-radius: 8px;">
              <label class="col-createChart-label fw-bold fs-6 required">Name</label>
              <div
                formControlName="customLabel"
                contenteditable="true"
                class="form-control form-control-solid"
                [style.font-family]="createTitle.value.fontFamily"
                [style.font-size]="createTitle.value.fontSize"
                [style.font-weight]="createTitle.value.fontWeight"
                [style.font-style]="createTitle.value.fontStyle"
                [style.text-decoration]="createTitle.value.textDecoration"
                [style.background-color]="createTitle.value.themeColor"
                [style.color]="createTitle.value.textColor"
                [style.direction]="'ltr'"
                [style.white-space]="'pre-wrap'"
                [style.overflow]="'auto'"
                [style.text-align]="createTitle.value.textAlign" 
                (input)="updateCustomLabel($event)"
                [textContent]="createTitle.value.customLabel"
              >
              </div>
            
              <!-- Validation Feedback -->
              <div
                class="invalid-feedback"
                *ngIf="createTitle.get('customLabel')?.invalid && createTitle.get('customLabel')?.touched"
                style="padding: 5px; border-radius: 5px;"
              >
                Title Name is required
              </div>
            </div>
            
            
          
          
          
            
          
  
  
    
        </div>
        </div>
        </div>
  
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Discard</button>
          <button type="button" class="btn btn-primary" (click)="validateAndSubmit()" *ngIf="!isEditMode">Save</button>
          <button type="button" class="btn btn-primary" (click)="validateAndUpdate()" *ngIf="isEditMode">Update</button>
        </div>
      </div>
  
 
