  
<div class="card card-custom">
    <div class="card-header border-0 pt-6">
        <h2>Company Configuration</h2>
    </div>
    <div class="card-header border-0 pt-0">

        <!--begin::Card title-->
        <div class="card-title">

        <div class="d-flex align-items-center position-relative my-1">
            <app-keenicon name="magnifier" class="fs-3 position-absolute ms-5"></app-keenicon>
            <input type="text" data-action="company_filter" class="form-control form-control-solid w-250px ps-12"
                placeholder="Search Company ID">
        </div> 
        
    </div>
        <!--begin::Card title-->

        <!--begin::Card toolbar-->
        <div class="card-toolbar">
            <!--begin::Toolbar-->
            <div class="d-flex justify-content-end">
                <!--begin::Add user-->
                <button type="button" class="btn btn-primary" data-action="create">
                    Add
                </button>
                <!--end::Add user-->
                </div>
                <!--end::Toolbar-->
            <!-- </div> -->
            <!--end::Card toolbar-->
        </div>
    </div>
    <!-- <div class="card-body pt-0"> -->
    <div class="card-body pt-0">
        <app-crud-company [componentSource]="'app-company'" [datatableConfig]="datatableConfig" route="/manage-user" (deleteEvent)="delete($event)" (editEvent)="edit($event)" (createEvent)="create()" [reload]="reloadEvent" [modal]="companyModal"></app-crud-company>
    </div>
</div>

<!-- swal is not yet implemented -->
<swal #noticeSwal [swalOptions]="swalOptions">
</swal>


<ng-template #companyModal let-modal>
    <form [formGroup]="createCompanyField" (ngSubmit)="onSubmit($event)">
        <div class="modal-header">
            <h4 *ngIf="showHeading" class="modal-title" id="modal-basic-title">Add Company Configuration</h4>
            <h4 *ngIf="!showHeading" class="modal-title" id="modal-basic-title">Edit Company Configuration</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>

        <div class="modal-body">
            <div class="d-flex flex-column scroll-y p-9" id="kt_modal_update_customer_scroll"
            data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}"
            data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_modal_update_customer_header"
            data-kt-scroll-wrappers="#kt_modal_update_customer_scroll" data-kt-scroll-offset="300px">
            <div class="collapse show" #collapse1="ngbCollapse" [(ngbCollapse)]="isCollapsed1">
                
            <div class="container">
                <div class="row">

                    <div class="col-lg-4 ">
                        <!-- <div class="form-group image-input image-input-outline ">
                            <label class="col-lg-12 col-form-label fw-bold fs-6 ">Company Logo 1</label>

                            <input id="file" type="file" class="form-control" 
                                (change)="firstLogoCompany($event)" required>
                               
                            <br>
                            <img class="btn btn-icon btn-box image-input-wrapper 
                            w-125px h-125px btn-active-color-primary 
                            w-25px h-25px bg-body shadow" src={{base64textString_temp}}>

                        </div> -->
                        <div class="col-lg-12 form-group image-input image-input-outline">
                            <label class="fw-semibold fs-6 mb-2" for="imageInput">Company Logo 1</label>
                            <input type="file" id="imageInput" title="Click to add/update image" class="form-control visually-hidden"  
                            (change)="firstLogoCompany($event)">
                            <label for="imageInput" class="form-control form-control-lg form-control-solid" >Upload Image</label>
                            <br>
                            <img class="btn btn-icon btn-box image-input-wrapper w-125px h-125px btn-active-color-primary w-25px h-25px bg-body shadow"
                                src="{{base64textString_temp}}" *ngIf="base64textString_temp">
                        </div>
                    </div>

                    <div class="col-lg-4 ">
                        <div class="col-lg-12 form-group image-input image-input-outline">
                            <label class=" fw-semibold fs-6 mb-2" for="imageInput1">Company Logo 2</label>
                            <input type="file" id="imageInput1" title="Click to add/update image" class="form-control visually-hidden"  
                            (change)="secondLogoCompany($event)">
                            <label for="imageInput1" class="form-control form-control-lg form-control-solid" >Upload Image</label>
                            <br>
                            <img class="btn btn-icon btn-box image-input-wrapper w-125px h-125px btn-active-color-primary w-25px h-25px bg-body shadow"
                                src="{{base64textString_temp_logo1}}" *ngIf="base64textString_temp_logo1">
                        </div>
                        <!-- <div class="form-group image-input image-input-outline">
                            <label class="col-lg-12 col-form-label fw-bold fs-6" >Company Logo 2</label>

                            <input id="file" type="file" class="form-control"
                                (change)="secondLogoCompany($event)" required>
                            <br>
                            <img class="btn btn-icon btn-box image-input-wrapper 
                            w-125px h-125px btn-active-color-primary 
                            w-25px h-25px bg-body shadow" src={{base64textString_temp_logo1}}>

                        </div> -->
                    </div>

                    <div class="col-md-4">
                        <label class="required fw-semibold fs-6 mb-2"> Company ID</label>

                        <input type="text" class="
                        form-control form-control-lg form-control-solid
                        mb-3 mb-lg-0
                      " placeholder="Enter company ID" name="companyID" formControlName="companyID" required 
                      (keyup)="checkUniqueIdentifier($event)">

                      <span style="color: #fc1900;">{{errorForUniqueID}}</span>
                        <div *ngIf="
                        createCompanyField.get('companyID')?.hasError('required') &&
                        createCompanyField.get('companyID')?.touched
                      " class="fv-plugins-message-container invalid-feedback">
                            Company ID is required
                        </div>

                    </div>

                </div>
            </div>

            <div class="container mb-5">
                <div class="row">

                    <div class="col-md-4">
                        <label class="required fw-semibold fs-6 mb-2"> Client ID
                        </label>
                        <select
                        class="form-select form-select-solid form-select-lg fw-bold"
                        placeholder="select client ID" name="clientID" formControlName="clientID" required >

                        <option *ngFor="let item of listofClientIDs" [value]="item">
                            {{ item }}
                        </option>
                    </select>

                        <div *ngIf="
                        createCompanyField.get('clientID')?.hasError('required') &&
                        createCompanyField.get('clientID')?.touched
                      " class="fv-plugins-message-container invalid-feedback">
                            clientID is required
                        </div>

                    </div>

                    <div class="col-md-4">
                        <label class="required fw-semibold fs-6 mb-2"> Company Name</label>

                        <input type="text" class="
                        form-control form-control-lg form-control-solid
                        mb-3 mb-lg-0
                      " placeholder="Enter company name" name="companyName" formControlName="companyName"
                            required>

                        <div *ngIf="
                     createCompanyField.get('companyName')?.hasError('required') &&
                     createCompanyField.get('companyName')?.touched
                  " class="fv-plugins-message-container invalid-feedback">
                            Company Name is required
                        </div>

                    </div>

                    <div class="col-md-4">
                        <label class="required fw-semibold fs-6 mb-2">Company
                            Description</label>

                        <input type="text" class="
                          form-control form-control-lg form-control-solid
                          mb-3 mb-lg-0
                        " placeholder="Enter company Description" name="companydesc"
                            formControlName="companydesc" required>
                        <div *ngIf="
                             createCompanyField.get('companydesc')?.hasError('required') &&
                             createCompanyField.get('companydesc')?.touched
                        " class="fv-plugins-message-container invalid-feedback">
                            Company Desc is required
                        </div>

                    </div>


                </div>
            </div>

            <div class="container mb-5">
                <div class="row">

                    <div class="col-md-4">
                        <label class="required fw-semibold fs-6 mb-2"> Mobile</label>

                        <input type="text" class="
                            form-control form-control-lg form-control-solid
                            mb-3 mb-lg-0
                          " placeholder="Enter mobile number" name="mobile" formControlName="mobile"
                          minlength=10 maxlength=10 (keyup)="keyPress($event)" required>

                          <span style="color: #fc1900;">{{errorForMobile}}</span>
                        <div *ngIf="
                               createCompanyField.get('mobile')?.hasError('required') &&
                               createCompanyField.get('mobile')?.touched
                          " class="fv-plugins-message-container invalid-feedback">
                            Mobile number is required
                        </div> 
                    </div>

                    <div class="col-md-4">
                        <label class="required fw-semibold fs-6 mb-2"> Email
                        </label>

                        <input type="email" class="
                      form-control form-control-lg form-control-solid
                      mb-3 mb-lg-0
                    " placeholder="Enter email" name="email" formControlName="email"
                           required  (keyup)="checkMail($event)">

                           <span style="color: #fc1900;">{{errorForInvalidEmail}}</span>
                        <div *ngIf="
                      createCompanyField.get('email')?.hasError('required') &&
                      createCompanyField.get('email')?.touched
                    " class="fv-plugins-message-container invalid-feedback">
                            Email is required
                        </div>

                    </div>

                    <div class="col-md-4">
                        <label class="fw-semibold fs-6 mb-2"> Telegram Channel ID
                        </label>

                        <input type="number" class="
                          form-control form-control-lg form-control-solid
                          mb-3 mb-lg-0
                        " placeholder="Enter Telegram ID" name="telegramID" formControlName="telegramID">

                        <!-- <div *ngIf="
                            createCompanyField.get('telegramID')?.hasError('required') &&
                            createCompanyField.get('telegramID')?.touched
                          " class="fv-plugins-message-container invalid-feedback">
                            Telegram ID is required
                        </div> -->

                    </div>                

                </div>
            </div>

            <div class="container">
                <div class="row" style="align-items: end;">

                    <div class="col-md-4 mt-3">
                        <label class="fw-semibold fs-6 mb-2">Company Permission</label>
                        
                        <div style="display: flex;gap:5px">

                            <div class="mb-2">
                                <label class=" fw-semibold fs-6 mb-2"><input
                                    class="form-check-input" name="email_permi" type="checkbox"
                                    formControlName="email_permission" /><span class="fw-bold ps-2 fs-6">Email
                                </span></label>
                            </div>
                        
                            <div class="mb-2">
                                <label class=" fw-semibold fs-6 mb-2"><input
                                    class="form-check-input" name="sms" type="checkbox"
                                    formControlName="sms_permission" /><span class="fw-bold ps-2 fs-6">SMS
                                </span></label>
                            </div>
                        
                            <div class="mb-2">
                                <label class=" fw-semibold fs-6 mb-2"><input
                                    class="form-check-input" name="telegram_permission" type="checkbox"
                                    formControlName="telegram_permission" /><span class="fw-bold ps-2 fs-6">Telegram
                                </span></label>
                            </div>


                        </div>
                       
                    </div>





                  

                    <div class="col-md-4 form-check form-switch mb-2" >
                        <div class="col-lg-12" >
                            <input class="col-lg-6 form-check-input" formControlName="enableCompany"
                                type="checkbox" style="margin-right: 5px;">
                            <label class="fw-semibold fs-6 mb-2" style="padding-top: 0px;">
                                <b>Enable Company</b>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="container">
                <label class="col-lg-12 col-form-label fw-bold fs-6">Metadata</label>
                <ng-container formArrayName="metadata">
                    <ng-container *ngFor="let getvalue of metadata().controls; let metaIndex = index">
                        <div [formGroupName]="metaIndex">
                            &nbsp;
                            <input style="margin: 2px;" type="text" formControlName="key" placeholder="key" />
                            &nbsp;

                            <input type="text" formControlName="value" placeholder="value" />
                            &nbsp;
                            
                            <button type="button" class="btn btn-sm btn-icon btn-danger " style="font-size: 5px;"
                                (click)="remove(metaIndex)" ngbTooltip="Delete Carefully!!!">
                                <span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr061.svg'"
                                    class="svg-icon svg-icon-1"></span>
                            </button>
                            &nbsp;
                        </div>
                    </ng-container>
                </ng-container>
                <button type="button" class="btn btn-sm btn-icon btn-primary " style="font-size: 5px;" (click)="add()"
                    ngbTooltip="Add Carefully!!!">
                    <span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr075.svg'"
                        class="svg-icon svg-icon-3"></span>
                </button>

            </div> -->

            <div class="modal-footer flex-center">
                <!--begin::Button-->
                <button type="reset" id="kt_modal_update_customer_cancel" class="btn btn-light me-3"
                    (click)="modal.dismiss('cancel')">
                    Discard
                </button>
                <!--end::Button-->
    
                <!--begin::Button-->
                <button type="submit" id="kt_modal_update_customer_submit" class="btn btn-primary"
                [disabled]="createCompanyField.invalid || errorForUniqueID =='Company ID already exists' ||
                errorForInvalidEmail == 'Invalid Email Address'" [attr.data-kt-indicator]="isLoading ? 'on' : 'off'">
                    <span *ngIf="!editOperation" class="indicator-label">
                        Submit
                    </span>
                    <span *ngIf="editOperation"  class="indicator-label">
                        Update
                    </span>
                    <span class="indicator-progress">
                        Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                    </span>
                </button>
                <!--end::Button-->
            </div>





            <!-- <div class="modal-footer">

                <button type="button" class="btn btn-sm btn-danger" data-bs-dismiss="modal"
                    #closeCompany>Cancel</button>
               
                    <button [hidden]= "hideUpdateButton"  type="submit" class="btn btn-sm btn-primary"
                        (click)="updateCompany(createCompanyField.value,'editCompany')" *ngIf="showModal"
                        [disabled]="createCompanyField.invalid
                || errorForUniqueID =='Company ID already exists' ||
                errorForInvalidEmail == 'Invalid Email Address'"
                [disabled]="!(createCompanyField.dirty) || createCompanyField.invalid">
                        Update
                    </button>
                <button type="button" class="btn btn-sm btn-primary not-allowed" *ngIf="!showModal" 
                [disabled]="createCompanyField.invalid || errorForUniqueID =='Company ID already exists' ||
                errorForInvalidEmail == 'Invalid Email Address'" (click)="createNewCompany('')">Save</button>
            </div> -->
            </div>
            </div>
        </div>
                       
           
  
    </form>
</ng-template>
 


<!-- (click)="openModal('')" -->