.card-custom {
    border: 1px solid #dee2e6; /* Custom border */
    border-radius: 10px; /* Custom border radius */
  }



  .btn:hover{
    transform: translateY(-2px);
    transition: 0.5s;
} 



#kt_modal_update_customer_scroll {
  max-height: 80vh; /* Adjust the height as per your requirements */
  overflow-y: auto; /* Enables vertical scrolling */
}


input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched{
  border: 2px solid #fc1900 !important;
  background-color: #fff3f3;
  animation: shakeY 0.4s ease;
}