<!-- <div class="container mt-3"> -->
<!-- <h3>Modal Example</h3>
  <p>Click on the button to open the modal.</p> -->

<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
    Open modal
  </button> -->

  <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#myModal" style="margin-left: 30px;">
    <span class="svg-icon svg-icon-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <rect opacity="0.5" x="11.364" y="20.364" width="16" height="2" rx="1" transform="rotate(-90 11.364 20.364)"
                fill="black" />
            <rect x="4.36396" y="11.364" width="16" height="2" rx="1" fill="black" />
        </svg>
    </span>
    Location
</button>
<!-- </div> -->

<!-- The Modal 1-->
<div class="modal" id="myModal">
    <div class="modal-dialog">


        <div class="modal-content" style="width:450px;transform: translate(30%, 0px);">
            <div class="modal-header" style=" padding-bottom: 15px; ">
                <h2 class="modal-title"> Location </h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <br>
            <div class="container">
                <input type="search" id="search" value="" class="col-md-12 input"
                    style="margin:0em auto 1em auto; padding:4px; border-radius:4px; border:1px solid silver;"
                    placeholder="Search For Devices">
            </div>

            <div class="container scroll-y h-300px" id="SimpleJSTree"></div>
            <div class="modal-footer" *ngIf="!All_button_permissions">
                <div class="container" style="margin-left: 30px;">
                    <!--   href="#locPopUpModal" -->
                    <div class="row">

                        <div class="col-md-6">
                            <button  type="button" class="btn btn-sm custom-success  fw-bold"
                                data-bs-toggle="modal" data-bs-target="#myModal2" [disabled]="!enableLocationButton || All_button_permissions"
                                (click)="addLocation()">
                                <span class="svg-icon svg-icon-primary svg-icon-2x">
                                    <!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-05-14-112058/theme/html/demo1/dist/../src/media/svg/icons/Map/Marker1.svg--><svg
                                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24" />
                                            <path
                                                d="M5,10.5 C5,6 8,3 12.5,3 C17,3 20,6.75 20,10.5 C20,12.8325623 17.8236613,16.03566 13.470984,20.1092932 C12.9154018,20.6292577 12.0585054,20.6508331 11.4774555,20.1594925 C7.15915182,16.5078313 5,13.2880005 5,10.5 Z M12.5,12 C13.8807119,12 15,10.8807119 15,9.5 C15,8.11928813 13.8807119,7 12.5,7 C11.1192881,7 10,8.11928813 10,9.5 C10,10.8807119 11.1192881,12 12.5,12 Z"
                                                fill="#000000" fill-rule="nonzero" />
                                        </g>
                                    </svg>
                                    <!--end::Svg Icon-->
                                </span>
                                Add Location
                            </button>
                        </div>

                        <div class="col-md-6">
                            <button type="button" class="btn btn-sm custom-primary fw-bold" data-bs-toggle="modal"
                                data-bs-target="#myModal2" (click)="editLocation()" [disabled]="!enableLocationButton|| All_button_permissions">
                                <span class="svg-icon svg-icon-primary svg-icon-2x">
                                    <!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-05-14-112058/theme/html/demo1/dist/../src/media/svg/icons/Design/Edit.svg--><svg
                                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24" />
                                            <path
                                                d="M8,17.9148182 L8,5.96685884 C8,5.56391781 8.16211443,5.17792052 8.44982609,4.89581508 L10.965708,2.42895648 C11.5426798,1.86322723 12.4640974,1.85620921 13.0496196,2.41308426 L15.5337377,4.77566479 C15.8314604,5.0588212 16,5.45170806 16,5.86258077 L16,17.9148182 C16,18.7432453 15.3284271,19.4148182 14.5,19.4148182 L9.5,19.4148182 C8.67157288,19.4148182 8,18.7432453 8,17.9148182 Z"
                                                fill="#000000" fill-rule="nonzero"
                                                transform="translate(12.000000, 10.707409) rotate(-135.000000) translate(-12.000000, -10.707409) " />
                                            <rect fill="#000000" opacity="0.3" x="5" y="20" width="15" height="2"
                                                rx="1" />
                                        </g>
                                    </svg>
                                    <!--end::Svg Icon-->
                                </span>
                                Edit Location
                            </button>
                        </div>
                        <!-- <br><br> -->
                    </div>
                </div>
                <div class="container" style="margin-left: 30px;">
                    <div class="row">
                        <div class="col-md-6">
                            <button  class="btn btn-sm custom-success  fw-bold" data-bs-toggle="modal" style="width: 142.38px !important;"
                                data-bs-target="#myModal3" (click)="addDevice()" [disabled]="!enableLocationButton ||  this.All_button_permissions">
                                <span class="svg-icon svg-icon-primary svg-icon-2x">
                                    <!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-05-14-112058/theme/html/demo1/dist/../src/media/svg/icons/Devices/Hard-drive.svg--><svg
                                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24" />
                                            <path
                                                d="M2,13 L22,13 L22,18 C22,19.1045695 21.1045695,20 20,20 L4,20 C2.8954305,20 2,19.1045695 2,18 L2,13 Z M18.5,18 C19.3284271,18 20,17.3284271 20,16.5 C20,15.6715729 19.3284271,15 18.5,15 C17.6715729,15 17,15.6715729 17,16.5 C17,17.3284271 17.6715729,18 18.5,18 Z M13.5,18 C14.3284271,18 15,17.3284271 15,16.5 C15,15.6715729 14.3284271,15 13.5,15 C12.6715729,15 12,15.6715729 12,16.5 C12,17.3284271 12.6715729,18 13.5,18 Z"
                                                fill="#000000" />
                                            <path
                                                d="M5.79268604,8 L18.207314,8 C18.5457897,8 18.8612922,8.17121884 19.0457576,8.45501165 L22,13 L2,13 L4.95424243,8.45501165 C5.13870775,8.17121884 5.45421032,8 5.79268604,8 Z"
                                                fill="#000000" opacity="0.3" />
                                        </g>
                                    </svg>
                                    <!--end::Svg Icon-->
                                </span>
                                Add Form
                            </button>
                        </div>

                        <div class="col-md-6">
                            <button type="button" class="btn btn-sm custom-primary  fw-bold" data-bs-target="#myModal3" style="width: 142.38px !important;"
                                data-bs-toggle="modal" (click)="editDevice()" [disabled]="!enableDeviceButton ||  this.All_button_permissions">
                                <span class="svg-icon svg-icon-primary svg-icon-2x">
                                    <!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-05-14-112058/theme/html/demo1/dist/../src/media/svg/icons/Design/Edit.svg--><svg
                                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24" />
                                            <path
                                                d="M8,17.9148182 L8,5.96685884 C8,5.56391781 8.16211443,5.17792052 8.44982609,4.89581508 L10.965708,2.42895648 C11.5426798,1.86322723 12.4640974,1.85620921 13.0496196,2.41308426 L15.5337377,4.77566479 C15.8314604,5.0588212 16,5.45170806 16,5.86258077 L16,17.9148182 C16,18.7432453 15.3284271,19.4148182 14.5,19.4148182 L9.5,19.4148182 C8.67157288,19.4148182 8,18.7432453 8,17.9148182 Z"
                                                fill="#000000" fill-rule="nonzero"
                                                transform="translate(12.000000, 10.707409) rotate(-135.000000) translate(-12.000000, -10.707409) " />
                                            <rect fill="#000000" opacity="0.3" x="5" y="20" width="15" height="2"
                                                rx="1" />
                                        </g>
                                    </svg>
                                    <!--end::Svg Icon-->
                                </span>
                                Edit Form
                            </button>
                        </div>
                    </div>

                </div>
                <!-- <button type="button" class="col-md-12 btn btn-sm btn-primary" data-bs-toggle="modal"
                    href="#devicemultiModal">
                    <span class="svg-icon svg-icon-primary svg-icon-2x"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <rect x="0" y="0" width="24" height="24"/>
                            <path d="M5,2 L19,2 C20.1045695,2 21,2.8954305 21,4 L21,6 C21,7.1045695 20.1045695,8 19,8 L5,8 C3.8954305,8 3,7.1045695 3,6 L3,4 C3,2.8954305 3.8954305,2 5,2 Z M11,4 C10.4477153,4 10,4.44771525 10,5 C10,5.55228475 10.4477153,6 11,6 L16,6 C16.5522847,6 17,5.55228475 17,5 C17,4.44771525 16.5522847,4 16,4 L11,4 Z M7,6 C7.55228475,6 8,5.55228475 8,5 C8,4.44771525 7.55228475,4 7,4 C6.44771525,4 6,4.44771525 6,5 C6,5.55228475 6.44771525,6 7,6 Z" fill="#000000" opacity="0.3"/>
                            <path d="M5,9 L19,9 C20.1045695,9 21,9.8954305 21,11 L21,13 C21,14.1045695 20.1045695,15 19,15 L5,15 C3.8954305,15 3,14.1045695 3,13 L3,11 C3,9.8954305 3.8954305,9 5,9 Z M11,11 C10.4477153,11 10,11.4477153 10,12 C10,12.5522847 10.4477153,13 11,13 L16,13 C16.5522847,13 17,12.5522847 17,12 C17,11.4477153 16.5522847,11 16,11 L11,11 Z M7,13 C7.55228475,13 8,12.5522847 8,12 C8,11.4477153 7.55228475,11 7,11 C6.44771525,11 6,11.4477153 6,12 C6,12.5522847 6.44771525,13 7,13 Z" fill="#000000"/>
                            <path d="M5,16 L19,16 C20.1045695,16 21,16.8954305 21,18 L21,20 C21,21.1045695 20.1045695,22 19,22 L5,22 C3.8954305,22 3,21.1045695 3,20 L3,18 C3,16.8954305 3.8954305,16 5,16 Z M11,18 C10.4477153,18 10,18.4477153 10,19 C10,19.5522847 10.4477153,20 11,20 L16,20 C16.5522847,20 17,19.5522847 17,19 C17,18.4477153 16.5522847,18 16,18 L11,18 Z M7,20 C7.55228475,20 8,19.5522847 8,19 C8,18.4477153 7.55228475,18 7,18 C6.44771525,18 6,18.4477153 6,19 C6,19.5522847 6.44771525,20 7,20 Z" fill="#000000"/>
                        </g>
                    </svg></span>
                    Add Multiple Device</button>
                    <br><br> -->
                <div class="container">
                    <div class="row">
                        <!-- <p>enableDeviceButton --- {{enableDeviceButton}}</p>
                        <p>enableLocationButton --- {{enableLocationButton}}</p> -->
                        <button class="btn btn-sm btn-danger" data-bs-target="#myModal" style="margin-left: 35px!important;width: 330px!important;"
                            data-bs-toggle="modal" (click)="deleteDevice()"
                            [disabled]="!enableDeviceButton && !enableLocationButton ||  this.All_button_permissions">
                            <span class="svg-icon svg-icon-primary svg-icon-2x"><svg xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
                                    viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect x="0" y="0" width="24" height="24" />
                                        <path
                                            d="M6,8 L18,8 L17.106535,19.6150447 C17.04642,20.3965405 16.3947578,21 15.6109533,21 L8.38904671,21 C7.60524225,21 6.95358004,20.3965405 6.89346498,19.6150447 L6,8 Z M8,10 L8.45438229,14.0894406 L15.5517885,14.0339036 L16,10 L8,10 Z"
                                            fill="#000000" fill-rule="nonzero" />
                                        <path
                                            d="M14,4.5 L14,3.5 C14,3.22385763 13.7761424,3 13.5,3 L10.5,3 C10.2238576,3 10,3.22385763 10,3.5 L10,4.5 L5.5,4.5 C5.22385763,4.5 5,4.72385763 5,5 L5,5.5 C5,5.77614237 5.22385763,6 5.5,6 L18.5,6 C18.7761424,6 19,5.77614237 19,5.5 L19,5 C19,4.72385763 18.7761424,4.5 18.5,4.5 L14,4.5 Z"
                                            fill="#000000" opacity="0.3" />
                                    </g>
                                </svg></span>
                            Delete Node
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- The Modal 2-->
<div class="modal" id="myModal2">
    <div class="modal-dialog">
        <!-- <div class="modal-content">

      Modal Header
      <div class="modal-header">
        <h4 class="modal-title">Modal Heading 2</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      Modal body
      <div class="modal-body">
        Modal body 2..
      </div>


      Modal footer
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal">Close 2</button>
       
         <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal"> save</button>
      </div>
     
     

    </div> -->

        <div class="modal-content" style="width:800px;transform: translate(-5%, 0px);">
            <div class="modal-header" style=" padding-bottom: 15px; ">
                <h2 class="modal-title" *ngIf="showNewLoc">Add Location </h2>
                <h2 class="modal-title" *ngIf="!showNewLoc">Edit Location </h2>
                <button type="button" class="btn-close" data-bs-toggle="modal" aria-label="Close"
                    data-bs-target="#myModal"></button>
            </div>

            <div class="fv-row" [formGroup]="createLocationField">
                <div class="card-body border-top p-9">
                    <div class="container">
                        <div class="row">
                            <b>Parent ID:{{parentID_selected_node}}</b>
                            <div class="col-md-4">
                                <label class="col-lg-12 col-form-label fw-bold fs-6 required"> Name</label>

                                <input type="text" class="
                              form-control form-control-lg form-control-solid
                              mb-3 mb-lg-0
                            " placeholder="Enter name" name="name" formControlName="name" required>
                                <div *ngIf="
                            createLocationField.get('name')?.hasError('required') &&
                            createLocationField.get('name')?.touched
                            " class="fv-plugins-message-container invalid-feedback">
                                    Name is required
                                </div>

                            </div>

                            <div class="col-md-4">
                                <label class="col-lg-12 col-form-label fw-bold fs-6 required"> Description</label>

                                <input type="text" class="
                              form-control form-control-lg form-control-solid
                              mb-3 mb-lg-0
                            " placeholder="Enter description" name="description" formControlName="description"
                                    required>
                                <div *ngIf="
                            createLocationField.get('description')?.hasError('required') &&
                            createLocationField.get('description')?.touched
                            " class="fv-plugins-message-container invalid-feedback">
                                    Description is required
                                </div>

                            </div>

                            <div class="col-md-4">
                                <!-- <label class="col-lg-12 col-form-label fw-bold fs-6 required"> Area</label> -->

                                <!-- <input type="number" class="
                              form-control form-control-lg form-control-solid
                              mb-3 mb-lg-0
                            " placeholder="Enter area" name="area" formControlName="area" required> -->

                                <div *ngIf="
                            createLocationField.get('area')?.hasError('required') &&
                            createLocationField.get('area')?.touched
                            " class="fv-plugins-message-container invalid-feedback">
                                    area is required
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="container">
                        <div class="row">

                            <!-- <div class="col-md-4">

                                <label class="col-lg-12 col-form-label fw-bold fs-6 "> Summary Enable</label>
                                <label class="form-check form-check-inline form-check-solid me-5"><input
                                        class="form-check-input" name="summary_enable" type="checkbox"
                                        formControlName="summary_enable" /><span class="fw-bold ps-2 fs-6">
                                    </span></label>

                            </div>

                            <div class="col-md-4">
                                <label class="col-lg-12 col-form-label fw-bold fs-6 ">Summary Types</label>

                                <select class="form-select form-select-solid form-select-lg fw-bold"
                                    placeholder="select report to" name="summary_types" formControlName="summary_types">
                                    <option value="Min">Min</option>
                                    <option value="Max">Max</option>
                                    <option value="Avg">Avg</option>
                                </select>
                            </div> -->

                            <div class="col-md-4">
                                <label class="col-lg-12 col-form-label fw-bold fs-6 ">Magicboard View</label>
                                <!-- (selectionChanges)="onDashboardViewSelect($event)" -->
                                <ngx-select formControlName="magicboard_view"   [allowClear]="true" [items]="multiSelectMagicboard"
                                optionValueField="value" optionTextField="text" placeholder="Select MagicboardID">
                                </ngx-select> 
                                <!-- <p> listofMagicboardIds---{{listofMagicboardIds}}</p> -->
                                <!-- <ng-multiselect-dropdown *ngIf="multiSelectMagicboard.length > 0" style="
                                    display: inline-block; 
                                    width: 100%;
                                    padding: 0px ;
                                    margin-bottom: 0;
                                    font-weight: 0px;
                                    line-height: 1.52857143;
                                    text-align: left;
                                    vertical-align: middle;
                                    cursor: pointer;
                                    background-image: none;
                                    border-radius: 4px;"
                                  
                                 class="form-select form-select-solid form-select-lg fw-bold"
                                    [placeholder]="'Select MagicboardID'" [settings]="singleSelection_magic"
                                    [data]="multiSelectMagicboard" (onSelect)="onDashboardViewSelect($event)"
                                    [formControl]="$any(createLocationField.controls['magicboard_view'])" >
                                </ng-multiselect-dropdown> -->

                                  
                                <div *ngIf="
                            createLocationField.get('magicboard_view')?.hasError('required') &&
                            createLocationField.get('magicboard_view')?.touched
                            " class="fv-plugins-message-container invalid-feedback">
                                    Magicboard View is required
                                </div>

                            </div>



                            <div class="col-md-4">
                                <label class="col-lg-12 col-form-label fw-bold fs-6 ">DreamBoard View</label>
                                <!-- <p> listofDreamboardIds---{{listofDreamboardIds}}</p> -->
                                <ngx-select formControlName="dreamboard_view"  [allowClear]="true" [items]="listofDreamboardIds"
                                optionValueField="value" optionTextField="text" placeholder="Select DreamboardID">
                                </ngx-select> 
                                <!-- <ng-multiselect-dropdown *ngIf="listofDreamboardIds.length > 0" style="
                            display: inline-block; 
                            width: 100%;
                            padding: 0px ;
                            margin-bottom: 0;
                            font-weight: 0px;
                            line-height: 1.52857143;
                            text-align: left;
                            vertical-align: middle;
                            cursor: pointer;
                            background-image: none;
                            border-radius: 4px;
                          
                        " class="form-select form-select-solid form-select-lg fw-bold"
                                    [placeholder]="'Select DreamBoard ID'" [settings]="singleSelection_dream"
                                    [data]="listofDreamboardIds" (onSelect)="onDreamboardViewSelect($event)"
                                    [formControl]="$any(createLocationField.controls['dreamboard_view'])" >
                                </ng-multiselect-dropdown> -->

                                  
                                <div *ngIf="
                            createLocationField.get('dreamboard_view')?.hasError('required') &&
                            createLocationField.get('dreamboard_view')?.touched
                            " class="fv-plugins-message-container invalid-feedback">
                                    Dreamboard View is required
                                </div>

                            </div>
<!-- 
                            <div class="col-md-4"> -->
                                <!-- <label class="col-lg-12 col-form-label fw-bold fs-6 ">Leadership View</label> -->
                                <!-- (selectionChanges)="onLeadershipViewSelect($event)"  -->

                                <!-- <ngx-select formControlName="leadership_view"  [allowClear]="true" [items]="temp_TemplateID_Label"
                                optionValueField="value" optionTextField="text" placeholder="Select MagicboardID">
                                </ngx-select>  -->
                                <!-- <ng-multiselect-dropdown style="
                            display: inline-block; 
                            width: 100%;
                            padding: 0px ;
                            margin-bottom: 0;
                            font-weight: 0px;
                            line-height: 1.52857143;
                            text-align: left;
                            vertical-align: middle;
                            cursor: pointer;
                            background-image: none;
                            border-radius: 4px;
                          
                        " class="form-select form-select-solid form-select-lg fw-bold"
                                    [placeholder]="'Select templateID'" [settings]="singleSelection"
                                    [data]="temp_TemplateID_Label" (onSelect)="onLeadershipViewSelect($event)"
                                    [formControl]="$any(createLocationField.controls['leadership_view'])" >
                                </ng-multiselect-dropdown> -->

                                <!-- <div *ngIf="
                                createLocationField.get('leadership_view')?.hasError('required') &&
                                createLocationField.get('leadership_view')?.touched
                                " class="fv-plugins-message-container invalid-feedback">
                                        Leadership View is required
                                    </div> -->

                            <!-- </div> -->

                            <!-- <div class="col-md-4"> -->
                                <!-- <label class="col-lg-12 col-form-label fw-bold fs-6">Mobile View</label> -->

                                <!-- (selectionChanges)="onMobileViewSelect($event)" -->
   <!-- <ngx-select formControlName="mobile_view"   [allowClear]="true" [items]="temp_TemplateID_Label"
                                optionValueField="value" optionTextField="text" placeholder="Select templateID">
                                </ngx-select>  -->

                                <!-- <ng-multiselect-dropdown style="
                            display: inline-block; 
                            width: 100%;
                            padding: 0px ;
                            margin-bottom: 0;
                            font-weight: 0px;
                            line-height: 1.52857143;
                            text-align: left;
                            vertical-align: middle;
                            cursor: pointer;
                            background-image: none;
                            border-radius: 4px;
                          
                        " class="form-select form-select-solid form-select-lg fw-bold"
                                    [placeholder]="'Select templateID'" [settings]="singleSelection"
                                    [data]="temp_TemplateID_Label" (onSelect)="onMobileViewSelect($event)"
                                    [formControl]="$any(createLocationField.controls['mobile_view'])" >
                                </ng-multiselect-dropdown> -->

                                <!-- <div *ngIf="
                                createLocationField.get('mobile_view')?.hasError('required') &&
                                createLocationField.get('mobile_view')?.touched
                                " class="fv-plugins-message-container invalid-feedback">
                                        Mobile View is required
                                    </div> -->
                            <!-- </div> -->

                            <div class="col-md-4">
                               
                                <label class="col-lg-12 col-form-label fw-bold fs-6">Powerboard View</label>
                                <ngx-select formControlName="powerboard_view"  [allowClear]="true" [items]="listofPowerboardIds"
                                optionValueField="value" optionTextField="text" placeholder="Select PowerboardID">
                                </ngx-select> 
                                <!-- <select class="form-select form-select-solid form-select-lg fw-bold"
                                    placeholder="select powerboard view" name="powerboard_view"
                                    formControlName="powerboard_view">
<option [value] ="null" [selected]="true" >Select PowerBoardID</option>
                                    <option *ngFor="let item of listofPowerboardIds" [value]="item">
                                        {{ item }}
                                    </option>
                                </select> -->
                            </div>

                        </div>
                    </div>

                    <div class="modal-footer">

                        <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal"
                            data-bs-target="#myModal">Cancel</button>

                        <button type="button" class="btn btn-sm btn-primary not-allowed"
                            (click)="updateLocation('','location')" data-bs-toggle="modal" data-bs-target="#myModal"
                            [disabled]="createLocationField.invalid ||  this.All_button_permissions" *ngIf="showNewLoc">Save</button>
                        <button type="button" class="btn btn-sm btn-primary not-allowed"
                            (click)="updateLocation('','updatelocation')" data-bs-toggle="modal"
                            data-bs-target="#myModal"  *ngIf="!showNewLoc && hideDeleteButton"
                            [disabled]="createLocationField.invalid ||  this.All_button_permissions">Update</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- modal 3 -->
<div class="modal" id="myModal3">
    <div class="modal-dialog">
        <!-- <div class="modal-content">
  
        Modal Header
        <div class="modal-header">
          <h4 class="modal-title">Modal Heading 2</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        Modal body
        <div class="modal-body">
          Modal body 2..
        </div>
  
  
        Modal footer
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal">Close 2</button>
         
           <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal"> save</button>
        </div>
       
       
  
      </div> -->

        <div class="modal-content" style="width:800px;transform: translate(-5%, 0px);">
            <div class="modal-header" style=" padding-bottom: 15px; ">
                <h2 class="modal-title" *ngIf="showNewDevice"> Add Form </h2>
                <h2 class="modal-title" *ngIf="!showNewDevice"> Edit Form  </h2>
                <button type="button" class="btn-close" data-bs-toggle="modal" aria-label="Close"
                    data-bs-target="#myModal"></button>
            </div>

            <div class="fv-row" [formGroup]="createDeviceField">
                <div class="card-body border-top p-9">
                    <div class="container">
                        <div class="row">

                            <div class="col-md-4">
                                <label class="col-lg-12 col-form-label fw-bold fs-6 required"> Form Name </label>
<div class="custom-multiselect">
    <ng-multiselect-dropdown   style="
        display: inline-block; 
        width: 100%;
        padding: 0px ;
        margin-bottom: 0;
        font-weight: 0px;
        line-height: 1.52857143;
        text-align: left;
        vertical-align: middle;
        cursor: pointer;
        background-image: none;
        border-radius: 4px;
      
    " class="form-select form-select-solid form-select-lg fw-bold" [placeholder]="'Select Devices'"
                [settings]="dropdownSettings" [data]="listofDeviceIds"  (onDeSelect)="onDeviceDeSelect($event)"
                (onSelect)="onDeviceSelect($event)" (onSelectAll)="onSelectAllDevices($event)"
                [formControl]="$any(createDeviceField.controls['name'])" required>
            </ng-multiselect-dropdown>
</div>
                               
                            

                                <div *ngIf="
                            createDeviceField.get('name')?.hasError('required') &&
                            createDeviceField.get('name')?.touched
                            " class="fv-plugins-message-container invalid-feedback">
                                Name is required
                            </div>

                            </div>

                            <div class="col-md-4">
                                <label class="col-lg-12 col-form-label fw-bold fs-6 required"> Description</label>

                                <input type="text" class="
                              form-control form-control-lg form-control-solid
                              mb-3 mb-lg-0
                            " placeholder="Enter description" name="description" formControlName="description"
                                    required>
                                <div *ngIf="
                            createDeviceField.get('description')?.hasError('required') &&
                            createDeviceField.get('description')?.touched
                            " class="fv-plugins-message-container invalid-feedback">
                                    Description is required
                                </div>

                            </div>
                     
                            <div class="col-md-4">
                                <label class="col-lg-12 col-form-label fw-bold fs-6 ">Magicboard View</label> 
                                <!-- (selectionChanges)="onDashboardViewSelect_device($event)"  -->

                                <ngx-select formControlName="magicboard_view"  [allowClear]="true" [items]="multiSelectMagicboard"
                                optionValueField="value" optionTextField="text" placeholder="Select MagicboardID">
                                </ngx-select>

                                <!-- <ng-multiselect-dropdown *ngIf="multiSelectMagicboard.length > 0" style="
                            display: inline-block; 
                            width: 100%;
                            padding: 0px ;
                            margin-bottom: 0;
                            font-weight: 0px;
                            line-height: 1.52857143;
                            text-align: left;
                            vertical-align: middle;
                            cursor: pointer;
                            background-image: none;
                            border-radius: 4px;
                          
                        " class="form-select form-select-solid form-select-lg fw-bold"
                                    [placeholder]="'Select MagicboardID'" [settings]="singleSelection"
                                    [data]="multiSelectMagicboard" (onSelect)="onDashboardViewSelect_device($event)"
                                    [formControl]="$any(createDeviceField.controls['magicboard_view'])" >
                                </ng-multiselect-dropdown> -->

                                <div *ngIf="
                                createDeviceField.get('magicboard_view')?.hasError('required') &&
                                createDeviceField.get('magicboard_view')?.touched
                                " class="fv-plugins-message-container invalid-feedback">
                                    Magicboard View is required
                                </div>


                            </div>

                            <div class="col-md-4">
                                <label class="col-lg-12 col-form-label fw-bold fs-6 ">DreamBoard View</label>
                                <!-- <p> listofDreamboardIds---{{listofDreamboardIds}}</p> -->
                                <ngx-select formControlName="dreamboard_view_device"  [allowClear]="true" [items]="listofDreamboardIds"
                                placeholder="Select DreamBoardID">
                                 </ngx-select>
                            
                                <!-- <ng-multiselect-dropdown *ngIf="listofDreamboardIds.length > 0" style="
                            display: inline-block; 
                            width: 100%;
                            padding: 0px ;
                            margin-bottom: 0;
                            font-weight: 0px;
                            line-height: 1.52857143;
                            text-align: left;
                            vertical-align: middle;
                            cursor: pointer;
                            background-image: none;
                            border-radius: 4px;
                          
                        " class="form-select form-select-solid form-select-lg fw-bold"
                                    [placeholder]="'Select DreamBoard ID'" [settings]="singleSelection_dream"
                                    [data]="listofDreamboardIds" (onSelect)="onDreamboardViewSelect_device($event)"
                                    [formControl]="$any(createDeviceField.controls['dreamboard_view'])" >
                                </ng-multiselect-dropdown> -->

                                  
                                <div *ngIf="
                            createDeviceField.get('dreamboard_view')?.hasError('required') &&
                            createDeviceField.get('dreamboard_view')?.touched
                            " class="fv-plugins-message-container invalid-feedback">
                                    Dreamboard View is required
                                </div>

                            </div>

                            <!-- <div class="col-md-4">
                                <label class="col-lg-12 col-form-label fw-bold fs-6 ">Leadership View</label> -->
                                <!-- <ngx-select formControlName="leadership_view"  (selectionChanges)="onLeadershipViewSelect_device($event)" [allowClear]="true" [items]="temp_TemplateID_Label"
                                optionValueField="value" optionTextField="text" placeholder="Select templateID">
                                </ngx-select> -->
                                <!-- <select class="form-select form-select-solid form-select-lg fw-bold"
                                    placeholder="select report to" name="leadership_view"
                                    formControlName="leadership_view">
                                    <option value="auto">Auto</option>
                                    <option value="type_1">Type 1 LV</option>
                                    <option value="type_2">TYpe 2 LV</option>
                                </select> -->

                                <!-- <select class="form-select form-select-solid form-select-lg fw-bold"
                                placeholder="select leadership view" name="leadership_view"
                                formControlName="leadership_view" required>

                                <option *ngFor="let item of temp_TemplateID_Label" [value]="item">
                                    {{ item }}
                                </option>
                            </select> -->

                                <!-- <ng-multiselect-dropdown style="
                            display: inline-block; 
                            width: 100%;
                            padding: 0px ;
                            margin-bottom: 0;
                            font-weight: 0px;
                            line-height: 1.52857143;
                            text-align: left;
                            vertical-align: middle;
                            cursor: pointer;
                            background-image: none;
                            border-radius: 4px;
                          
                        " class="form-select form-select-solid form-select-lg fw-bold"
                                    [placeholder]="'Select templateID'" [settings]="singleSelection"
                                    [data]="temp_TemplateID_Label" (onSelect)="onLeadershipViewSelect_device($event)"
                                    [formControl]="$any(createDeviceField.controls['leadership_view'])">
                                </ng-multiselect-dropdown> -->

                                <!-- <div *ngIf="
                                createDeviceField.get('leadership_view')?.hasError('required') &&
                                createDeviceField.get('leadership_view')?.touched
                                " class="fv-plugins-message-container invalid-feedback">
                                    Leadership View is required
                                </div> -->


                            <!-- </div> -->

                            <!-- <div class="col-md-4">
                                <label class="col-lg-12 col-form-label fw-bold fs-6 ">Mobile View</label> -->
                                <!-- <ngx-select formControlName="mobile_view"  (selectionChanges)="onMobileViewSelect_device($event)" [allowClear]="true" [items]="temp_TemplateID_Label"
                                optionValueField="value" optionTextField="text" placeholder="Select templateID">
                                </ngx-select> -->

                                <!-- <select class="form-select form-select-solid form-select-lg fw-bold"
                                    placeholder="select report to" name="mobile_view" formControlName="mobile_view">
                                    <option value="auto">Auto</option>
                                    <option value="type_1">Type 1 LV</option>
                                    <option value="type_2">TYpe 2 LV</option>
                                </select> -->
                                <!-- <select class="form-select form-select-solid form-select-lg fw-bold"
                                placeholder="select mobile view" name="mobile_view"
                                formControlName="mobile_view" required>

                                <option *ngFor="let item of temp_TemplateID_Label" [value]="item">
                                    {{ item }}
                                </option>
                            </select> -->

                                <!-- <ng-multiselect-dropdown style="
                            display: inline-block; 
                            width: 100%;
                            padding: 0px ;
                            margin-bottom: 0;
                            font-weight: 0px;
                            line-height: 1.52857143;
                            text-align: left;
                            vertical-align: middle;
                            cursor: pointer;
                            background-image: none;
                            border-radius: 4px;
                          
                        " class="form-select form-select-solid form-select-lg fw-bold"
                                    [placeholder]="'Select templateID'" [settings]="singleSelection"
                                    [data]="temp_TemplateID_Label" (onSelect)="onMobileViewSelect_device($event)"
                                    [formControl]="$any(createDeviceField.controls['mobile_view'])" >
                                </ng-multiselect-dropdown> -->

                                <!-- <div *ngIf="
                                createDeviceField.get('mobile_view')?.hasError('required') &&
                                createDeviceField.get('mobile_view')?.touched
                                " class="fv-plugins-message-container invalid-feedback">
                                    Mobile View is required
                                </div>

                            </div> -->

                            <div class="col-md-4">
                                <label class="col-lg-12 col-form-label fw-bold fs-6 ">Icon</label>

                                <select class="form-select form-select-solid form-select-lg fw-bold"
                                    placeholder="select report to" name="icon" formControlName="icon">
                                    <!-- <option value="fa fa-hdd-o">Device</option> -->
                                    <option value="fa fa-cube">Cube</option>
                                    <option value="fa fa-cubes">Cubes</option>
                                    <option value="fa fa-bolt">Bolt</option>
                                    <option value="fa fa-inbox">Inbox</option>
                                    <option value="fa fa-rocket">Rocket</option>
                                    <option value="fa fa-wifi">WiFi</option>
                                    <option value="fa fa-mobile">Mobile</option>
                                    <option value="fa fa-laptop">Laptop</option>
                                    <option value="fa fa-desktop">Desktop</option>
                                    <option value="fa fa-car">Car</option>
                                </select>
                            </div>

                            <div class="col-md-4">
                                <label class="col-lg-12 col-form-label fw-bold fs-6">Powerboard View</label>
                                <ngx-select formControlName="powerboard_view_device"  [allowClear]="true" [items]="listofPowerboardIds"
                               placeholder="Select PowerBoardID">
                                </ngx-select>
                                <!-- <select class="form-select form-select-solid form-select-lg fw-bold"
                                    placeholder="select powerboard view" name="powerboard_view_device"
                                    formControlName="powerboard_view_device">
                                    <option [value] ="null" [selected]="true" >Select PowerBoardID</option>  
                                    <option *ngFor="let item of listofPowerboardIds" [value]="item">
                                        {{ item }}
                                    </option>
                                </select> -->
                            </div>

                        </div>
                    </div>

                    <div class="modal-footer">

                        <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal"
                            data-bs-target="#myModal">Cancel</button>
                        <button type="button" class="btn btn-sm btn-primary not-allowed" data-bs-toggle="modal"
                            data-bs-target="#myModal" (click)="updateLocation('','device')"
                            [disabled]="createDeviceField.invalid" *ngIf="showNewDevice">Save</button>
                        <button type="button" class="btn btn-sm btn-primary not-allowed" data-bs-toggle="modal"
                            data-bs-target="#myModal" (click)="updateLocation('','updatedevice')"
                            *ngIf="!showNewDevice && hideDeleteButton"


                           
                            [disabled]="createDeviceField.invalid">Update</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- </body>
</html> -->
