
.card-custom {
    border: 1px solid #dee2e6; /* Custom border */
    border-radius: 10px; /* Custom border radius */
    margin: 10px;
  }


  .custom-primary{
    background-color:  #ff6f1e; 
    color: #fff; 
}

.custom-primary:hover {
    background-color: #ff6f1e; 
    color: #fff; 
    opacity: 1.0;
    transform: translateY(-2px);
    transition: 0.5s;
  }


.custom-success{
    background-color: #17c653;
    color: white;
}

.translatey:hover{
    transform: translateY(-2px);
    transition: 0.4s;
}







.ag-theme-alpine {
  width: 100%;
  height: 400px; /* Adjust the height according to your need */
  overflow: auto;
}

.ag-header-container, .ag-body-container {
  overflow-x: auto; /* Ensure that horizontal scrolling is enabled */
}

.ag-root-wrapper {
  display: block; /* Ensure proper rendering for grid container */
}









.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.card-custom {
  background-color: #ffffff;
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
}

.card-custom:hover {
  transform:skew(1.1);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.text-center {
  font-size: 1.5rem;
  font-weight: 600;
  color: #3c8dbc;
  margin-bottom: 5px;
}

.ag-theme-alpine {
  overflow: hidden;
  font-size: 14px;
  padding-bottom: 10px;
}

.ag-theme-alpine .ag-header {
  background-color: #f8f8f8;
  font-weight: bold;
  color: #4a4a4a;
}

.ag-theme-alpine .ag-row-hover {
  background-color: #f1f1f1;
}

/* Optional: Add a responsive design for small screens */
// @media (max-width: 768px) {
//   .card-custom {
//       padding: 12px;
//   }

//   .text-center {
//       font-size: 1.2rem;
//   }
// }





//Hamberger Menu is here
.myMenu {
  filter: url("#shadowed-goo");
}

.myMenu-item, .myMenu-open-button {
  background: #1B84FF;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  margin-left: -40px;
  position: absolute;
  top: 20px;
  color: white;
  text-align: center;
  line-height: 50px;
  transform: translate3d(0, 0, 0);
  transition: transform ease-out 200ms;
}

.myMenu-open {
  display: none;
}

.hamburger {
  width: 25px;
  height: 3px;
  background: white;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -12.5px;
  margin-top: -1.5px;
  transition: transform 200ms;
}

.hamburger-1 {
  transform: translate3d(0, -8px, 0);
}

.hamburger-2 {
  transform: translate3d(0, 0, 0);
}

.hamburger-3 {
  transform: translate3d(0, 8px, 0);
}

.myMenu-open:checked + .myMenu-open-button .hamburger-1 {
  transform: translate3d(0, 0, 0) rotate(45deg);
}
.myMenu-open:checked + .myMenu-open-button .hamburger-2 {
  transform: translate3d(0, 0, 0) scale(0.1, 1);
}
.myMenu-open:checked + .myMenu-open-button .hamburger-3 {
  transform: translate3d(0, 0, 0) rotate(-45deg);
}

.myMenu {
  position: absolute;
  left: 50%;
  margin-left: -40px;
  padding-top: 20px;
  padding-left: 40px;
  width: 45px;
  height: 50px;
  box-sizing: border-box;
  font-size: 20px;
  text-align: left;
}

.myMenu-item:hover {
  background: black;
  color: #009EF7;
  
}
.myMenu-item:nth-child(3) {
  transition-duration: 180ms;
}
.myMenu-item:nth-child(4) {
  transition-duration: 180ms;
}
.myMenu-item:nth-child(5) {
  transition-duration: 180ms;
}
.myMenu-item:nth-child(6) {
  transition-duration: 180ms;
}
.myMenu-item:nth-child(7) {
  transition-duration: 180ms;
}
.myMenu-item:nth-child(8) {
  transition-duration: 180ms;
}
.myMenu-item:nth-child(9) {
  transition-duration: 180ms;
}
.myMenu-open-button {
  z-index: 2;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 400ms;
  transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  cursor: pointer;
}

.myMenu-open-button:hover {
  transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

.myMenu-open:checked + .myMenu-open-button {
  transition-timing-function: linear;
  transition-duration: 200ms;
  transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.myMenu-open:checked ~ .myMenu-item {
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.myMenu-open:checked ~ .myMenu-item:nth-child(3) {
  transition-duration: 190ms;
  transform: translate3d(0,90px, 0);
}
.myMenu-open:checked ~ .myMenu-item:nth-child(4) {
  transition-duration: 290ms;
  transform: translate3d(0,180px,0);
}
.myMenu-open:checked ~ .myMenu-item:nth-child(5) {
  transition-duration: 390ms;
  transform: translate3d(0,270px,  0);
}
.myMenu-open:checked ~ .myMenu-item:nth-child(6) {
  transition-duration: 490ms;
  transform: translate3d(0,360px, 0);
}
.myMenu-open:checked ~ .myMenu-item:nth-child(7) {
  transition-duration: 590ms;
  transform: translate3d(0,450px, 0);
}
.myMenu-open:checked ~ .myMenu-item:nth-child(8) {
  transition-duration: 690ms;
  transform: translate3d(0,540px, 0);
}
.myMenu-open:checked ~ .myMenu-item:nth-child(9) {
  transition-duration: 790ms;
  transform: translate3d(0,630px, 0);
}