<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" >Loading… please enjoy this virtual cup of coffee! ☕ </p></ngx-spinner>


<div class="card" 
     [ngClass]="{
       'card-custom': !isFilterScreen, 
       'full-screen-page': isFilterScreen
     }">


      <div class="card-header border-0 pt-6" style="align-items: center;padding: 0 1.6rem">
        <h2 class="p-0 m-0">Report Studio <span class="btn btn-sm btn-success fw-bolder ms-2 fs-8 py-1 px-3" *ngIf="editedQueryName">{{editedQueryName}}</span></h2>
    </div>

    <hr>
      <div style="width: fit-content;">
            <button *ngIf="isFilterScreen" 
              type="button" 
              class="btn btn-info mb-3 custom-toggle-btn" 
              (click)="toggleFormVisibility()">
          <i class="fa" [ngClass]="isFormVisible ? 'fa-chevron-up' : 'fa-chevron-down'"></i> 
          {{ isFormVisible ? 'Hide Filters' : 'Show Filters' }}
          </button>
      </div>
          


      <form [formGroup]="reportsFeilds" class="ps-2" *ngIf="isFormVisible">
        <div class="form-group row ps-4 mb-7 mt-5" >
            <label class="col-lg-3 col-form-label col-sm-12 text-right col-form-label-sm required fw-bold" >Form Name</label>
                <div class="col-3">
                    <div class="custom-multiselect">

                        <p-multiSelect
                        [options]="formsToDisplay" 
                        placeholder="Select Form"
                        [(ngModel)]="selectedForms"
                        value ="value"
                        formControlName="form_permission"
                        (onChange)="multiSelectChange()"
                        required>
                        </p-multiSelect>
                    </div>
                </div>
        </div>


      <!-- Date Type Field -->
    <div class="form-group row ps-4 mb-7">
        <label class="col-lg-3 col-form-label col-sm-12 text-right col-form-label-sm required fw-bold">Date Type</label>
        <div class="col-3">
            <select formControlName="dateType" class="form-select form-select-solid form-select-lg">
                <option [value]="null" [selected]="true" disabled>Select Date Type</option>
                <option value="is">is</option>
                <option value=">=">&gt;=</option>
                <option value="<=">&lt;=</option>
                <option value="between">between</option>
                <option value="between time">between time</option>
                <option value="less than days ago">less than days ago</option>
                <option value="more than days ago">more than days ago</option>
                <option value="in the past">in the past</option>
                <option value="days ago">days ago</option>
                <option value="today">today</option>
                <option value="yesterday">yesterday</option>
                <option value="this week">this week</option>
                <option value="last week">last week</option>
                <option value="last 2 weeks">last 2 weeks</option>
                <option value="this month">this month</option>
                <option value="last month">last month</option>
                <option value="this year">this year</option>
                <option value="any">any</option>
                <option value="latest 10">latest 10</option>
            </select>
        </div>
    </div>


    <div *ngIf="dateTypeConfig[dateType?.value]?.showDate" class="mb-7">
        <div class="form-group row ps-4 mb-2">
            <label class="col-lg-3 col-form-label col-sm-12 text-right col-form-label-sm required fw-bold">Select Date</label>
            <div class="col-3">
                <input type="date" formControlName="singleDate" class="form-control">
            </div>
        </div>
    </div>

    <div *ngIf="dateTypeConfig[dateType?.value]?.showStartDate" class="mb-7">
      <div class="form-group row ps-4 mb-2">
          <label class="col-lg-3 col-form-label col-sm-12 text-right col-form-label-sm required fw-bold">Start Date</label>
          <div class="col-3">
              <!-- Dynamically change the type based on dateType -->
              <input [type]="dateTypeConfig[dateType?.value]?.isBetweenTime ? 'datetime-local' : 'date'" formControlName="startDate" class="form-control">
          </div>
      </div>
      <br>
      <div class="form-group row ps-4">
          <label class="col-lg-3 col-form-label col-sm-12 text-right col-form-label-sm required fw-bold">End Date</label>
          <div class="col-3">
              <!-- Dynamically change the type based on dateType -->
              <input [type]="dateTypeConfig[dateType?.value]?.isBetweenTime ? 'datetime-local' : 'date'" formControlName="endDate" class="form-control">
          </div>
      </div>
    </div>


    <div  *ngIf="dateTypeConfig[dateType?.value]?.showDaysAgo" class="mb-7">
        <div class="form-group row ps-4 mb-2">
            <label class="col-lg-3 col-form-label col-sm-12 text-right col-form-label-sm required fw-bold">Number of Days</label>
            <div class="col-3">
                <input type="number" formControlName="daysAgo" class="form-control" placeholder="Enter number of days">
            </div>
        </div>
    </div>


    <!-- Filter Data Section with Radio Buttons -->
    <div class="form-group row ps-4 mb-7">
    <label class="required col-lg-3 col-form-label col-sm-12 text-right col-form-label-sm fw-bold">Filter Data</label>
    <div class="col-3 d-flex gap-7 align-items-center">
    <div class="form-check">
    <input class="form-check-input" type="radio" id="filterAll" formControlName="filterOption" value="all" (change)="onFilterChange($event,'html','create')">
    <label class="form-check-label" for="filterAll">All</label>
    </div>
    <div class="form-check">
    <input class="form-check-input" type="radio" id="filterOnCondition" formControlName="filterOption" value="onCondition" (change)="onFilterChange($event,'html','create')">
    <label class="form-check-label" for="filterOnCondition">On Condition</label>
    </div>
    </div>
    </div>
















    <!-- Dynamic Form Fields Based on Selected Forms -->
    <form [formGroup]="formFieldsGroup" class="card card-custom p-2 mt-5" style="background-color: #F5F7F8;" *ngIf="conditionflag">
    <div formArrayName="forms" style="display: flex; flex-wrap: wrap;">
    <div *ngFor="let form of forms().controls; let formIndex=index" >
    <div [formGroupName]="formIndex" class="form-group" style="border: 1px solid blue; padding: 10px; width: 600px; margin: 5px;">
    
      <h5>{{ getFormNameByIndex(formIndex) }}</h5>
      

      <div formArrayName="conditions">
        <div *ngFor="let conditionGroup of conditions(formIndex).controls; let condIndex=index" [formGroupName]="condIndex">


          <div style="display: flex;flex-wrap: wrap;justify-content: space-between;">
            <div class="mb-3" style="width: 30%;">
              <label class="required">Select Field</label>
              <select formControlName="condition" class="form-control">
                <option *ngFor="let field of getAvailableFields(formIndex)" [value]="field.name" >{{ field.label }}</option>
              </select>                  
            </div>

            <div class="mb-3" style="width: 30%;">
              <label class="required">Operator</label>

              <ng-container *ngIf="isDateField(formIndex,condIndex)">
                <select formControlName="operator" placeholder="Select date type" class="form-control">
                  <option value="" disabled selected>Select operator</option>
                  <option value="is">is</option>
                <option value=">=">&gt;=</option>
                <option value="<=">&lt;=</option>
                <option value="between">between</option>
                <option value="between time">between time</option>
                <option value="less than days ago">less than days ago</option>
                <option value="more than days ago">more than days ago</option>
                <option value="in the past">in the past</option>
                <option value="days ago">days ago</option>
                <option value="today">today</option>
                <option value="yesterday">yesterday</option>
                <option value="this week">this week</option>
                <option value="last week">last week</option>
                <option value="last 2 weeks">last 2 weeks</option>
                <option value="this month">this month</option>
                <option value="last month">last month</option>
                <option value="this year">this year</option>
                <option value="any">any</option>
                <option value="latest 10">latest 10</option>
                </select>
              </ng-container>




              <ng-container *ngIf="!isDateField(formIndex,condIndex)">
                <select formControlName="operator" placeholder="Select operator" class="form-control">
                  <option value="" disabled selected>Select operator</option>
                  <option value="==">Equals</option>
                  <option value=">">Not equals</option>
                  <option value="includes">Contains</option>
                  <option value="startsWith">Starts with</option>
                  <option value="endsWith">Ends with</option>
                  <option value=">">Greater than</option>
                  <option value="<">Less than</option>
                  <option value="<=">Less than equals to</option>
                  <option value=">=">Greater than equals to</option>
                </select>
              </ng-container>
            </div>

       


      <div class="mb-3" style="width: 30%;">
  
        
        <ng-container *ngIf="isDropdown(formIndex,condIndex) == 'select'">
          <label class="required">Value</label>
          <select 
            formControlName="value" 
            class="form-control"
            (change)="onFieldChange(formIndex, condIndex)"
          >
            <option value="" disabled>Select an option</option>
            <ng-container *ngIf="getAvailableFieldOptions(formIndex,condIndex) | async as options; else loading">
              <option 
                *ngFor="let option of options; trackBy: trackByOption" 
                [value]="option"
              >
                {{ option }}
              </option>
            </ng-container>
            <ng-template #loading>
              <option disabled>Loading...</option>
            </ng-template>
          </select>
        </ng-container>



        
        <ng-container *ngIf="isDropdown(formIndex,condIndex) == 'value'">
          <label class="required">Value</label>
          <input 
            type="text" 
            formControlName="value" 
            placeholder="Enter value" 
            class="form-control" 
          />
        </ng-container>


        <ng-container *ngIf="isDropdown(formIndex,condIndex) == 'date'">
          
          <!-- <input 
            type="datetime-local" 
            formControlName="value" 
            placeholder="Enter value" 
            class="form-control" 
          /> -->


          <div *ngIf="dateFilterConfig[dateFilterOperator]?.showDate">
            <label class="required">Value</label>
              <input type="date" formControlName="val1" class="form-control">
        </div>
    
        <div *ngIf="dateFilterConfig[dateFilterOperator]?.showStartDate" class="mb-7">
          <label class="required">Start and End Date</label>
          <!-- <div class="form-group row ps-4 mb-2"> -->
              
                  <!-- Dynamically change the type based on dateType -->
                  <input [type]="dateFilterConfig[dateFilterOperator]?.isBetweenTime ? 'datetime-local' : 'date'" formControlName="val1" class="form-control">
          
          <!-- </div> -->
          <br>
          <!-- <div class="form-group row ps-4"> -->
                  <input [type]="dateFilterConfig[dateFilterOperator]?.isBetweenTime ? 'datetime-local' : 'date'" formControlName="val2" class="form-control">

          <!-- </div> -->
        </div>
    
    
        <div  *ngIf="dateFilterConfig[dateFilterOperator]?.showDaysAgo" class="mb-7">
          <label class="required">Value</label>
                    <input type="number" formControlName="val1" class="form-control" placeholder="Enter number of days">
        </div>
    

        </ng-container>




      </div>
        



          </div>


        

    
          <div *ngIf="condIndex < conditions(formIndex).length - 1" class="mb-3" style="width: 30%;">
            <label class="required">Between Operator</label>
            <select formControlName="operatorBetween" placeholder="Select operator" class="form-control">
              <option value="" disabled selected>Select operator</option>
              <option value="&&">AND</option>
              <option value="||">OR</option>
            </select>
          </div>

          <button *ngIf="condIndex != 0" type="button" class="btn btn-danger btn-sm mb-2" (click)="removeCondition(formIndex, condIndex)">Remove Condition</button>
        </div>
      </div>
      <button type="button" class="btn btn-primary btn-sm" (click)="addCondition(formIndex)">Add Condition</button>
      
    </div>
    </div>
    </div>

    </form>





























    <div class="form-group row ps-4 mb-7" *ngIf="selectedForms && selectedForms.length > 0">
    <label class="col-lg-3 col-form-label col-sm-12 text-right col-form-label-sm fw-bold">Column Visibility</label>
    <div class="col-3 d-flex gap-7 align-items-center">
    <div class="form-check">
    <input class="form-check-input" type="radio" id="columnAllVisible" formControlName="columnOption" value="all" (change)="onColumnChange($event,'html')">
    <label class="form-check-label" for="columnVisible">All</label>
    </div>
    <div class="form-check">
    <input class="form-check-input" type="radio" id="columnConditionVisible" formControlName="columnOption" value="onCondition" (change)="onColumnChange($event,'html')">
    <label class="form-check-label" for="columnVisible">Selected</label>
    </div>
    </div>
    </div>



    <div class="card card-custom p-2 mt-5" *ngIf="visibiltyflag">
    <div class="row">
    <div class="col-3" *ngFor="let item of populateFormData; let i = index">
    <label class="required">{{ dropdownKeys[i] }}</label>
    <div class="custom-multiselect">
    <p-multiSelect
      [options]="item[dropdownKeys[i]]"
      [formControl]="getFormControl(i)"
      placeholder="Select Columns"
    >
    </p-multiSelect>
    </div>
    </div>
    </div>
    </div>



 
    
  















    <div class="form-group row ps-4 mb-7" *ngIf="selectedForms && selectedForms.length > 0">
    <label class="col-lg-3 col-form-label col-sm-12 text-right col-form-label-sm fw-bold">Add Custom Columns</label>
    <div class="col-3 d-flex gap-7 align-items-center">
    <div class="form-check">
    <input class="form-check-input" type="radio" id="columnVisible" formControlName="addColumn" value="false" (change)="addColumns($event,'html')">
    <label class="form-check-label" for="columnVisible">No</label>
    </div>
    <div class="form-check">
    <input class="form-check-input" type="radio" id="columnVisible" formControlName="addColumn" value="true" (change)="addColumns($event,'html')">
    <label class="form-check-label" for="columnVisible">Yes</label>
    </div>
    </div>
    </div>



    <form [formGroup]="customColumnsGroup" [ngbTooltip]="'Advanced Excel Filters'" class="card card-custom p-2 mt-5" style="background-color: #F5F7F8;" *ngIf="customColumnsflag">
    <div formArrayName="customForms" style="display: flex; flex-wrap: wrap;">
    <div *ngFor="let form of customForms().controls; let formIndex=index">
    <div [formGroupName]="formIndex" class="form-group" style="border: 1px solid blue; padding: 10px; width: 600px; margin: 5px;">
    
      <h5>{{ getCustomFormNameByIndex(formIndex) }}</h5>

      <div formArrayName="conditions">
        <div *ngFor="let conditionGroup of customConditions(formIndex).controls; let condIndex=index" [formGroupName]="condIndex">
          <div style="display: flex;flex-wrap: wrap;justify-content: space-between;align-items:center;">
            <div class="mb-3" style="width: 30%;">
              <label class="required">Column Name</label>
              <input type="text" (keyup)="columnValidation($event,formIndex,condIndex)" formControlName="columnName" placeholder="Enter Column Name" class="form-control" />
            </div>     




            


                  <div class="mb-3" style="width: 30%;">
                    <label class="required">Field Selected</label>
                    <select formControlName="fieldSelector" class="form-control">
                      <option *ngFor="let field of getAvailablecustomFields(formIndex)" [value]="field.label+'.'+field.name" >{{ field.label }}</option>
                    </select>                  
                  </div>



                  <div class="mb-3" style="width: 30%;">
                    <label class="required">Predefined Scripts</label>
                    <select formControlName="predefined" class="form-control"  [ngbTooltip]="'Select a predefined script to polpulate in equation field'" (change)="onPredefinedChange(formIndex, condIndex)">
                      <option value="time_difference">Time Difference</option>
                      <option value="days_difference">Days Difference</option>
                      <option value="response_time">Response Time</option>
                      <option value="turn_around_time">Turn Around Time</option>
                      <option value="planned_duration">Planned Duration</option>
                      <option value="total_time_spent">Total Time Spent</option>
                      <option value="sla_status">SLA Status</option>
                      <option value="none">Clear</option>
                    </select>                  
                  </div>


                    <!-- Button to Add Field to Equation -->
                    <div style="margin-top: 10px;">
                      <button type="button" class="btn btn-secondary btn-sm" (click)="insertFieldIntoEquation(formIndex, condIndex)">
                        Insert Field into Equation
                      </button>
                    </div>


            



                <!-- <div class="mb-3" style="width: 100%;height: 40%;">
                  <label class="required">Equation</label>
                <textarea  formControlName="equationText" class="form-control"></textarea>                
                </div> -->

                <div class="mb-3" style="width: 100%; height: 40%;">
                  <label class="required">Equation</label>
                  <textarea formControlName="equationText" class="form-control" [ngStyle]="{ 'display': isEquationVisible ? 'block' : 'none' }"></textarea>
                </div>
                

                <button class="btn btn-sm btn-dark btn-advanced" type="button" (click)="toggleEquationField()">
                  {{ isEquationVisible ? 'Hide Equation ' : 'Show Equation' }}
                  <i class="fas" [ngClass]="isEquationVisible ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
                </button>
                


            </div>


            <hr>


          <button *ngIf="condIndex != 0" type="button" class="btn btn-danger btn-sm mb-2" (click)="removeCustomCondition(formIndex, condIndex)">Remove Column</button>
        </div>
      </div>
      <button type="button" class="btn btn-primary btn-sm" (click)="addCustomCondition(formIndex)">Add Column</button>
      
    </div>
    </div>
    </div>

    </form>






    <!-- <div class="form-group row ps-4 mb-7" *ngIf="selectedForms && selectedForms.length > 0">
      <div class="col-3 d-flex gap-7 align-items-center">
        <button type="button" class="btn btn-danger btn-sm mb-2" (click)="openAdvancedFilterModal()">Advanced Filter</button>
      </div>
    </div> -->
















    <div class="mb-7">
        <div class="form-group row ps-4 mb-2">
            <div class="col-3">

            </div>
            <div class="col-9" style="display:flex;justify-content:space-between">


              <div>
                <button type="submit" [disabled]="reportsFeilds.invalid" class="btn fw-bold custom-success translatey me-5" (click)="callLambdaResponse()">Apply</button>
                <button type="submit" class="btn fw-bold custom-primary" (click)="clearFeilds()">Clear</button>
                <button type="submit" *ngIf="onSubmitFlag" class="btn fw-bold btn-primary translatey ms-5" (click)="saveQuery(openModal1)">Save</button>
                <button type="submit" *ngIf="saveButton" class="btn fw-bold btn-primary translatey ms-5" (click)="editQuery(openModal1)">Edit</button>
                <button type="submit" *ngIf="trackLocationMapFlag" class="btn fw-bold btn-dark translatey ms-5" (click)="openTrackLocationModal(trackLocationArray)">Map</button>

                       <!-- Main Button to trigger the dropdown -->
                       <button mat-raised-button color="primary" [matMenuTriggerFor]="menu" class="export-button" *ngIf="showTable">
                        Export
                      </button>
              </div>




              <div style="margin-right: 10px;">
                <button [ngbTooltip]="'Add Filters to Excel'" *ngIf="selectedForms && selectedForms.length > 0" type="button" class="btn fw-bold btn-secondary translatey ms-5" style="text-align: end;" (click)="openAdvancedFilterModal()">Advanced Filter</button>
              </div>
           
              
                 

         

       
              
                <!-- Menu containing the export options -->
                <mat-menu #menu="matMenu">
                  <!-- <button mat-menu-item (click)="exportAllTablesAsCSV()">
                    Export as CSV
                  </button> -->
                  <button mat-menu-item (click)="exportAllTablesAsExcel()">
                    Export as Excel
                  </button>
                  <!-- <button mat-menu-item (click)="exportAllTablesAsPDF()">
                    Export as PDF
                  </button> -->
                </mat-menu>
            </div>
        </div>
    </div>
    </form>




<div *ngIf="showTable"  [ngClass]="{'full-screen-page': isFullScreen && !isFilterScreen}">
  <div *ngFor="let table of tableDataWithFormFilters">
    <div class="card card-custom p-2 mt-5">
        <h3 class="text-center text-primary">{{ table.formFilter }}</h3> 
      

        <ag-grid-angular
        style="width: 100%; height: 100%;"  
        class="ag-theme-alpine"
        [rowData]="table.rows"    
        [columnDefs]="createColumnDefs(table.rows,table.formFilter)" 
        [domLayout]="'autoHeight'"  
        [pagination]="true"
        [paginationPageSize]="10"
        [paginationPageSizeSelector]="pageSizeOptions"
        [suppressHorizontalScroll]="false" 
        (gridReady)="onGridReady($event,table.formFilter)" 
        [gridOptions]="gridOptions" 
        > 
      </ag-grid-angular>
    </div>
  </div>
</div> 
</div>


<ng-template #htmlModal let-modal>
  <app-over-view-modal
  [modal]="modal" [blobUrl]="blobUrl"
  ></app-over-view-modal>
</ng-template>








<!-- Modal is here for saved Query -->
  <ng-template #openModal1 let-modal>
        <div class="modal-header">
            <h4 *ngIf="showHeading" class="modal-title" id="modal-basic-title">Add Saved Query</h4>
            <h4 *ngIf="!showHeading" class="modal-title" id="modal-basic-title">Edit Saved Query</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>

        <div class="modal-body">
            <div class="d-flex flex-column me-n7 pe-7 mw-1000px" id="kt_modal_update_customer_scroll"
            data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}"
            data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_modal_update_customer_header"
            data-kt-scroll-wrappers="#kt_modal_update_customer_scroll" data-kt-scroll-offset="300px">
              <div class="collapse show" #collapse1="ngbCollapse" [(ngbCollapse)]="isCollapsed1">


                <app-saved-query [editOperation]="showHeading" [savedModulePacket]="savedModulePacket" [listofSavedIds]="listofSavedIds" [tableState]="tableTempState" (closeModal)="dismissModal(modal)"></app-saved-query> 

              </div>
            </div>
        </div>
</ng-template>










<!-- hamburger menu is here -->
<div style="top: 1%;
  z-index: 1054;
  right:44px;
  flex-direction: column;" class=" d-flex position-fixed fw-bolder zindex-2  mt-20 gap-2">

<nav class="myMenu" #tooltipContainer>
  <input type="checkbox" href="#" class="myMenu-open" name="myMenu-open" id="myMenu-open" />
  <label class="myMenu-open-button" for="myMenu-open">
    <span class="hamburger hamburger-1"></span>
    <span class="hamburger hamburger-2"></span>
    <span class="hamburger hamburger-3"></span>
  </label>
  


    <!-- (click)="openSummaryTable(content)" -->
  <a *ngIf="!showHeading" class="myMenu-item"  title="Search dashboard" (click)="openModal(SavedQuery)">
    <i style="color: white;" class="fa fa-search"></i>
  </a>



    <!-- New Full View Icon -->
    <a *ngIf="showTable" class="myMenu-item"   (click)="toggleFullScreenFullView()" style="cursor: pointer;" [attr.title]="isFullScreen ? 'Exit Full View' : 'Full View'">
      <i style="color: white;" class="fa" [ngClass]="isFullScreen ? 'fa-compress' : 'fa-expand'"></i>
    </a>


  <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="width:50px;height:50px">
    <defs>
      <filter id="shadowed-goo">

        <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10" />
        <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
        <feGaussianBlur in="goo" stdDeviation="3" result="shadow" />
        <feColorMatrix in="shadow" mode="matrix" values="0 0 0 0 0  0 0 0 0 0  0 0 0 0 0  0 0 0 1 -0.2"
          result="shadow" />
        <feOffset in="shadow" dx="1" dy="1" result="shadow" />
        <feComposite in2="shadow" in="goo" result="goo" />
        <feComposite in2="goo" in="SourceGraphic" result="mix" />
      </filter>
      <filter id="goo">
        <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10" />
        <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
        <feComposite in2="goo" in="SourceGraphic" result="mix" />
      </filter>
    </defs>
  </svg>

</nav>
</div>




<!-- Modal definition -->
<ng-template #SavedQuery let-modal1>
  <div class="modal-header">
    <h4 class="modal-title">Saved Query Table</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal1.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <!-- Table inside the modal -->
    <app-crud-report [componentSource]="'app-report-studio'" 
                    [datatableConfig]="datatableConfig" 
                    route="/reportStudio" 
                    (deleteEvent)="delete($event)" 
                    (editEvent)="editRoute($event)" 
                    (createEvent)="create()" 
                    [reload]="reloadEvent"
                    [modal]="SavedQuery">
    </app-crud-report>
  </div>
</ng-template>






<!-- Modal for Google Map -->
<div class="modal fade" id="mapModal" tabindex="-1" aria-labelledby="mapModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="mapModalLabel">Location on Map</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="map" style="height: 400px;"></div> <!-- Map container -->
      </div>
    </div>
  </div>
</div>











