<div class="modal-header">
    <h4 class="modal-title">Table Tile</h4>
    <button type="button" class="btn-close" aria-label="Close"   (click)="modal.dismiss()"></button>
  </div>
  
  <!-- Modal body with Tabs -->
  <div class="fv-row" [formGroup]="createKPIWidget" >
    <div class="modal-body">
      <div class="card-body pt-0">
  
        <!-- Tab Navigation -->
        <ul class="nav nav-stretch nav-line-tabs nav-line-tabs-2x border-transparent fs-5 fw-bolder flex-nowrap"
        id="myTab_settings" role="tablist">
        <div class="col-3" role="Data">
          <li class="nav-item">
            <a class="nav-link text-active-primary me-6" id="home-tab" data-bs-toggle="tab" role="tab"
              aria-controls="dataTab" aria-selected="false" (click)="selectedSettingsTab('dataTab')">Data</a>
          </li>
        </div>
        <div class="col-3" role="Settings">
          <li class="nav-item">
            <a class="nav-link text-active-primary me-6" id="settings-tabpane" data-bs-toggle="tab" role="tab" aria-controls="settings-tab" aria-selected="false" (click)="selectedSettingsTab('settings-tab')">Filter</a>
          </li>
        </div>
        <div class="col-3" role="Filter">
          <li class="nav-item">
            <a class="nav-link text-active-primary me-6" id="filter-tab" data-bs-toggle="tab" role="tab"
              aria-controls="filter-tab" aria-selected="false" (click)="selectedSettingsTab('filter-tab')">Function</a>
          </li>
        </div>

   <div class="col-3" role="Custom Row">
          <li class="nav-item">
            <a class="nav-link text-active-primary me-6" id="custom-row" data-bs-toggle="tab" role="tab"
              aria-controls="custom-row" aria-selected="false" (click)="selectedSettingsTab('custom-row')">Custom Row</a>
          </li>
        </div> 



      </ul>
  
        <!-- Tab Content -->
        <div class="tab-content mt-3" id="modalTabsContent">
          <!-- General Tab Content -->
          <div [ngClass]="{'tab-pane fade': true, 'show active': selectedTabset === 'dataTab'}" id="dataTab"
          role="tabpanel" aria-labelledby="home-tab">

            <div class="row g-3">
              <!-- Form Fields -->
              <div class="col-md-4 mb-3">
                <label for="formlist" class="col-createChart-label fw-bold fs-6 required">
                  Forms
                  <span class="ms-2 text-primary"
                  [ngbTooltip]="formTooltip"
                  placement="top"
                  container="body">
              <i class="bi bi-info-circle fs-5 text-primary"></i>
            </span>
                </label>
                <ngx-select
            
                  id="formlist"
                  [allowClear]="true"
                  name="icon"
                  formControlName="formlist"
                  [items]="listofDeviceIds"
                  optionValueField="value"
                  optionTextField="text"
                  (focus)="setUserSatus()"
                  (selectionChanges)="selectFormParams($event)"
                  placeholder="Select Form">
                </ngx-select>
                <div *ngIf="createKPIWidget.get('formlist')?.touched && createKPIWidget.get('formlist')?.invalid" class="text-danger">
                  <div *ngIf="createKPIWidget.get('formlist')?.errors?.required">Form Fields is required.</div>
                </div>
              </div>
        
              <div class="col-md-4 mb-3">
                <label for="parameterName" class="col-createChart-label fw-bold fs-6 required">Form Fields
                  <span class="ms-2 text-primary"
                  [ngbTooltip]="parameterTooltip"
                  placement="top"
                  container="body">
              <i class="bi bi-info-circle fs-5 text-primary"></i>
            </span>
                </label>
                <div class="custom-multiselect">
                  <p-multiSelect
                    [options]="listofDynamicParam"
                    formControlName="form_data_selected"
                    optionLabel="text"
                    placeholder="Select Columns"
                    (onChange)="handleChange($event)"> 
                  </p-multiSelect>
                  <div *ngIf="createKPIWidget.get('form_data_selected')?.touched && createKPIWidget.get('form_data_selected')?.invalid" class="text-danger">
                    <div *ngIf="createKPIWidget.get('form_data_selected')?.errors?.required">Form Fields is required.</div>
                  </div>
                </div>
              </div>
              
              
            
              <!-- <div class="col-md-4 mb-3">
                <label for="parameterName" class="col-createChart-label fw-bold fs-6 required">Form Fields</label>
                <div class="custom-multiselect">
                  <p-multiSelect
                    [options]="listofDynamicParam"
                    formControlName="form_data_selected"
                
                    optionLabel="text" 
                    placeholder="Select Columns"
                    (onChange)="parameterValue($event)">
                  </p-multiSelect>
                  <div *ngIf="createKPIWidget.get('form_data_selected')?.touched && createKPIWidget.get('form_data_selected')?.invalid" class="text-danger">
                    <div *ngIf="createKPIWidget.get('form_data_selected')?.errors?.required">Form Fields is required.</div>
                  </div>
                </div>
              </div> -->

              <div class="col-md-4 mb-3">
                <label for="custom_Label" class="col-createChart-label fw-bold fs-6  required">Custom Label
                  <span class="ms-2 text-primary"
                  [ngbTooltip]="customLabelTooltip"
                  placement="top"
                  container="body">
              <i class="bi bi-info-circle fs-5 text-primary"></i>
            </span>
                </label>
                <input type="text" class="form-control form-control-solid"  name="custom_Label"
                  formControlName="custom_Label">
                  <div *ngIf="createKPIWidget.get('custom_Label')?.touched && createKPIWidget.get('custom_Label')?.invalid" class="text-danger">
                    <div *ngIf="createKPIWidget.get('custom_Label')?.errors?.required"> Custom Label is required.</div>
                  </div>
              </div>
              <div class="col-md-4 mb-3" *ngIf="!hideRowDataField">
                <label for="custom_Label" class="col-createChart-label fw-bold fs-6 required">Row Data</label>
                <input type="text" class="form-control form-control-solid" name="custom_Label"
                  formControlName="rowData">
              </div>
              <div class="col-md-4 mb-3">
                <label for="groupByFormat" class="col-createChart-label fw-bold fs-6 required">Group By Format
                  <span class="ms-2 text-primary"
                  [ngbTooltip]="tooltipContent"
                  placement="top"
                  container="body"
                  tooltipClass="custom-tooltip">
              <i class="bi bi-info-circle fs-5 text-primary"></i>
            </span>
                </label>
                <input
                  id="groupByFormat"
                  type="text"
                  class="form-control form-control-solid"
                  placeholder="Select GroupByFormat"
                  [formControl]="groupByFormatControl"
                  (click)="openModalCalender()"
                  readonly>
                  <div *ngIf="createKPIWidget.get('groupByFormat')?.touched && createKPIWidget.get('groupByFormat')?.invalid" class="text-danger">
                    <div *ngIf="createKPIWidget.get('groupByFormat')?.errors?.required"> Group By Format is required.</div>
                  </div>
              </div>


              <div class="col-md-4 mb-3">
                <label for="parameterName" class="col-createChart-label fw-bold fs-6 ">Filter Row Data
                  <span class="ms-2 text-primary"
                  [ngbTooltip]="filterTooltip"
                  placement="top"
                  container="body">
                  <i class="bi bi-info-circle fs-5 text-primary"></i>
                </span>
              
                </label>
                <div class="custom-multiselect">
                  <p-multiSelect
                    [options]="listofDynamicParam"
                    formControlName="filter_duplicate_data"
                    optionLabel="text"
                    placeholder="Select Columns"
                    (onChange)="handleChange($event)"> 
                  </p-multiSelect>

                </div>
              </div>



              <div class="card card-custom p-2 mt-5">
                <h3 class="text-center text-primary"></h3> 
              
        
                <ag-grid-angular
                style="width: 100%; height: 100%;"  
                class="ag-theme-alpine"
                [rowData]="table.rows"    
                [columnDefs]="table.columnDefs" 
                [domLayout]="'autoHeight'"  
                [pagination]="true"
                [paginationPageSize]="10" 
                [suppressHorizontalScroll]="false" 
              > 
              </ag-grid-angular>
              
            </div>
              

          
        </div>
          </div>

          <div [ngClass]="{'tab-pane fade': true, 'show active': selectedTabset === 'settings-tab'}" id="settings-tab" role="tabpanel" aria-labelledby="settings-tabpane">
          
          <div class="row g-3 align-items-end mb-4">
            <!-- Form Fields -->
            <div class="col-md-4">
              <label for="parameterName" class="fw-bold fs-6">Form Fields
                <span class="ms-2 text-primary" [ngbTooltip]="filterParameterTooltip" container="body" placement="top">
                  <i class="bi bi-info-circle fs-5 text-primary"></i>
                </span>
              </label>
              <p-multiSelect
                id="parameterName"
                formControlName="filterParameter1"
                [options]="listofDynamicParam"
                optionLabel="text"
                placeholder="Select Parameter"
                (onChange)="dynamicparameterValue1($event)"
            
              ></p-multiSelect>
            </div>
          
            <!-- Add Button -->
            <div class="col-md-3">
              <button type="button" class="btn btn-primary w-100 mt-4" (click)="onAdd1()">Add</button>
            </div>
          
            <!-- Custom Label -->
            <!-- <div class="col-md-5">
              <label for="custom_Label1" class="col-createChart-label fw-bold fs-6 required">Custom Label</label>
              <input
                type="text"
                class="form-control form-control-solid"
                id="custom_Label1"
                name="custom_Label1"
                formControlName="custom_Label1"
              />
            </div> -->
          </div>
        
          <div class="col-md-12 mb-3">
            <label for="description" class="col-createChart-label fw-bold fs-6">Equation
              <span class="ms-2 text-primary"
              (mouseenter)="openWidgetFilterHelp(WidgetFilterHelp)"
              style="cursor: pointer;">
          <i class="bi bi-info-circle fs-5 text-primary"></i>
        </span>
            </label>
            <textarea
              id="description"
              formControlName="filterDescription1"
              class="form-control"
              rows="3"
              placeholder="Enter description"
            ></textarea>
          </div>
          
        </div>
          <div [ngClass]="{'tab-pane fade': true, 'show active': selectedTabset === 'filter-tab'}" id="filter-tab"
          role="tabpanel" aria-labelledby="filter-tabpane">

          <div
          *ngFor="let condition of conditions.controls; let i = index"
          [formGroup]="condition"
          style="border: 2px solid rgb(21, 163, 219); padding: 10px; margin: 5px; border-radius: 5px;"
        >
        <div class="row g-3 align-items-center mb-4">
          <!-- Column Label -->
          <div class="col-md-4">
            <label for="constant-{{ i }}" class="col-createChart-label fw-bold fs-6">Column Label
              <span class="ms-2 text-primary"
              [ngbTooltip]="'Enter a name for the new column. This label will be used as the header for the calculated data based on selected form fields.'"
              placement="top"
              container="body">
          <i class="bi bi-info-circle fs-6 text-primary"></i>
        </span>
            </label>
            <input
              id="constant-{{ i }}"
              type="text"
              class="form-control form-control-solid"
              placeholder="Enter Label"
              formControlName="columnLabel"
            />
          </div>
        
          <!-- Form Fields -->
          <div class="col-md-4" style="margin-top: 30px;">
            <label for="parameterName-{{ i }}" class="fw-bold fs-6">Form Fields
              <span class="ms-2 text-primary"
              [ngbTooltip]="'Select form fields to be used for calculations such as aging, duration, or time-based conditions.'"
              placement="top"
              container="body">
          <i class="bi bi-info-circle fs-6 text-primary"></i>
        </span>
            </label>
            <p-multiSelect
              id="parameterName-{{ i }}"
              formControlName="filterParameter"
              [options]="listofDynamicParam"
              optionLabel="text"
              placeholder="Select Form Fields"
          
            ></p-multiSelect>
          </div>
        
          <!-- Predefined Scripts -->
          <div class="col-md-4" style="margin-top: 30px;">
            <label for="PredefinedScripts-{{ i }}" class="col-createChart-label fw-bold fs-6">
              Predefined Scripts
              <span class="ms-2 text-primary"
              (mouseenter)="openPreDefinedScriptsHelp(predefinedScriptsHelp)"
              style="cursor: pointer;">
          <i class="bi bi-info-circle fs-5 text-primary"></i>
        </span>
            </label>
            <ngx-select
              id="PredefinedScripts-{{ i }}"
              [allowClear]="true"
              formControlName="PredefinedScripts"
              [items]="predefinedList"
              optionValueField="value"
              optionTextField="text"
              placeholder="Select Form"
              style="width: 100%;"
            >
            </ngx-select>
          </div>
        </div>
        
        <!-- Add Button in a New Row for Proper Alignment -->
        <div class="row">
          <div class="col-md-5">
            <button
              type="button"
              class="btn btn-light w-100"
              (click)="onAdd(i)"
            >
              Insert Field into Equation/HTML
            </button>
          </div>
        </div>
        
        
          <div class="col-md-12 mb-3">
            <label for="description-{{ i }}" class="col-createChart-label fw-bold fs-6 ">Equation/HTML
              <span class="ms-2 text-primary"
              [ngbTooltip]="'Displays the calculated expression based on the selected form fields. Example: ${Updated Time.updated_time} - ${Created Time.created_time}'"
              placement="top"
              container="body">
          <i class="bi bi-info-circle fs-6 text-primary"></i>
        </span>
            </label>
            <textarea
              id="description-{{ i }}"
              formControlName="filterDescription"
              class="form-control"
              rows="3"
              placeholder="Enter Equation"
            ></textarea>
          </div>
        
          <div class="d-flex justify-content-start mt-3">
            <button
              type="button"
              class="btn btn-danger btn-sm"
              (click)="removeCondition(i)"
            >
              Remove Condition
            </button>
          </div>
        </div>
        
        <!-- Add Condition Button -->
        <div class="d-flex mt-3">
          <button
            type="button"
            class="btn btn-primary btn-sm me-4"
            (click)="addCondition()"
          >
            Add Condition
          </button>
        </div>
        

     
          </div>

          <div [ngClass]="{'tab-pane fade': true, 'show active': selectedTabset === 'custom-row'}" id="custom-row"
          role="tabpanel" aria-labelledby="customRow-tabpane">

          <div class="col-lg-3 col-md-3 col-sm-6 mb-4 mt-4">
            <div class="d-flex align-items-center">
              <label for="toggleCheckLegend" class="col-createChart-label fw-bold fs-6 me-2">
                Enable Row Calculation
              </label>
              <div class="form-check form-switch">
                <input
                  class="form-check-input"
                  type="checkbox"
                  (change)="CustomRowCal()"
                  formControlName="enableRowCal"
                  id="toggleCheckLegend"
                >
              </div>
            </div>
          </div>
          


          <form [formGroup]="createKPIWidget">
            <div formArrayName="all_fields">
              <div *ngFor="let field of all_fields.controls; let fieldIndex=index">
                <div *ngIf="createKPIWidget.get('enableRowCal')?.value" [formGroupName]="fieldIndex"
                  style="border: 2px solid rgb(201, 228, 239); padding: 10px; margin: 5px;border-radius: 5px;">
                  <div class="row g-3">
                    <div class="col-md-4 mb-3">
                      <label for="rowCalType" class="col-createChart-label fw-bold fs-6 ">
                        Row Type
                        <span class="ms-2 text-primary"
                        (mouseenter)="openRowCalHelp(RowCalHelp)"
                        style="cursor: pointer;">
                    <i class="bi bi-info-circle fs-5 text-primary"></i>
                  </span>
                      </label>
                      <ngx-select
                        id="rowCalType"
                        [allowClear]="true"
                        name="rowCalType"
                        formControlName="rowCalType"
                        [items]="selectType"
                        bindValue="value"
                        bindLabel="text"
                        placeholder="Select Type">
                      </ngx-select>
                    </div>
          
                    <div class="col-md-4">
                      <div class="d-flex flex-column">
                        <label for="rowLabel" class="col-createChart-label fw-bold fs-6 ">Row Label
                          <span class="ms-2 text-primary"
                          [ngbTooltip]="'This will be the label for the calculated row (e.g., Total Sales, Average Score).'"
                          placement="top"
                          container="body">
                      <i class="bi bi-info-circle fs-6 text-primary"></i>
                    </span>
                        </label>
                        <input
                          type="text"
                          class="form-control form-control-solid"
                          id="rowLabel"
                          name="rowLabel"
                          formControlName="rowLabel"
                        />
                      </div>
                    </div>
          
                    <div class="col-md-4 mb-3">
                      <label for="rowUnit" class="col-createChart-label fw-bold fs-6 ">
                        Row Unit
                        <span class="ms-2 text-primary"
                        (mouseenter)="openUnitHelp(RowUnitHelp)"
                        style="cursor: pointer;">
                    <i class="bi bi-info-circle fs-5 text-primary"></i>
                  </span>
                      </label>
                      <ngx-select
                        id="rowUnit"
                        [allowClear]="true"
                        name="rowUnit"
                        formControlName="rowUnit"
                        [items]="selectUnits"
                        bindValue="value"
                        bindLabel="text"
                        placeholder="Select Unit">
                      </ngx-select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
          
          
        </div>
  
      </div>
  
      <div class="modal-footer" style="margin-top: 20px;">
        <button type="button" class="btn btn-secondary" (click)="modal.dismiss()"  >Discard</button>
  <button type="button" class="btn btn-primary"      *ngIf="!isEditMode"        (click)="validateAndSubmit()"   >Save</button>
  <button 
      type="button" 
      class="btn btn-primary" 
   

    
      (click)="validateAndUpdate() " 
      *ngIf="isEditMode" >
      Update
    </button>


    <div *ngIf="!formValidationFailed" class="alert alert-danger fw-bold mb-3">
      ⚠️ Please fill all required fields before updating.
    </div>
      </div>
    </div>
  </div>
  </div>



  <!-- <ng-template #calendarModal let-modal>
    <div class="modal-header">
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body right-side-modal">
      <div class="card-body pt-0">
        <div class="container1">
          <div class="list-row">
            <div class="list-column">
              <div class="list-item active" (click)="selectValue('Year', modal)" (mouseenter)="showTooltip('Year')" (mouseleave)="hideTooltip()">
                <div class="title">Year</div>
                <div class="example">E.g., 2003, 2004</div>
              </div>
              <div class="list-item" (click)="selectValue('QuarterYear', modal)" (mouseenter)="showTooltip('QuarterYear')" (mouseleave)="hideTooltip()">
                <div class="title">Quarter & Year</div>
                <div class="example">E.g., Q1 2004</div>
              </div>
              <div class="list-item" (click)="selectValue('MonthYear', modal)" (mouseenter)="showTooltip('MonthYear')" (mouseleave)="hideTooltip()">
                <div class="title">Month & Year</div>
                <div class="example">E.g., March 2004</div>
              </div>
              <div class="list-item" (click)="selectValue('WeekYear', modal)" (mouseenter)="showTooltip('WeekYear')" (mouseleave)="hideTooltip()">
                <div class="title">Week & Year</div>
                <div class="example">E.g., W1 2004</div>
              </div>
              <div class="list-item" (click)="selectValue('FullDate', modal)" (mouseenter)="showTooltip('FullDate')" (mouseleave)="hideTooltip()">
                <div class="title">Full Date</div>
                <div class="example">E.g., 1/1/2000</div>
              </div>
              <div class="list-item" (click)="selectValue('DateTime', modal)" (mouseenter)="showTooltip('DateTime')" (mouseleave)="hideTooltip()">
                <div class="title">Date & Time</div>
                <div class="example">E.g., 01 Jan, 2000 00:00:07 hrs</div>
              </div>
            </div>
            <div class="list-column">
              <div class="list-item" (click)="selectValue('Quarter', modal)">
                <div class="title">Quarter</div>
                <div class="example">E.g., Q1, Q2</div>
              </div>
              <div class="list-item" (click)="selectValue('Month', modal)">
                <div class="title">Month</div>
                <div class="example">E.g., January, February</div>
              </div>
              <div class="list-item" (click)="selectValue('Week', modal)">
                <div class="title">Week</div>
                <div class="example">E.g., Week 1, Week 2</div>
              </div>
              <div class="list-item" (click)="selectValue('WeekDay', modal)">
                <div class="title">Week Day</div>
                <div class="example">E.g., Sunday, Monday</div>
              </div>
              <div class="list-item" (click)="selectValue('DayOfMonth', modal)">
                <div class="title">Day of Month</div>
                <div class="example">E.g., 1 to 31</div>
              </div>
              <div class="list-item" (click)="selectValue('HourOfDay', modal)">
                <div class="title">Hour of Day</div>
                <div class="example">E.g., 0 to 23 hrs</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </ng-template> -->


    <ng-template #calendarModal let-modal>
      <div class="modal-header">
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
      </div>
      <div class="modal-body right-side-modal">
        <div class="card-body pt-0">
          <div class="container1">
            <div class="list-row">
              <div class="list-column">
                <div class="list-item active" (click)="selectValue('Last 24 Hours', modal)" (mouseenter)="showTooltip('Last 24 Hours')"
                  (mouseleave)="hideTooltip()">
                  <div class="title">Last 24 Hours</div>
                  <div class="example">E.g., Last 24 hours of data</div>
                </div>
                <div class="list-item" (click)="selectValue('Today', modal)" (mouseenter)="showTooltip('Today')"
                  (mouseleave)="hideTooltip()">
                  <div class="title">Today</div>
                  <div class="example">E.g., Data from 00:00 hrs to now</div>
                </div>
                <div class="list-item" (click)="selectValue('Yesterday', modal)" (mouseenter)="showTooltip('Yesterday')"
                  (mouseleave)="hideTooltip()">
                  <div class="title">Yesterday</div>
                  <div class="example">E.g., Data from previous day</div>
                </div>
                <div class="list-item" (click)="selectValue('Last 7 days', modal)" (mouseenter)="showTooltip('Last 7 days')"
                  (mouseleave)="hideTooltip()">
                  <div class="title">Last 7 days</div>
                  <div class="example">E.g., Data for past 7 days</div>
                </div>
                <div class="list-item" (click)="selectValue('Last 30 days', modal)" (mouseenter)="showTooltip('Last 30 days')"
                  (mouseleave)="hideTooltip()">
                  <div class="title">Last 30 days</div>
                  <div class="example">E.g., Data for the past 30 days</div>
                </div>
                <div class="list-item" (click)="selectValue('This Week', modal)" (mouseenter)="showTooltip('This Week')"
                  (mouseleave)="hideTooltip()">
                  <div class="title">This Week</div>
                  <div class="example">E.g., Current week (Sunday to Saturday)</div>
                </div>
                <div class="list-item" (click)="selectValue('Last Week', modal)" (mouseenter)="showTooltip('Last 5 Weeks')"
                  (mouseleave)="hideTooltip()">
                  <div class="title">Last Week</div>
                  <div class="example">E.g., Data for last week</div>
                </div>
                <div class="list-item" (click)="selectValue('This Month', modal)" (mouseenter)="showTooltip('This Month')"
                  (mouseleave)="hideTooltip()">
                  <div class="title">This Month</div>
                  <div class="example">E.g., Data for current month</div>
                </div>
                <div class="list-item" (click)="selectValue('any', modal)" (mouseenter)="showTooltip('any')"
                (mouseleave)="hideTooltip()">
                <div class="title">Any</div>
                <div class="example">E.g., Any</div>
              </div>
              <div class="list-item" (click)="selectValue('Last financial year', modal)" (mouseenter)="showTooltip('Last financial year')"
              (mouseleave)="hideTooltip()">
              <div class="title">Last financial year</div>
              <div class="example">E.g., Data from the last financial year</div>
            </div>
              </div>
            
              <div class="list-column">
                <div class="list-item" (click)="selectValue('Last Month', modal)" (mouseenter)="showTooltip('Last Month')"
                  (mouseleave)="hideTooltip()">
                  <div class="title">Last Month</div>
                  <div class="example">E.g., Data for previous month</div>
                </div>
                <div class="list-item" (click)="selectValue('This Quarter', modal)" (mouseenter)="showTooltip('This Quarter')"
                  (mouseleave)="hideTooltip()">
                  <div class="title">This Quarter</div>
                  <div class="example">E.g., Current quarter (Q1/Q2/Q3/Q4)</div>
                </div>
                <div class="list-item" (click)="selectValue('Last Quarter', modal)" (mouseenter)="showTooltip('Last Quarter')"
                  (mouseleave)="hideTooltip()">
                  <div class="title">Last Quarter</div>
                  <div class="example">E.g., Data from the previous quarter</div>
                </div>
                <div class="list-item" (click)="selectValue('This BiAnnual', modal)" (mouseenter)="showTooltip('This BiAnnual')"
                  (mouseleave)="hideTooltip()">
                  <div class="title">This BiAnnual</div>
                  <div class="example">E.g., Current half-year period</div>
                </div>
                <div class="list-item" (click)="selectValue('Last BiAnnual', modal)" (mouseenter)="showTooltip('Last BiAnnual')"
                  (mouseleave)="hideTooltip()">
                  <div class="title">Last BiAnnual</div>
                  <div class="example">E.g., Previous half-year period</div>
                </div>
                <div class="list-item" (click)="selectValue('This Year', modal)" (mouseenter)="showTooltip('This Year')"
                  (mouseleave)="hideTooltip()">
                  <div class="title">This Year</div>
                  <div class="example">E.g., Data for the current year</div>
                </div>
                <div class="list-item" (click)="selectValue('Last Year', modal)" (mouseenter)="showTooltip('Last Year')"
                  (mouseleave)="hideTooltip()">
                  <div class="title">Last Year</div>
                  <div class="example">E.g., Data from the previous year</div>
                </div>
                <div class="list-item" (click)="selectValue('Last 5 Weeks', modal)" (mouseenter)="showTooltip('Last 5 Years')"
                  (mouseleave)="hideTooltip()">
                  <div class="title">Last 5 Weeks</div>
                  <div class="example">E.g., Data for the last 5 weeks</div>
                </div>
                <div class="list-item" (click)="selectValue('This financial year', modal)" (mouseenter)="showTooltip('This financial year')"
                (mouseleave)="hideTooltip()">
                <div class="title">This financial year</div>
                <div class="example">E.g., Data for the this financial year</div>
              </div>
              </div>
            </div>
            
            
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template #WidgetFilterHelp let-modal>
      <div class="d-flex justify-content-end" style="padding: 16px 24px 0 0;">
        <button
          type="button"
          class="btn-close"
          aria-label="Close"
          (click)="modal.dismiss()"
          style="position: relative; top: 4px; right: 4px;">
        </button>
      </div>
      <app-help-section-filter
    
      ></app-help-section-filter>
    </ng-template>


    <ng-template #RowCalHelp let-modal>
      <div class="d-flex justify-content-end" style="padding: 16px 24px 0 0;">
        <button
          type="button"
          class="btn-close"
          aria-label="Close"
          (click)="modal.dismiss()"
          style="position: relative; top: 4px; right: 4px;">
        </button>
      </div>
      <app-help-section-row-cal
    
      ></app-help-section-row-cal>
    </ng-template>


    <ng-template #predefinedScriptsHelp let-modal>
      <div class="d-flex justify-content-end" style="padding: 16px 24px 0 0;">
        <button
          type="button"
          class="btn-close"
          aria-label="Close"
          (click)="modal.dismiss()"
          style="position: relative; top: 4px; right: 4px;">
        </button>
      </div>
      <app-help-section-predefined
    
      ></app-help-section-predefined>
    </ng-template>



    <ng-template #RowUnitHelp let-modal>
      <div class="d-flex justify-content-end" style="padding: 16px 24px 0 0;">
        <button
          type="button"
          class="btn-close"
          aria-label="Close"
          (click)="modal.dismiss()"
          style="position: relative; top: 4px; right: 4px;">
        </button>
      </div>
      <app-help-section-row-unit
    
      ></app-help-section-row-unit>
    </ng-template>