.processed-value-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Ensure it takes up full width of its parent */
    height: auto; /* Remove 100% height to make it responsive */
  }