<ngx-spinner *ngIf="loading" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box"
    [fullScreen]="true">
    <p style="color: white"> Loading data, please wait... </p>
</ngx-spinner>
<div class="card">
    <div class="card-header border-0 pt-6">
        <h2>Permission Configuration</h2>
    </div>
    <div class="card-header border-0 pt-0">

        <!--begin::Card title-->
        <div class="card-title">

            <div class="d-flex align-items-center position-relative my-1">
                <app-keenicon name="magnifier" class="fs-3 position-absolute ms-5"></app-keenicon>
                <input type="text" data-action="filter" class="form-control form-control-solid w-250px ps-12"
                    placeholder="Search Permission">
            </div>

        </div>
        <!--begin::Card title-->

        <!--begin::Card toolbar-->
        <div class="card-toolbar">
            <!--begin::Toolbar-->
            <div class="d-flex justify-content-end">
                <!--begin::Add user-->
                <button type="button" class="btn btn-primary" data-action="create">
                    Add
                </button>
                <!--end::Add user-->
            </div>
            <!--end::Toolbar-->
            <!-- </div> -->
            <!--end::Card toolbar-->
        </div>
    </div>
    <!-- <div class="card-body pt-0"> -->
    <div class="card-body pt-0">
        <app-crud [componentSource]="'permission3'" [datatableConfig]="datatableConfig" route="/permission1"
            (deleteEvent)="delete($event)" (editEvent)="edit($event)" (createEvent)="create()" [reload]="reloadEvent"
            [modal]="formModal"></app-crud>
    </div>
</div>

<swal #noticeSwal [swalOptions]="swalOptions">
</swal>

<ng-template #formModal let-modal>
    <form [formGroup]="permissionForm" (ngSubmit)="onSubmit($event)">
        <div class="modal-header">
            <h4 *ngIf="!update" class="modal-title" id="modal-basic-title">Add Permission Configuration</h4>
            <h4 *ngIf="update" class="modal-title" id="modal-basic-title">Edit Permission Configuration</h4>
            <button *ngIf="update" [disabled]="cloneUserOperation" type="button" placement="bottom"
                class="btn btn-sm btn-warning copy-btn ms-1" (click)="onCloneUser()">
                <span class="copy-icon"><i class="fa-regular fa-copy fs-6 text-white pt-1"></i></span>
                <!-- Copy icon (clipboard) -->
                <span class="copy-text"> Clone Permission</span> <!-- Text that appears on hover -->
            </button>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <div class="d-flex flex-column scroll-y p-9" id="kt_modal_update_customer_scroll" data-kt-scroll="true"
                data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto"
                data-kt-scroll-dependencies="#kt_modal_update_customer_header"
                data-kt-scroll-wrappers="#kt_modal_update_customer_scroll" data-kt-scroll-offset="300px">
                <div class="collapse show" #collapse1="ngbCollapse" [(ngbCollapse)]="isCollapsed1">
                    <!--begin::Input group-->
                    <div class="row">
                        <!-- Permission Id -->
                        <div class="col-md-4 mb-4">
                            <label class="required fw-semibold fs-6 mb-2">Permission Id</label>
                            <input *ngIf="!update" type="text" class="form-control form-control-solid mb-3 mb-lg-0"
                                name="permissionID" placeholder="Enter permission Id" formControlName="permissionID"
                                (keyup)="checkUniqueUid($event)" required />
                            <input *ngIf="update" type="text" class="form-control form-control-solid mb-3 mb-lg-0"
                                name="permissionID" placeholder="Enter permission Id" formControlName="permissionID"
                                readonly required />
                            <span style="color: #fc1900;">{{error}}</span>
                            <div *ngIf="
                                        permissionForm.get('permissionID')?.hasError('required') &&
                                        permissionForm.get('permissionID')?.touched
                                      " class="fv-plugins-message-container invalid-feedback">
                                Permission Id is required.
                            </div>
                        </div>

                        <!-- Label -->
                        <div class="col-md-4 mb-4">
                            <label class="required fw-semibold fs-6 mb-2">Label</label>
                            <input type="text" class="form-control form-control-solid" name="label"
                                formControlName="label" placeholder="Enter label" />
                            <div *ngIf="
                                        permissionForm.get('label')?.hasError('required') &&
                                        permissionForm.get('label')?.touched
                                      " class="fv-plugins-message-container invalid-feedback">
                                Label is required.
                            </div>
                        </div>

                        <!-- Description -->
                        <div class="col-md-4 mb-4">
                            <label class="required fw-semibold fs-6 mb-2">Description</label>
                            <input type="text" class="form-control form-control-solid" name="description"
                                placeholder="Enter description" formControlName="description" />
                            <!-- <div *ngIf="permissionForm.controls['description'].invalid && permissionForm.controls['description'].touched"
                                class="invalid-feedback">
                                Description is required.
                            </div> -->
                            <span style="color: #fc1900;">{{error}}</span>
                            <div *ngIf="
                                        permissionForm.get('description')?.hasError('required') &&
                                        permissionForm.get('description')?.touched
                                      " class="fv-plugins-message-container invalid-feedback">
                                Description is required
                            </div>
                        </div>

                        <!-- refference <div class="col-md-4">
                            <label class="required fw-semibold fs-6 mb-2"> User Name
                            </label>

                            <input type="text" class="
                                        form-control form-control-lg form-control-solid
                                        mb-3 mb-lg-0
                                      " placeholder="Enter User Name" name="username" formControlName="username"
                                required (keyup)="checkUniqueIdentifier($event)" autocomplete="off">

                            <span style="color: #fc1900;">{{errorForUniqueID}}</span>
                            <div *ngIf="
                                        createUserField.get('username')?.hasError('required') &&
                                        createUserField.get('username')?.touched
                                      " class="fv-plugins-message-container invalid-feedback">
                                Username is required
                            </div>
                        </div> -->

                        <!-- <div class="col-md-4 mb-4">
                            <label class="required fw-semibold fs-6 mb-2">Time</label>
                            <input type="number" class="form-control form-control-solid" name="time"
                                placeholder="Enter time" formControlName="time" />
                            <div *ngIf="permissionForm.controls['time'].invalid && permissionForm.controls['time'].touched"
                                class="invalid-feedback">
                                Time is required.
                            </div>
                        </div> -->
                        <!-- <div class="col-md-4 mb-6">
                            <label class="required fw-semibold fs-6 mb-2">Number Of Request</label>
                            <input type="number" class="form-control form-control-solid" name="no_of_request"
                                placeholder="Enter no of request" formControlName="no_of_request" />
                            <div *ngIf="permissionForm.controls['no_of_request'].invalid && permissionForm.controls['no_of_request'].touched"
                                class="invalid-feedback">
                                Number Of Request is required.
                            </div>
                        </div> -->
                        <!-- <div class="col-md-4 mb-6">
                            <label class="required fw-semibold fs-6 mb-2">Number Of Records</label>
                            <input type="number" class="form-control form-control-solid" name="no_of_records"
                                placeholder="Enter no of records" formControlName="no_of_records" />
                            <div *ngIf="permissionForm.controls['no_of_records'].invalid && permissionForm.controls['no_of_records'].touched"
                                class="invalid-feedback">
                                Number Of Records is required.
                            </div>
                        </div> -->
                        <!-- <div class="col-md-4 mb-6">
                            <label class="required fw-semibold fs-6 mb-2">Size</label>
                            <input type="number" class="form-control form-control-solid" name="size"
                                placeholder="Enter size" formControlName="size" />
                            <div *ngIf="permissionForm.controls['size'].invalid && permissionForm.controls['size'].touched"
                                class="invalid-feedback">
                                Size is required.
                            </div>
                        </div> -->
                        <!-- <div class="col-md-4 mb-6">
                            <label class="required fw-semibold fs-6 mb-2">User Grade</label>
                            <select type="number" class="form-select form-select-solid form-select-lg" name="user_grade"
                                placeholder="Enter size" formControlName="user_grade">
                                <option value="null" disabled="true" [selected]="true">Select User Grade </option>
                                <option value="l0">L0</option>
                                <option value="l1">L1</option>
                                <option value="l2">L2</option>
                                <option value="l3">L3</option>
                                <option value="l4">L4</option>
                                <option value="l5">L5</option>
                                <option value="l6">L6</option>
                                <option value="l7">L7</option>
                                <option value="l8">L8</option>
                                <option value="l9">L9</option>
                                <option value="l10">L10</option>
                            </select>
                            <div *ngIf="permissionForm.controls['user_grade'].invalid && permissionForm.controls['user_grade'].touched"
                                class="invalid-feedback">
                                User Grade is required.
                            </div>
                        </div> -->
                        <div class="col-md-4 mb-6">
                            <label class="required fw-semibold fs-6 mb-2">Dreamboard ID</label>
                            <div class="custom-multiselect">

                                <p-multiSelect [options]="dreamBoardIDs" value="value" placeholder="Select dreamboard"
                                    (onChange)="onDreamboardSelect($event)" formControlName="dreamBoardIDs" required>
                                </p-multiSelect>
                            </div>

                            <span style="color: #fc1900;">{{error}}</span>
                            <div *ngIf="
                                        permissionForm.get('dreamBoardIDs')?.hasError('required') &&
                                        permissionForm.get('dreamBoardIDs')?.touched
                                      " class="fv-plugins-message-container invalid-feedback">
                                Please select Dreamboard ID
                            </div>
                            <!-- <div class="custom-multiselect">
                                <ng-multiselect-dropdown style="
                                          display: inline-block; 
                                          width: 100%;
                                          padding: 0px ;
                                          margin-bottom: 0;
                                          font-weight: 0px;
                                          line-height: 1.52857143;
                                          text-align: left;
                                          vertical-align: middle;
                                          cursor: pointer;
                                          background-image: none;
                                          border-radius: 4px;
                                          
                                          " class="form-select form-select-solid form-select"
                                    [placeholder]="'Select dreamboard Id'" [settings]="dropdownSettings"
                                    [data]="dreamBoardIDs" name="dreamBoardIDs"
                                    [formControl]="$any(permissionForm.controls['dreamBoardIDs'])">
                                </ng-multiselect-dropdown>
                            </div> -->
                        </div>
                        <div class="col-md-4 mb-6">
                            <label class="fw-semibold fs-6 mb-2 required">Summary Dashboard</label>
                            <div class="custom-multiselect">

                                <p-multiSelect [options]="summaryList" value="value"
                                    placeholder="Select summary permission" (onChange)="onModuleSelect($event)"
                                    formControlName="summaryList" required>
                                </p-multiSelect>
                            </div>

                            <span style="color: #fc1900;">{{error}}</span>
                            <div *ngIf="
                                        permissionForm.get('summaryList')?.hasError('required') &&
                                        permissionForm.get('summaryList')?.touched
                                      " class="fv-plugins-message-container invalid-feedback">
                                Please select Summary Dashboard
                            </div>
                            <!-- <div class="custom-multiselect">
                                <ng-multiselect-dropdown style="
                                          display: inline-block; 
                                          width: 100%;
                                          padding: 0px ;
                                          margin-bottom: 0;
                                          font-weight: 0px;
                                          line-height: 1.52857143;
                                          text-align: left;
                                          vertical-align: middle;
                                          cursor: pointer;
                                          background-image: none;
                                          border-radius: 4px;
                                          
                                          " class="form-select form-select-solid form-select"
                                    [placeholder]="'Select summary permission'" [settings]="dropdownSettings"
                                    [data]="summaryList" name="summaryList" (onSelect)="onValueChange($event)"
                                    (onDeSelect)="onSummarydeSelect($event)" (onSelectAll)="onSummarySelectAll($event)" (onDeSelectAll)="onDeSelectSummaryAll($event)"
                                    [formControl]="$any(permissionForm.controls['summaryList'])">
                                </ng-multiselect-dropdown>
                            </div> -->
                        </div>
                        <div class="col-md-4 mb-6">
                            <label class="fw-semibold fs-6 mb-2">Advance Report Permission</label>
                            <div class="custom-multiselect">
                                <ng-multiselect-dropdown style="
                                          display: inline-block; 
                                          width: 100%;
                                          padding: 0px ;
                                          margin-bottom: 0;
                                          font-weight: 0px;
                                          line-height: 1.52857143;
                                          text-align: left;
                                          vertical-align: middle;
                                          cursor: pointer;
                                          background-image: none;
                                          border-radius: 4px;
                                          
                                          " class="form-select form-select-solid form-select"
                                    [placeholder]="'Select report permission'" [settings]="dropdownSettings"
                                    [data]="advance_report" name="advance_report"
                                    [formControl]="$any(permissionForm.controls['advance_report'])">
                                </ng-multiselect-dropdown>
                            </div>
                        </div>
                        <!-- <div class="col-md-4 mb-6">
                            <label class="fw-semibold fs-6 mb-2">Advance Report Permission</label>
                            <div class="custom-multiselect">
                                <ng-multiselect-dropdown style="
                                          display: inline-block; 
                                          width: 100%;
                                          padding: 0px ;
                                          margin-bottom: 0;
                                          font-weight: 0px;
                                          line-height: 1.52857143;
                                          text-align: left;
                                          vertical-align: middle;
                                          cursor: pointer;
                                          background-image: none;
                                          border-radius: 4px;
                                          
                                          " class="form-select form-select-solid form-select"
                                    [placeholder]="'Select report permission'" [settings]="dropdownSettings"
                                    [data]="advance_report" name="advance_report"
                                    [formControl]="$any(permissionForm.controls['advance_report'])">
                                </ng-multiselect-dropdown>
                            </div>
                        </div> -->
                        <div class="col-md-4 mb-6">
                            <label class="fw-semibold fs-6 mb-2 required">User Restriction</label>
                            <div class="custom-multiselect">

                                <p-multiSelect [options]="userList" value="value"
                                    placeholder="Select summary permission" (onChange)="onUserSelect($event)"
                                    formControlName="userList" required>
                                </p-multiSelect>
                            </div>

                            <!-- <span style="color: #fc1900;">{{error}}</span> -->
                            <div *ngIf="
                                        permissionForm.get('userList')?.hasError('required') &&
                                        permissionForm.get('userList')?.touched
                                      " class="fv-plugins-message-container invalid-feedback">
                                Please select User Restriction
                            </div>
                            <!-- <div class="custom-multiselect">
                                <ng-multiselect-dropdown style="
                                          display: inline-block; 
                                          width: 100%;
                                          padding: 0px ;
                                          margin-bottom: 0;
                                          font-weight: 0px;
                                          line-height: 1.52857143;
                                          text-align: left;
                                          vertical-align: middle;
                                          cursor: pointer;
                                          background-image: none;
                                          border-radius: 4px;
                                          
                                          " class="form-select form-select-solid form-select"
                                    [placeholder]="'Select user'" [settings]="dropdownSettings" [data]="userList" (onSelect)="onUserChange($event)"
                                    (onDeSelect)="onUserdeSelect($event)"
                                    name="userList" [formControl]="$any(permissionForm.controls['userList'])">
                                </ng-multiselect-dropdown>
                            </div> -->
                        </div>
                        <!-- <div class="col-md-4 mb-6">
                            <label class="fw-semibold fs-6 mb-2">Magicboard ID</label>
                            <div class="custom-multiselect">
                                <ng-multiselect-dropdown style="
                                          display: inline-block; 
                                          width: 100%;
                                          padding: 0px ;
                                          margin-bottom: 0;
                                          font-weight: 0px;
                                          line-height: 1.52857143;
                                          text-align: left;
                                          vertical-align: middle;
                                          cursor: pointer;
                                          background-image: none;
                                          border-radius: 4px;
                                          
                                          " class="form-select form-select-solid form-select"
                                    [placeholder]="'Select magicboard Id'" [settings]="dropdownSettings"
                                    [data]="magicboardId" name="magicboardId"
                                    [formControl]="$any(permissionForm.controls['magicboardId'])">
                                </ng-multiselect-dropdown>
                            </div>
                        </div> -->
                        <!-- <div class="col-md-4 mb-6 form-check form-check-custom form-check-solid form-check-success form-switch
                        " style="float: right; padding-left: 20px;">
                            <input class="form-check-input" type="checkbox" name="api_enable"
                                formControlName="api_enable" />
                            <label class="form-check-label text-gray-700 fw-bold" data-bs-toggle="tooltip">Api
                                Enable</label>
                        </div> -->
                        <!-- <div class="col-md-12 mb-12">
                            <label class="required fw-semibold fs-6 mb-2">Other Setting</label>
                            <textarea class="form-control form-control-solid" name="setting" placeholder="Enter setting"
                                formControlName="setting"></textarea>
                            <div *ngIf="permissionForm.controls['setting'].invalid && permissionForm.controls['setting'].touched"
                                class="invalid-feedback">
                                Setting is required.
                            </div>
                        </div> -->

                    </div>
                </div>
                <div class="card card-custom">

                    <div class="card-header card-header-stretch overflow-auto">
                        <ul class="
                          nav nav-stretch nav-line-tabs
                          fw-bold
                          border-transparent
                          flex-nowrap w-100
                        " role="tablist">

                            <li class="nav-item ">
                                <a class="nav-link cursor-pointer required invalid-shake" [ngClass]="{ active: activeTab === 'Sidebar' ,
                                        'invalid-tab':  checkModules && permissionForm.get('permissionsList')?.touched
                                    }" (click)="setActiveTab('Sidebar')" role="tab">
                                    Modules
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link cursor-pointer required" [ngClass]="{ active: activeTab === 'Toolbar' ,
                                        'invalid-tab':  checkFormgroup && permissionForm.get('formgroup')?.touched}"
                                    (click)="setActiveTab('Toolbar')" role="tab">
                                    Form Group
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link cursor-pointer required"
                                    [ngClass]="{ active: activeTab === 'Header' ,
                                        'invalid-tab':  checkDynamicFormCondition && permissionForm.get('dynamicForm')?.touched }"
                                    (click)="setActiveTab('Header')" role="tab">
                                    Dynamic Form
                                </a>
                            </li>

                        </ul>
                    </div>
                    <div class="card-body">
                        <div *ngIf="activeTab === 'Sidebar'">
                            <div class="table-responsive">
                                <table class="table align-middle table-row-dashed">
                                    <thead>
                                        <tr>
                                            <th class="fw-bold">Permission</th>
                                            <th class="fw-bold">View</th>
                                            <th class="fw-bold">Update</th>
                                        </tr>
                                    </thead>
                                    <tbody formArrayName="permissionsList">
                                        <tr *ngIf="permissionsArray.controls.length">
                                            <td>Select All</td>
                                            <td colspan="2">
                                                <label
                                                    class="form-check form-check-custom form-check-solid align-items-start">
                                                    <input class="form-check-input me-3" type="checkbox"
                                                        (change)="onSelectAllChanged($event)" />
                                                    Select All
                                                </label>
                                            </td>
                                        </tr>
                                        <tr *ngFor="let permission of permissionsArray.controls; let i = index"
                                            [formGroupName]="i">
                                            <td>{{ permission.get('name')?.value }}</td>
                                            <td><label class="
                                                          form-check form-check-custom form-check-solid
                                                          align-items-start
                                                        "><input class="form-check-input me-3" type="checkbox"
                                                        formControlName="view"></label></td>
                                            <td><label class="
                                                          form-check form-check-custom form-check-solid
                                                          align-items-start
                                                        "><input class="form-check-input me-3" type="checkbox"
                                                        formControlName="update"></label></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div *ngIf="activeTab === 'Header'">

                            <div class="row">
                                <div class="col-md-5 mb-4">
                                    <label class="fw-semibold fs-6 mb-2">Dynamic Form</label>
                                    <!-- <input type="text" class="form-control form-control-solid" name="dynamicForm"
                                        placeholder="Enter dynamic form" formControlName="dynamicForm" /> -->
                                    <div class="custom-multiselect">
                                        <ng-multiselect-dropdown style="
                                                      display: inline-block; 
                                                      width: 100%;
                                                      padding: 0px ;
                                                      margin-bottom: 0;
                                                      font-weight: 0px;
                                                      line-height: 1.52857143;
                                                      text-align: left;
                                                      vertical-align: middle;
                                                      cursor: pointer;
                                                      background-image: none;
                                                      border-radius: 4px;
                                                      " class="form-select form-select-solid form-select"
                                            (onSelect)="dynamicFormSelect($event)" [placeholder]="'dynamic form'"
                                            [disabled]="disabled" [settings]="dropdownSettings_" [data]="formList"
                                            name="dynamicForm"
                                            [formControl]="$any(permissionForm.controls['dynamicForm'])">
                                        </ng-multiselect-dropdown>
                                    </div>

                                    <span style="color: #fc1900;">{{dynamicFormError}}</span>
                                </div>
                                <div class="col-md-5 mb-4">
                                    <label class="fw-semibold fs-6 mb-2">Permission</label>
                                    <!-- <input type="text" class="form-control form-control-solid" name="permission"
                                        placeholder="Enter permission" formControlName="permission" /> -->
                                    <div class="custom-multiselect">
                                        <ng-multiselect-dropdown style="
                                                      display: inline-block; 
                                                      width: 100%;
                                                      padding: 0px ;
                                                      margin-bottom: 0;
                                                      font-weight: 0px;
                                                      line-height: 1.52857143;
                                                      text-align: left;
                                                      vertical-align: middle;
                                                      cursor: pointer;
                                                      background-image: none;
                                                      border-radius: 4px;
                                                      " class="form-select form-select-solid form-select-sm"
                                            [placeholder]="'permission'" [settings]="dropdownSettings"
                                            [data]="form_permission" name="permission"
                                            [formControl]="$any(permissionForm.controls['permission'])">
                                        </ng-multiselect-dropdown>
                                    </div>
                                    <span style="color: #fc1900;">{{permissionError}}</span>
                                </div>

                                <div class="form-group row ps-4 mb-7">
                                    <label
                                        class="required col-lg-3 col-form-label col-sm-12 text-right col-form-label-sm fw-bold">Filter
                                        Data</label>
                                    <div class="col-3 d-flex gap-7 align-items-center">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" id="filterAll"
                                                formControlName="filterOption" value="default"
                                                (change)="onFilterChange($event, 'html')">
                                            <label class="form-check-label" for="filterAll">Default</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" id="filterOnCondition"
                                                formControlName="filterOption" value="advance"
                                                (change)="onFilterChange($event, 'html')">
                                            <label class="form-check-label" for="filterOnCondition">Advance</label>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="selectedFilterOption === 'advance'" class="row">

                                    <div class="col-md-3 mb-4">
                                        <label class="fw-semibold fs-6 mb-2">Field Label</label>
                                        <select class="form-select form-select-solid form-select" name="field"
                                            placeholder="Select field" formControlName="field">
                                            <option value="" disabled [selected]="true">Select field</option>
                                            <option *ngFor="let item of formfieldData"
                                                [value]="item.label + '.' + item.name">
                                                {{ item.label }}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-md-2 mb-19 d-flex align-items-end">
                                        <button type="button"
                                            class="btn btn-light-primary w-30 d-flex align-items-center justify-content-center"
                                            (click)="populateFilterEquation()">
                                            <i class="bi bi-plus"></i>
                                        </button>
                                    </div>
                                    <div class="col-md-5 mb-4 filter-equation">
                                        <label class="fw-semibold fs-6 mb-2">Filter equation</label>
                                        <textarea type="text" class="form-control form-control-solid" name="fieldValue"
                                            rows="3" placeholder="value" formControlName="fieldValue"></textarea>
                                    </div>


                                    <div class="col-md-2 mb-16 d-flex align-items-end">
                                        <button type="button" class="btn btn-primary w-60"
                                            (click)="addDynamicData()">Add</button>
                                    </div>
                                </div>

                                <div *ngIf="selectedFilterOption === 'default'" class="row">
                                    <!-- <div formArrayName="conditions">
                                        <div *ngFor="let condition of conditions.controls; let i = index" [formGroupName]="i" style="display: flex; flex-wrap: wrap; justify-content: space-between;"> -->
                                    <div class="form-group"
                                        style="border: 1px solid blue; padding: 10px; width: 900px; margin: 5px;">
                                        <h5>{{ formName }}</h5>
                                        <div formArrayName="conditions">
                                            <div *ngFor="let condition of conditions.controls; let condIndex = index"
                                                [formGroupName]="condIndex"
                                                style="display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center;">
                                                <div
                                                    style="display: flex;flex-wrap: wrap;justify-content: space-between;">
                                                    <div class="mb-3" style="width: 30%;">
                                                        <label class="required">Field Label</label>
                                                        <select formControlName="field" class="form-control"
                                                            (change)="onFormSelection($event,condIndex)">
                                                            <option value="" disabled [selected]="true">Select field
                                                            </option>
                                                            <option *ngFor="let item of formfieldData_"
                                                                [value]="item.label + '.' + item.name">
                                                                {{ item.label }}
                                                            </option>
                                                        </select>
                                                    </div>

                                                    <div class="mb-3" style="width: 30%;">
                                                        <label class="required">Operator</label>
                                                        <select formControlName="operator" placeholder="Select operator"
                                                            class="form-control">
                                                            <option value="" disabled selected>Select operator</option>
                                                            <option value="==">Equals</option>
                                                            <option value=">">Not equals</option>
                                                            <option value=">">Greater than</option>
                                                            <option value="<">Less than</option>
                                                            <option value="<=">Less than equals to</option>
                                                            <option value=">=">Greater than equals to</option>
                                                        </select>
                                                    </div>

                                                    <div nclass="mb-3" style="width: 30%;" *ngIf="dropdown">
                                                        <label class="required">Value</label>
                                                        <!-- <input type="text" formControlName="value" placeholder="value"  class="form-control" /> -->
                                                        <select formControlName="value" placeholder="Select value"
                                                            class="form-control">
                                                            <option value="" disabled selected>Select operator</option>
                                                            <option *ngFor="let item of extractedValues" [value]="item">
                                                                {{ item }}
                                                            </option>
                                                        </select>
                                                    </div>

                                                    <div nclass="mb-3" style="width: 30%;"
                                                        *ngIf="condition.get('dropdown')?.value">
                                                        <label class="required">Value</label>
                                                        <select formControlName="value" placeholder="Select value"
                                                            class="form-control">
                                                            <option value="" disabled selected>Select value</option>
                                                            <option *ngFor="let item of extractedValues[condIndex]"
                                                                [value]="item">
                                                                {{ item }}
                                                            </option>
                                                        </select>
                                                    </div>

                                                    <div class="mb-3" style="width: 30%;"
                                                        *ngIf="!condition.get('dropdown')?.value">
                                                        <label class="required">Value</label>
                                                        <input type="text" formControlName="value" placeholder="value"
                                                            class="form-control" />
                                                    </div>

                                                    <div *ngIf="condIndex < conditions.length - 1" class="mb-3"
                                                        style="width: 30%;">
                                                        <label class="required">Between Operator</label>
                                                        <select formControlName="operatorBetween"
                                                            placeholder="Select operator" class="form-control">
                                                            <option value="&&">AND</option>
                                                            <option value="||">OR</option>
                                                        </select>
                                                    </div>

                                                    <div
                                                        style="width: 100%; display: flex; justify-content: flex-start;">
                                                        <button *ngIf="condIndex != 0" type="button"
                                                            class="btn btn-danger btn-sm mt-2 mb-2"
                                                            (click)="removeCondition(condIndex)">
                                                            Remove Condition
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="button" class="btn btn-primary btn-sm mt-2"
                                            [disabled]="!isConditionsValid" (click)="addCondition()">Add
                                            Condition</button>
                                    </div>
                                    <div class="col-md-2 mb-16 d-flex align-items-end">
                                        <button type="button" class="btn btn-primary w-60"
                                            (click)="addDynamicData()">Add</button>
                                    </div>
                                </div>



                            </div>
                            <div class="table-responsive mt-4">
                                <table class="table align-middle table-row-dashed">
                                    <thead>
                                        <tr>
                                            <th class="fw-bold">Dynamic Form</th>
                                            <th class="fw-bold">Permission</th>
                                            <th class="fw-bold">Filter Equation</th>
                                            <th class="fw-bold">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let entry of dynamicEntries.controls; let i = index">
                                            <td class="text-truncate filter-equation-cell"
                                                title="{{ entry.get('dynamicForm')?.value }}">
                                                {{ entry.get('dynamicForm')?.value }}</td>
                                            <td class="text-truncate filter-equation-cell"
                                                title="{{ entry.get('permission')?.value }}">
                                                {{ entry.get('permission')?.value }}</td>
                                            <td class="text-truncate filter-equation-cell"
                                                title="{{ entry.get('fieldValue')?.value }}">
                                                {{ entry.get('fieldValue')?.value }}
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-sm btn-warning me-2"
                                                    (click)="editEntry(i)">
                                                    <i class="fas fa-edit"></i>
                                                </button>

                                                <!-- Delete Button with Icon -->
                                                <button type="button" class="btn btn-sm btn-danger"
                                                    (click)="removeDynamicData(i)">
                                                    <i class="fas fa-trash-alt"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div *ngIf="activeTab === 'Toolbar'">

                            <div class="row">
                                <div class="col-md-5 mb-4">
                                    <label class="required fw-semibold fs-6 mb-2">Form Group</label>
                                    <!-- <input type="text" class="form-control form-control-solid" name="dynamicForm"
                                        placeholder="Enter dynamic form" formControlName="dynamicForm" /> -->
                                    <div class="custom-multiselect">
                                        <ng-multiselect-dropdown style="
                                                      display: inline-block; 
                                                      width: 100%;
                                                      padding: 0px ;
                                                      margin-bottom: 0;
                                                      font-weight: 0px;
                                                      line-height: 1.52857143;
                                                      text-align: left;
                                                      vertical-align: middle;
                                                      cursor: pointer;
                                                      background-image: none;
                                                      border-radius: 4px;
                                                      " class="form-select form-select-solid form-select"
                                            [placeholder]="'Select form group'" [settings]="dropdownSettings"
                                            [data]="formgroupIDs " name="formgroup"
                                            [formControl]="$any(permissionForm.controls['formgroup'])"
                                            (onSelect)="onFormGroupSelect($event)"
                                            (onDeSelect)="onFormGroupDeSelect($event)"
                                            (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)">
                                        </ng-multiselect-dropdown>
                                    </div>
                                    <!-- <span style="color: #fc1900;">{{dynamicFormError}}</span> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="modal-footer flex-center">
            <button type="reset" id="kt_modal_update_customer_cancel" class="btn btn-light me-3"
                (click)="modal.dismiss('cancel')">
                Discard
            </button>
            <button type="submit" id="kt_modal_update_customer_submit" class="btn btn-primary"
                [attr.data-kt-indicator]="isLoading ? 'on' : 'off'">
                <span *ngIf="!update" class="indicator-label">Submit</span>
                <span *ngIf="update" class="indicator-label">Update</span>
                <span class="indicator-progress">
                    Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                </span>
            </button>
        </div>

    </form>
</ng-template>