.filter-equation {
    margin-left: -60px; /* Adjust this value as needed to reduce the gap */
}

.filter-equation-cell {
    max-width: 200px; /* Adjust the max-width as needed */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .filter-equation-cell:hover {
    white-space: normal; /* Expand on hover to display full content */
    overflow: visible;
    background-color: #f8f9fa; /* Optional: Highlight background on hover */
    position: relative; /* Ensure proper stacking when expanded */
    z-index: 1;
  }


.btn:hover{
  transform: translateY(-2px);
  transition: 0.5s;
} 



/* Override Bootstrap button styles for this specific button */
.copy-btn {
position: relative;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
transition: background-color 0.3s ease-in-out;
}

/* Icon style */
.copy-icon {
display: inline-block;
}

/* Text that shows up on hover */
.copy-text {
display: none; /* Initially hidden */
}

/* Show text when hovered */
.copy-btn:hover .copy-text {
display: inline-block;
}

/* Show the text when hovered and icon still appears */
.copy-btn:hover .copy-icon {
margin-right: 5px;
transition: 0.4s;/* Increase space when showing text */
}

/* Optional: Button hover effect */
.copy-btn:hover {
background-color: #d9534f; /* Darker red (Bootstrap's btn-danger on hover) */
}

  