<div class="d-flex flex-column bgi-no-repeat rounded-top"
  [style.background-image]="'url(./assets/media/misc/menu-header-bg.jpg)'">

  <div class="px-9 mt-10 mb-6 d-flex flex-column gap-1">
    <h3 class="text-white fw-bold m-0">
      Notifications
    </h3>

    <div class="d-flex align-items-center gap-4">
      <span class="text-white-50 fs-7">
        Total: <strong>{{ alerts.length }}</strong>
      </span>

      <span class="text-success fs-7 fw-semibold bg-white bg-opacity-10 px-3 py-1 rounded">
        +{{ newNotification }} new
      </span>
    </div>
  </div>

  <ul class="nav nav-line-tabs nav-line-tabs-2x nav-stretch fw-bold px-9">
    <li class="nav-item">
      <a class="nav-link text-white opacity-75 opacity-state-100 pb-4 cursor-pointer" data-bs-toggle="tab"
        [ngClass]="activeTabId === 'kt_topbar_notifications_1' ? 'active' : ''"
        (click)="setActiveTabId('kt_topbar_notifications_1')">
        Alerts
      </a>
    </li>
  </ul>
</div>



<div class="tab-content">
  <div class="tab-pane fade" id="kt_topbar_notifications_1" role="tabpanel"
    [ngClass]="activeTabId === 'kt_topbar_notifications_1' ? 'show active' : ''">
    <div class="scroll-y mh-325px my-5 px-8 cursor-pointer"> 

      <ul class="list-unstyled m-0 p-0">
        <li *ngFor="let alert of alerts" (click)="toggleSelection(alert)"
          [ngStyle]="{ 'background-color': alert.isSelected ? 'white' : 'lightgrey' }"
          
          class="d-flex flex-stack py-4 rounded mb-2">
          <div class="d-flex align-items-center">
            <div class="symbol symbol-35px me-4">
              <span class="symbol-label" [ngClass]="'bg-light-' + alert.state">
                <img src="assets/media/icons8-bell-96.png" style="width: 50px;height: 50px;" alt="">
              </span>
            </div>

            <div class="mb-0 me-2">
              <a class="fs-6 text-gray-800 text-hover-primary fw-bolder">
                {{ alert.title }}
              </a>
              <div class="text-gray-500 fs-7">{{ alert.description }}</div>
            </div>
          </div>

          <span class="badge badge-light fs-8">{{ alert.time }}</span>

        </li>
      </ul>


    </div>
  </div>

</div>