  
<div class="card card-custom">
    <div class="card-header border-0 pt-6">
        <h2>Client Configuration</h2>
    </div>
    <div class="card-header border-0 pt-0">

        <!--begin::Card title-->
        <div class="card-title">

        <div class="d-flex align-items-center position-relative my-1">
            <app-keenicon name="magnifier" class="fs-3 position-absolute ms-5"></app-keenicon>
            <input type="text" data-action="filter" class="form-control form-control-solid w-250px ps-12"
                placeholder="Search Client">
        </div> 
        
    </div>     
        <!--begin::Card title-->

        <!--begin::Card toolbar-->
        <div class="card-toolbar">
            <!--begin::Toolbar-->
            <div class="d-flex justify-content-end">
                <!--begin::Add user-->
                <button type="button" class="btn btn-primary" data-action="create" [disabled]="!adminLogin">
                    Add
                </button>
                <!--end::Add user-->
                </div>
                <!--end::Toolbar-->
            <!-- </div> -->
            <!--end::Card toolbar-->
        </div>
    </div>
    <!-- <div class="card-body pt-0"> -->
    <div class="card-body pt-0">
        <app-crud-user [componentSource]="'app-client'" [permissionAll]="permissionAll" [datatableConfig]="datatableConfig" route="/client" (deleteEvent)="delete($event)" (editEvent)="edit($event)" (createEvent)="create()" [reload]="reloadEvent" [modal]="clientModal"></app-crud-user>
    </div>
</div>

<!-- swal is not yet implemented -->
<swal #noticeSwal [swalOptions]="swalOptions">
</swal>


<!-- (click)="openModal('','') -->


<ng-template #clientModal let-modal>
    <form [formGroup]="createClientField" (ngSubmit)="onSubmit($event)">
      
        <div class="modal-header">
            <h4 *ngIf="showHeading" class="modal-title" id="modal-basic-title">Add Client Configuration</h4>
            <h4 *ngIf="!showHeading" class="modal-title" id="modal-basic-title">Edit Client Configuration</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>


        <div class="modal-body">
            <div class="d-flex flex-column scroll-y p-9" id="kt_modal_update_customer_scroll"
            data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}"
            data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_modal_update_customer_header"
            data-kt-scroll-wrappers="#kt_modal_update_customer_scroll" data-kt-scroll-offset="300px">
            <div class="collapse show" #collapse1="ngbCollapse" [(ngbCollapse)]="isCollapsed1">

           
                
                   
                        <div class="container">
                            <div class="row">



        
                                <div class="col-lg-4 mb-5">
                              
                                    <label  class="fw-semibold fs-6 mb-2" for="imageInput1">Client Logo</label>
                                    <input type="file" id="imageInput1" class="form-control" (change)="onFileUploaded($event, 'imageInput1')" >
                                    

                                   
                                  <div class="image-preview" style="background-color: white;"  *ngIf="imageUrls[0]" [ngClass]="{'show-preview': hover[0]}">
                                    <img [src]="imageUrls[0]" class="img-fluid rounded" style="max-width: 120px; max-height: 120px;">
                                  </div>
                                  <span><a *ngIf="imageUrls[0]" class="btn btn-sm btn-success fw-bolder ms-2 fs-8 py-1 px-3 " >Uploaded</a></span>
                            </div>

                            <div class="col-lg-4 mb-5">
                                <label class="fw-semibold fs-6 mb-2" for="imageInput2">
                                    Favicon Logo</label>
                                <input type="file" id="imageInput2" class="form-control" (change)="onFileUploaded($event, 'imageInput2')" >
                                
                            
                     
                                <div class="image-preview" style="background-color: white;" *ngIf="imageUrls[1]" [ngClass]="{'show-preview': hover[1]}">
                                  <img [src]="imageUrls[1]" class="img-fluid rounded" style="max-width: 120px; max-height: 120px;">
                                </div>
                                <span><a *ngIf="imageUrls[1]" class="btn btn-sm btn-success fw-bolder ms-2 fs-8 py-1 px-3 " >Uploaded</a></span>
                            </div>


                            <div class="col-lg-4 mb-5">

                                <label class="fw-semibold fs-6 mb-2" for="imageInput3">Client Logo (Dark Theme)</label>
                                <input type="file" id="imageInput3" class="form-control" (change)="onFileUploaded($event, 'imageInput3')" >
                                
                            
                         
                                <div class="image-preview" style="background-color: black;" *ngIf="imageUrls[2]" [ngClass]="{'show-preview': hover[2]}">
                                  <img [src]="imageUrls[2]" class="img-fluid rounded" style="max-width: 120px; max-height: 120px;">
                                </div>
                                <span><a *ngIf="imageUrls[2]" class="btn btn-sm btn-success fw-bolder ms-2 fs-8 py-1 px-3 " >Uploaded</a></span>
                            </div>


                            <div class="col-lg-4 mb-5">
                                <label class="fw-semibold fs-6 mb-2" for="imageInput4">
                                    Favicon Logo (Dark theme)</label>
                                <input type="file" id="imageInput4" class="form-control" (change)="onFileUploaded($event, 'imageInput4')">
                              
                                <div class="image-preview" style="background-color: black;" *ngIf="imageUrls[3]" [ngClass]="{'show-preview': hover[3]}">
                                  <img [src]="imageUrls[3]" class="img-fluid rounded" style="max-width: 120px; max-height: 120px;">
                                </div>
                                <span><a *ngIf="imageUrls[3]" class="btn btn-sm btn-success fw-bolder ms-2 fs-8 py-1 px-3 " >Uploaded</a></span>
                            </div>

 


    
                                <!-- <div class="col-lg-4 ">
    
                                    <div class="col-lg-12 form-group image-input image-input-outline">
                                        <label class=" fw-semibold fs-6 mb-2" for="imageInput">Client Logo
                                            </label>
                                        <input type="file" id="imageInput" title="Click to add/update image"
                                            class="form-control visually-hidden" (change)="onFileChange($event)">
                                        <label for="imageInput" class="form-control form-control-lg form-control-solid"
                                            >Upload Image</label>
                                        <br>
                                        <img class="btn btn-icon btn-box image-input-wrapper w-125px h-125px btn-active-color-primary w-25px h-25px bg-body shadow"
                                            src="{{base64textString_temp}}" *ngIf="base64textString_temp">
                                    </div>
    
                                </div> -->
    
                                <!-- <div class="col-lg-4 ">
                                    <div class="col-lg-12 form-group image-input image-input-outline">
                                        <label class=" fw-semibold fs-6 mb-2" for="imageInput1">Favicon Logo
                                            </label>
                                        <input type="file" id="imageInput1" title="Click to add/update image"
                                            class="form-control visually-hidden" (change)="onFileChange1($event)">
                                        <label for="imageInput1" class="form-control form-control-lg form-control-solid"
                                            >Upload Image</label>
                                        <br>
                                        <img class="btn btn-icon btn-box image-input-wrapper w-125px h-125px btn-active-color-primary w-25px h-25px bg-body shadow"
                                            src="{{base64textString_temp_logo1}}" *ngIf="base64textString_temp_logo1">
                                    </div>
    
                                </div> -->
    
                                <div class="col-md-4">
                                    <label class="required fw-semibold fs-6 mb-2"> Client ID</label>
    
                                    <input type="text" class="
                                    form-control form-control-lg form-control-solid
                                    mb-3 mb-lg-0
                                  " placeholder="Enter client ID" name="clientID" formControlName="clientID" required
                                        (keyup)="checkUniqueIdentifier($event)">
    
                                    <span style="color: #fc1900;">{{errorForUniqueID}}</span>
    
                                    <div *ngIf="
                                    createClientField.get('clientID')?.hasError('required') &&
                                    createClientField.get('clientID')?.touched
                                  " class="fv-plugins-message-container invalid-feedback">
                                        Client ID is required
                                    </div>
    
                                </div>


                                <div class="col-md-4">
                                    <label class="required fw-semibold fs-6 mb-2"> Client Name</label>
    
                                    <input type="text" class="
                                    form-control form-control-lg form-control-solid
                                    mb-3 mb-lg-0
                                  " placeholder="Enter client name" name="clientName" formControlName="clientName"
                                        required>
    
                                    <div *ngIf="
                                 createClientField.get('clientName')?.hasError('required') &&
                                 createClientField.get('clientName')?.touched
                              " class="fv-plugins-message-container invalid-feedback">
                                        Client Name is required
                                    </div>
    
                                </div>
    
                            </div>
                        </div>
    
                        <div class="container mb-7">
                            <div class="row">
    
                           
    
                                <div class="col-md-4">
                                    <label class="required fw-semibold fs-6 mb-2">Client
                                        Description</label>
    
                                    <input type="text" class="
                                      form-control form-control-lg form-control-solid
                                      mb-3 mb-lg-0
                                    " placeholder="Enter client Description" name="clientdesc" formControlName="clientdesc"
                                        required>
                                    <div *ngIf="
                                         createClientField.get('clientdesc')?.hasError('required') &&
                                         createClientField.get('clientdesc')?.touched
                                    " class="fv-plugins-message-container invalid-feedback">
                                        Client Desc is required
                                    </div>
    
                                </div>
    
                                <div class="col-md-4">
                                    <label class="required fw-semibold fs-6 mb-2"> Mobile</label>
    
                                    <input type="text" class="
                                        form-control form-control-lg form-control-solid
                                        mb-3 mb-lg-0
                                      " placeholder="Enter mobile number" name="mobile" formControlName="mobile"
                                        (keypress)="keyPress($event)" minlength=10 maxlength=10 required>
    
                                    <div *ngIf="
                                           createClientField.get('mobile')?.hasError('required') &&
                                           createClientField.get('mobile')?.touched
                                      " class="fv-plugins-message-container invalid-feedback">
                                        Mobile number is required
                                    </div>
                                </div>



                                <div class="col-md-4">
                                    <label class="required fw-semibold fs-6 mb-2"> Email
                                    </label>
    
                                    <input type="email" class="
                                  form-control form-control-lg form-control-solid
                                  mb-3 mb-lg-0
                                " placeholder="Enter email" name="email" formControlName="email"
                                        (keyup)="checkMail($event)" required>
    
                                  
                                    <span *ngIf="errorForInvalidEmail" style="color: #fc1900;">
                                        {{ errorForInvalidEmail }}
                                    </span>
                                    <span *ngIf="errorForUniqueEmail" style="color: #fc1900;">
                                        {{ errorForUniqueEmail }}
                                    </span>
    
                                    <div *ngIf="
                                  createClientField.get('email')?.hasError('required') &&
                                  createClientField.get('email')?.touched
                                " class="fv-plugins-message-container invalid-feedback">
                                        Email is required
                                    </div>
    
                                </div>
    
    
                            </div>
                        </div>
    
                        <div class="container">
                            <div class="row">
                              
    
                                <div class="col-md-4">
                                    <label class=" fw-semibold fs-6 mb-2"> Telegram Channel ID
                                    </label>
    
                                    <input type="number" appPreventScroll class="
                                      form-control form-control-lg form-control-solid
                                      mb-3 mb-lg-0
                                    " placeholder="Enter Telegram ID" name="telegramID" formControlName="telegramID">
    
    
                                </div>


                                <div class="col-md-4">
                                    <label class="fw-semibold fs-6 mb-2">
                                        Custom Url
                                    </label>
                                    <input type="text" class="
                                    form-control form-control-lg form-control-solid
                                    mb-3 mb-lg-0
                                  " placeholder="Enter custom url" name="customUrl" formControlName="customUrl"
                                      >
                                    <!-- (click)="showvaluemapping(createOSField.value.enableos)" -->
                                </div>



                                <div class="col-md-4 mt-3">
                                    <label class="fw-semibold fs-6 mb-2">Client Permission</label>
                                    
                                    <div style="display: flex;gap:5px">
    
                                        <div class="mb-2">
                                            <label class="fw-semibold fs-6 mb-2"><input
                                                class="form-check-input" name="email_permi" type="checkbox"
                                                formControlName="email_permission" /><span class="fw-bold ps-2 fs-6">Email
                                            </span></label>
                                        </div>
                                    
                                        <div class="mb-2">
                                            <label class="fw-semibold fs-6 mb-2"><input
                                                class="form-check-input" name="sms" type="checkbox"
                                                formControlName="sms_permission" /><span class="fw-bold ps-2 fs-6">SMS
                                            </span></label>
                                        </div>
                                    
                                        <div class="mb-2">
                                            <label class="fw-semibold fs-6 mb-2"><input
                                                class="form-check-input" name="telegram_permission" type="checkbox"
                                                formControlName="telegram_permission" /><span class="fw-bold ps-2 fs-6">Telegram
                                            </span></label>
                                        </div>
    
    
                                    </div>
                                   
                                </div>
                            </div>
                        </div>


                        
                            <div class="container custom-container mt-4">
                                <!-- Button to add a new dynamic field -->
                                <h5 class="section-title"><i class="fa-regular fa-circle-question fs-4"></i> Assistance buttons</h5>
                                <!-- <button type="button" class="btn btn-info btn-sm mb-2 me-2" (click)="addDynamicField()"><i class="bi bi-plus-square fs-3"></i></button>
                                <button type="button" class="btn btn-danger btn-sm mb-2" (click)="removeAllDynamicFields()"><i class="fa-solid fa-square-minus fs-3"></i></button> -->

                                <div style="display: flex;align-items: center;margin-bottom: 10px;">
                                       <!-- Add New Field Button -->
                                        <button type="button" class="btn btn-primary btn-circle btn-custom" title="Add button" (click)="addDynamicField()">
                                            <i class="bi bi-plus-square fs-4 ps-1"></i>
                                        </button>

                                        <!-- Remove All Fields Button -->
                                        <button type="button" class="btn btn-danger btn-circle btn-custom" title="Remove all" (click)="removeAllDynamicFields()">
                                            <i class="fa-solid fa-square-minus fs-4 ps-1"></i>
                                        </button>
                                </div>
                                
                              
                                   
                                 <!-- Loop through the dynamic fields FormArray and render label-input pairs -->
                                 <div *ngFor="let field of dynamicFieldsArray.controls; let i = index" >
                                   <div [formGroup]="field">
                                     <!-- Label input -->
                                     <div class="row">
                                     <div class="col-md-4">
                                        <label class="required fw-semibold fs-6 mb-2">Icon</label> 
                                        <!-- <input type="text" placeholder="Enter bootstrap Icon" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" formControlName="icon" > -->
                                        

                                          <!-- <div class="input-group">
                                           
                                            <select class="form-control form-control-lg form-control-solid" formControlName="icon" placeholder="Enter bootstrap Icon">
                                                <option value="" disabled [ngClass]="{'d-none': field.get('icon')?.value !== ''}">Enter bootstrap Icon</option>
                                                <option *ngFor="let icon of iconList" [value]="icon">{{ icon }}</option>
                                            </select>
                                            <div *ngIf="field.get('icon')?.hasError('required') && field.get('icon')?.touched" class="fv-plugins-message-container invalid-feedback">
                                                Icon is required
                                              </div>
                                        </div> -->
                                        <!-- optionLabel="name" 
                                        [filter]="true" 
                                        filterBy="name" -->

                                        <p-dropdown 
                                                [options]="iconList" 
                                                [filter]="true" 
                                                [showClear]="true"
                                                placeholder="Enter Bootstrap Icon"
                                                formControlName="icon" 
                                                styleClass="w-100"
                                                [ngClass]="{'is-invalid': field.get('icon')?.invalid && field.get('icon')?.touched}">
                                                
                                                <ng-template pTemplate="selectedItem" let-selectedOption>
                                                    <div class="flex align-items-center gap-2">
                                                        <!-- Optionally, add an icon preview if it's relevant -->
                                                        <i *ngIf="selectedOption" [ngClass]="selectedOption" class="fs-2"></i>
                                                        <div>{{ selectedOption }}</div>
                                                    </div>
                                                </ng-template>
                                                
                                                <ng-template pTemplate="item" let-icon>
                                                    <div style="display: flex;flex-direction:row; gap: 5px;align-items: center;">
                                                        <!-- Show icon and icon name in the dropdown list -->
                                                        <i [ngClass]="'bi-'+icon" class="fs-1"></i>
                                                        <div>{{ icon }}</div>
                                                    </div>
                                                </ng-template>
                                            </p-dropdown>

                                            <div *ngIf="field.get('icon')?.hasError('required') && field.get('icon')?.touched" class="invalid-feedback">
                                                Icon is required
                                            </div>


                                     </div>
                                     
                                     <div class="col-md-4">
                                         <!-- Value input -->
                                            <label class="required fw-semibold fs-6 mb-2">Label</label>
                                            <input type="text" placeholder="Enter Label" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" formControlName="label" >
                                            <div *ngIf="field.get('label')?.hasError('required') && field.get('label')?.touched" class="fv-plugins-message-container invalid-feedback">
                                                Label is required
                                            </div>
                                     </div>
                                    
                                     <div class="col-md-4 mb-1">
                                        <!-- Value input -->
                                           <label class="required fw-semibold fs-6 mb-2">Desc</label>
                                           <input type="text" placeholder="Enter Description" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" formControlName="desc" >
                                           <div *ngIf="field.get('desc')?.hasError('required') && field.get('desc')?.touched" class="fv-plugins-message-container invalid-feedback">
                                               Description is required
                                           </div>
                                    </div>

                                    <div class="col-md-4">
                                        <!-- Value input -->
                                           <label class="required fw-semibold fs-6 mb-2">Button Color</label>
                                           <input type="color" placeholder="Enter Color" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" formControlName="color" >
                                           <div *ngIf="field.get('color')?.hasError('required') && field.get('color')?.touched" class="fv-plugins-message-container invalid-feedback">
                                               Button Color is required
                                           </div>
                                    </div>
                                   
                                    <div class="col-md-4">
                                        <!-- Value input -->
                                           <label class="fw-semibold fs-6 mb-2" [ngClass]="{'required': field.get('url')?.hasError('required') && field.get('url')?.touched || field.hasError('urlOrDreamboardRequired')}">Button Url</label>
                                           <input ngbTooltip="Add your URL here if you want this button to redirect to your own website." type="text" placeholder="Enter Botton url" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" formControlName="url" >
                                           <div *ngIf="field.get('url')?.hasError('required') && field.get('url')?.touched" class="fv-plugins-message-container invalid-feedback">
                                               Button Url is required
                                           </div>
                                    </div>
                                   
                                    <div class="col-md-4">
                                        <!-- Value input -->
                                           <label class="fw-semibold fs-6 mb-2" [ngClass]="{'required': field.get('dreamboardID')?.hasError('required') && field.get('dreamboardID')?.touched || field.hasError('urlOrDreamboardRequired')}">Dreamboard ID</label>
                                           <input ngbTooltip="Add Dreamboard ID if you want this button to redirect to custom dreamboard URL." type="text" placeholder="Enter Dreamboard ID" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" formControlName="dreamboardID" >
                                           <div *ngIf="field.get('dreamboardID')?.hasError('required') && field.get('dreamboardID')?.touched" class="fv-plugins-message-container invalid-feedback">
                                               Dreamboard id is required
                                           </div>
                                    </div>
                         
                                  
                                    </div>
                                       <!-- Remove Button -->
                                       <button type="button" class="btn btn-danger btn-sm mt-2 mb-2" (click)="removeDynamicField(i)">Remove</button>
                                   </div>
                                 </div>
                              
           
                             </div>
                        
    
    
                        <div class="container mt-5">

                            <div class="row" style="align-items: end;padding-left: 10px;">    
                         




                            
                                <div class="col form-check form-switch">
                                    <div class="col">
                                        <input class="col-lg-6 form-check-input" formControlName="enableClient"
                                            type="checkbox">
                                        <label class="fw-semibold fs-6 mb-2" style="padding-top: 0px;">
                                            <b>Enable Client</b>
                                        </label>
                                    </div>
                                </div>
                            

                                </div>


                        </div>
                         

                        <div class="modal-footer flex-center">
                            <!--begin::Button-->
                            <button type="reset" id="kt_modal_update_customer_cancel" class="btn btn-light me-3"
                                (click)="modal.dismiss('cancel')">
                                Discard
                            </button>
                            <!--end::Button-->
                
                            <!--begin::Button-->
                            <button type="submit" *ngIf="(this.permissionAll && this.permissionAll.update || adminLogin)" id="kt_modal_update_customer_submit" class="btn btn-primary"
                             [attr.data-kt-indicator]="isLoading ? 'on' : 'off'">
                                <span *ngIf="!editOperation" class="indicator-label">
                                    Submit
                                </span>
                                <span *ngIf="editOperation"  class="indicator-label">
                                    Update
                                </span>
                                <span class="indicator-progress">
                                    Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                </span>
                            </button>
                            <!--end::Button-->
                        </div>
    
                        <!-- <div class="modal-footer">
    
                            <button type="button" class="btn btn-sm btn-danger" data-bs-dismiss="modal"
                                #closeClient>Cancel</button>
    
                            <button [hidden]="hideUpdateButton" type="submit" class="btn btn-sm btn-primary"
                                 *ngIf="showModal" (click)="updateClient(createClientField.value,'editClient')"
                                [disabled]="createClientField.invalid ||  validEmail == false">
                                Update
                            </button>
                            <button type="button" class="btn btn-sm btn-primary not-allowed" *ngIf="!showModal"
                                [disabled]="createClientField.invalid || errorForUniqueID !='' || validEmail == false" (click)="createNewClient('')"
                                >Save</button>
                        </div> -->
                    



                    </div>
                </div>
            </div>
            
            
<!-- 
            [disabled]="createClientField.invalid || errorForUniqueID !='' || validEmail == false" -->
              
    
            
    
        
    </form>
    

</ng-template>
<!-- 
(click)="updateClient(createClientField.value,'editClient')"

(click)="createNewClient('')" -->