.card-custom {
    border: 1px solid #dee2e6; /* Custom border */
    border-radius: 10px; /* Custom border radius */
  }



  .btn:hover{
    transform: translateY(-2px);
    transition: 0.5s;
} 

.image-preview {
  display: none;
  transition: opacity 0.3s ease;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%); /* Center the image */
  z-index: 10;
}

/* Show the preview when hovering over the file input */
.show-preview {
  display: block;
}

/* Positioning adjustments for each file input */
#imageInput1:hover + .image-preview,
#imageInput2:hover + .image-preview,
#imageInput3:hover + .image-preview,
#imageInput4:hover + .image-preview {
  display: block;
}

.image-preview img {
  max-width: 120px;
  max-height: 120px;
}


/* Optional: Style for separating the sections visually */
.custom-container {
  padding: 10px;
  border-radius: 8px;
  // background-color: #f9f9f9;
  margin-bottom: 20px;
  border: 1px ridge;
}


.btn-circle {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 0;
  font-size: 1.5rem; /* Icon size */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.btn-circle i {
  color: #fff; /* Icon color */
}

// .btn-info {
//   background-color: #17a2b8;
// }

.btn-custom:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.btn-danger {
  background-color: #dc3545;
}

// .btn-danger:hover {
//   background-color: #c82333;
//   transform: scale(1.1);
//   box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
// }

/* Optional: Add a little space around the buttons */
.btn-circle + .btn-circle {
  margin-left: 10px;
}



#kt_modal_update_customer_scroll {
  max-height: 80vh; /* Adjust the height as per your requirements */
  overflow-y: auto; /* Enables vertical scrolling */
}



input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched,
p-dropdown.ng-invalid.ng-touched{
  border: 2px solid #fc1900 !important;
  background-color: #fff3f3;
  animation: shakeY 0.4s ease;
}