<div class="approval-history-container">
  <div class="approval-history-header" (click)="modal.close()">
    <h3>Unconfirmed Users</h3>
    <button class="close-btn">×</button> <!-- Close button -->
  </div>

  <div class="approval-history-list">
    <!-- Show if no users -->
    <div *ngIf="unverifiedUsers.length === 0" class="error-message">
      <p>No unconfirmed users found.</p>
    </div>

    <div class="search-bar">
      <input
        type="text"
        [(ngModel)]="searchText"
        (ngModelChange)="filterUsers()"
        placeholder="Search"
        class="search-input"
      />
    </div>

    <!-- Table of users -->
    <table *ngIf="unverifiedUsers.length > 0" class="approval-table">
      <thead>
        <tr>
          <th>Username</th>
          <th>Email</th>
          <th>Status</th>
          <th>Verification</th>
          <th>Credentials</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of paginatedUsers" class="approval-row">
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td class="status">
            <span class="badge badge-danger" style="cursor: not-allowed;">Unconfirmed</span>
          </td>
          <td class="status">
            <a *ngIf="user && user.sentMail == undefined" class="btn btn-sm custom-primary fw-bolder ms-2 fs-7 py-2 px-5" (click)="resendVerification(user.username)" type="submit">Resend</a>
            <a *ngIf="user && user.sentMail" class="btn btn-sm btn-success fw-bolder ms-2 fs-7 py-2 px-5" type="submit">Sent</a>
          </td>

          <td class="status">
            <a *ngIf="user && user.sentCredentialMail == undefined" class="btn btn-sm btn-dark fw-bolder ms-2 fs-7 py-2 px-5" (click)="resendCredentials(user.username)" type="submit">Resend</a>
            <a *ngIf="user && user.sentCredentialMail" class="btn btn-sm btn-success fw-bolder ms-2 fs-7 py-2 px-5" type="submit">Sent</a>
          </td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="unverifiedUsers.length > 0" class="user-count">
      <p>Total Unconfirmed Users: {{ unverifiedUsers.length }}</p>
    </div>

    <!-- Pagination Controls -->
    <div class="pagination-controls" *ngIf="totalPages > 1">
      <button class="arrow-btn" [disabled]="page === 1" (click)="previousPage()">
        &#8592;
      </button>
      <span class="page-label">Page {{ page }} of {{ totalPages }}</span>
      <button class="arrow-btn" [disabled]="page === totalPages" (click)="nextPage()">
        &#8594;
      </button>
    </div>
  </div>
</div>
