.border-text {
    position: relative;
    border: 1px ridge #000;
}

.border-text::before {
    content: "Track Location"; /* Text that goes on the top right border */
    position: absolute;
    top: -10px; /* Places the text on top of the div */
    right: 10px; /* Positions the text on the right side */
    background-color: white; /* Optional: Background to make text visible */
    padding: 0 5px; /* Optional: space around the text */
    font-weight: bold; /* Optional: makes the text bold */
}



.border-text1 {
    position: relative;
    border: 1px ridge #000;
}


.border-text1::before {
    content: "Mini Table"; /* Text that goes on the top right border */
    position: absolute;
    top: -10px; /* Places the text on top of the div */
    right: 10px; /* Positions the text on the right side */
    background-color: white; /* Optional: Background to make text visible */
    padding: 0 5px; /* Optional: space around the text */
    font-weight: bold; /* Optional: makes the text bold */
}








.btn-advanced {
    position: relative;
    display: inline-block;
    color: #fff; /* White text color */
    border: none;
    padding: 8px 16px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    border-radius: 4px;
  }
  
  .btn-advanced:hover {
    background-color: #007bff; /* Primary color on hover */
    color: #fff; /* White text color on hover */
    transform: translateY(-2px); /* Move button up slightly on hover */
  }
  
  .btn-advanced .fas {
    margin-left: 5px; /* Space between text and icon */
    transition: transform 0.3s ease;
  }
  
  .btn-advanced:hover .fas {
    transform: translateX(5px); /* Move icon slightly right on hover */
  }
  
  