
.card-custom {
    border: 1px solid #dee2e6; /* Custom border */
    border-radius: 10px; /* Custom border radius */
  }



  .btn:hover{
    transform: translateY(-2px);
    transition: 0.5s;
} 



/* Override Bootstrap button styles for this specific button */
.copy-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

/* Icon style */
.copy-icon {
  display: inline-block;
}

/* Text that shows up on hover */
.copy-text {
  display: none; /* Initially hidden */
}

/* Show text when hovered */
.copy-btn:hover .copy-text {
  display: inline-block;
}

/* Show the text when hovered and icon still appears */
.copy-btn:hover .copy-icon {
  margin-right: 5px;
  transition: 0.4s;/* Increase space when showing text */
}

/* Optional: Button hover effect */
.copy-btn:hover {
  background-color: #d9534f; /* Darker red (Bootstrap's btn-danger on hover) */
}




.card-custom {
  border: 1px solid #dee2e6; /* Custom border */
  border-radius: 10px; /* Custom border radius */
  margin: 30px;
}





.btn-advanced {
  position: relative;
  display: inline-block;
  color: #fff; /* White text color */
  border: none;
  padding: 8px 16px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
  border-radius: 4px;
}

.btn-advanced:hover {
  background-color: #007bff; /* Primary color on hover */
  color: #fff; /* White text color on hover */
  transform: translateY(-2px); /* Move button up slightly on hover */
}

.btn-advanced .fas {
  margin-left: 5px; /* Space between text and icon */
  transition: transform 0.3s ease;
}

.btn-advanced:hover .fas {
  transform: translateX(5px); /* Move icon slightly right on hover */
}


#kt_modal_update_customer_scroll {
  max-height: 80vh; /* Adjust the height as per your requirements */
  overflow-y: auto; /* Enables vertical scrolling */
}

@keyframes shakeY {
  0%, 100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-4px);
  }
  40% {
    transform: translateY(4px);
  }
  60% {
    transform: translateY(-3px);
  }
  80% {
    transform: translateY(2px);
  }
}




input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched,
p-multiSelect.ng-invalid.ng-touched {
  border: 2px solid #fc1900 !important;
  background-color: #fff3f3;
  animation: shakeY 0.4s ease;
}