
    <div class="modal-header">
      <h4 class="modal-title">Tile-3 Configuration</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="fv-row" [formGroup]="createKPIWidget2">
      <div class="modal-body">
        <div class="card-body pt-0">
    
          <ul class="nav nav-stretch nav-line-tabs nav-line-tabs-2x border-transparent fs-5 fw-bolder flex-nowrap" id="myTab_settings1" role="tablist">
            <div class="col-6" role="Data">
              <li class="nav-item">
                <a class="nav-link text-active-primary me-6" id="home-tab" data-bs-toggle="tab" role="tab" aria-controls="dataTab" aria-selected="false" (click)="selectedSettingsTab('dataTab')">Data</a>
              </li>
            </div>
            <div class="col-4" role="Filter">
              <li class="nav-item">
                <a class="nav-link text-active-primary me-6" id="filter-tab" data-bs-toggle="tab" role="tab"
                  aria-controls="filter-tab" aria-selected="false" (click)="selectedSettingsTab('filter-tab')">Filter</a>
              </li>
            </div>
            <div class="col-6" role="Settings">
              <li class="nav-item">
                <a class="nav-link text-active-primary me-6" id="settings-tabpane" data-bs-toggle="tab" role="tab" aria-controls="settings-tab" aria-selected="false" (click)="selectedSettingsTab('settings-tab')">Settings</a>
              </li>
            </div>
          </ul>
          <div class="tab-content mt-3" id="modalTabsContent">
            <!-- General Tab Content -->
            <div [ngClass]="{'tab-pane fade': true, 'show active': selectedTabset === 'dataTab'}" id="dataTab" role="tabpanel" aria-labelledby="home-tab">
          <div class="row g-3"> <!-- g-3 adds consistent gap between columns -->
            <div class="col-md-4"> <!-- Column for the first dropdown -->
              <label class="col-createChart-label fw-bold fs-6 required">Forms</label>
              <ngx-select
                [allowClear]="true"
                name="icon"
                formControlName="formlist"
                [items]="listofDeviceIds"
                optionValueField="value"
                optionTextField="text"
                placeholder="Select Form"
                (selectionChanges)="selectFormParams($event)"
            > <!-- Ensures dropdown takes full width of column -->
              </ngx-select>
              <div *ngIf="createKPIWidget2.get('formlist')?.touched && createKPIWidget2.get('formlist')?.invalid" class="text-danger">
                <div *ngIf="createKPIWidget2.get('formlist')?.errors?.required">Form is required.</div>
              </div>
            </div>
            <div class="col-md-4">
              <label for="parameterName" class="col-createChart-label fw-bold fs-6 required">Form Fields</label>
              <ngx-select
                id="parameterName"
                [allowClear]="true"
                formControlName="parameterName"
                [items]="listofDynamicParam"
                optionValueField="value"
                optionTextField="text"
                placeholder="Select Parameter"
                (selectionChanges)="parameterValue($event)"
                style="width: 100%;">
              </ngx-select>
              <div *ngIf="createKPIWidget2.get('parameterName')?.touched && createKPIWidget2.get('parameterName')?.invalid" class="text-danger">
                <div *ngIf="createKPIWidget2.get('parameterName')?.errors?.required">Form Fields are required.</div>
              </div>
              
            </div>
            <div class="col-md-4 mb-3">
              <label  class="col-createChart-label fw-bold fs-6 required">Format Type</label>
              <ngx-select
                id="formatType"
                [allowClear]="true"
                formControlName="formatType"
                [items]="FormatTypeValues"
                optionValueField="value"
                optionTextField="text"
                placeholder="Select Parameter"
            
                style="width: 100%;">
              </ngx-select>
              <div *ngIf="createKPIWidget2.get('formatType')?.touched && createKPIWidget2.get('formatType')?.invalid" class="text-danger">
                <div *ngIf="createKPIWidget2.get('formatType')?.errors?.required">FormatType is required.</div>
              </div>
            
            </div>
      

            <div class="fv-row">
              <div class="row">
                  <div class="col-md-4"> <!-- Column for the first dropdown -->
                      <label class="col-createChart-label fw-bold fs-6 required">Primary Value
                        <span class="ms-2 text-primary" 
                        data-bs-toggle="tooltip" 
                        data-bs-placement="top" 
                        title="Show Value As">
                    <i class="bi bi-info-circle fs-5"></i>
                  </span>
                      </label>
                      <ngx-select
                          [allowClear]="true"
                          name="primary-icon"
                          formControlName="primaryValue"
                          [items]="showValues"
                          optionValueField="value"
                          optionTextField="text"
                          placeholder="Select Group"
                          class="w-100"> <!-- Ensures dropdown takes full width of column -->
                      </ngx-select>
                      <div *ngIf="createKPIWidget2.get('primaryValue')?.touched && createKPIWidget2.get('primaryValue')?.invalid" class="text-danger">
                        <div *ngIf="createKPIWidget2.get('primaryValue')?.errors?.required">Primary Value is required.</div>
                      </div>
                  </div>
    
                  <div class="col-md-4" *ngIf="primaryValue2?.value === 'Constant'">
                    <label for="constant12" class="col-createChart-label fw-bold fs-6 required">Constant</label>
                    <input
                      id="constant2"
                      type="number"
                      class="form-control form-control-solid"
                      placeholder="Select constant"
                      formControlName="constantValue"
                      (change)="onValueChange2($event)" 
                    />
                  </div>
                  <div class="col-md-4 mb-3">
                    <label for="groupByFormat" class="col-createChart-label fw-bold fs-6 required">Group By Format</label>
                    <input
                      id="groupByFormat"
                      type="text"
                      class="form-control form-control-solid"
                      placeholder="Select GroupByFormat"
                      [formControl]="groupByFormatControl"
                      (click)="openModalCalender()"
                      readonly>
                      <div *ngIf="createKPIWidget2.get('groupByFormat')?.touched && createKPIWidget2.get('groupByFormat')?.invalid" class="text-danger">
                        <div *ngIf="createKPIWidget2.get('groupByFormat')?.errors?.required"> Group By Format is required.</div>
                      </div>
                  </div>
                  <div class="col-md-4"> <!-- Column for the second dropdown -->
                      <label class="col-createChart-label fw-bold fs-6 required">Secondary Value
                        <span class="ms-2 text-primary" 
                        data-bs-toggle="tooltip" 
                        data-bs-placement="top" 
                        title="Show Value As">
                    <i class="bi bi-info-circle fs-5"></i>
                  </span>
                      </label>
                      <ngx-select
                          [allowClear]="true"
                          name="secondary-icon"
                          formControlName="secondaryValue"
                          [items]="showValues"
                          optionValueField="value"
                          optionTextField="text"
                          placeholder="Select Secondary Value"
                          class="w-100"> <!-- Ensures dropdown takes full width of column -->
                      </ngx-select>
                      <div *ngIf="createKPIWidget2.get('secondaryValue')?.touched && createKPIWidget2.get('secondaryValue')?.invalid" class="text-danger">
                        <div *ngIf="createKPIWidget2.get('secondaryValue')?.errors?.required"> Secondary Value is required.</div>
                      </div>
                  </div>
    
                  <div class="col-md-4"> <!-- Column for the second dropdown -->
                    <label class="col-createChart-label fw-bold fs-6 required">Tertiary Value
                      <span class="ms-2 text-primary" 
                      data-bs-toggle="tooltip" 
                      data-bs-placement="top" 
                      title="Show Value As">
                  <i class="bi bi-info-circle fs-5"></i>
                </span>
                    </label>
                    <ngx-select
                        [allowClear]="true"
                        name="secondary-icon"
                        formControlName="secondaryValueNested"
                        [items]="showValues"
                        optionValueField="value"
                        optionTextField="text"
                        placeholder="Select Tertiary Value"
                        class="w-100"> <!-- Ensures dropdown takes full width of column -->
                    </ngx-select>
                    <div *ngIf="createKPIWidget2.get('secondaryValueNested')?.touched && createKPIWidget2.get('secondaryValueNested')?.invalid" class="text-danger">
                      <div *ngIf="createKPIWidget2.get('secondaryValueNested')?.errors?.required"> Tertiary Value is required.</div>
                    </div>
                </div>
    
    
    
        
        

    
    
                  <div class="col-md-4" *ngIf="showIdField">
                    <label for="id" class="col-createChart-label fw-bold fs-6 required">ID</label>
                    <input
                      id="id"
                      type="number"
                      class="form-control form-control-solid"
                      placeholder="Enter ID"
                      formControlName="widgetid" 
                    />
                  </div>
    
                  <div class="col-md-4"  *ngIf="shouldShowProcessedValue">
                    <label for="constant" class="col-createChart-label fw-bold fs-6 required">Processed Value</label>
                    <input
                      type="text"
                      class="form-control form-control-solid"
                      placeholder="Select Processed Value"
                      formControlName="processed_value"
                    />
                  </div>
                  <div class="col-md-4"  *ngIf="shouldShowProcessedValue">
                    <label for="constant" class="col-createChart-label fw-bold fs-6 required">Processed Value</label>
                    <input
                      type="text"
                      class="form-control form-control-solid"
                      placeholder="Select Processed Value"
                      formControlName="processed_value1"
                    />
                  </div>
                  <div class="col-md-4"  *ngIf="shouldShowProcessedValue">
                    <label for="constant" class="col-createChart-label fw-bold fs-6 required">Processed Value</label>
                    <input
                      type="text"
                      class="form-control form-control-solid"
                      placeholder="Select Processed Value"
                      formControlName="processed_value2"
                    />
                  </div>


                  <!-- <div class="col-md-4 mb-3">
                    <label for="timeInput" class="col-createChart-label fw-bold fs-6 ">From Time</label>
  <input type="time" class="form-control form-control-solid" id="timeInput" name="timeInput"     formControlName="selectFromTime">
                    </div>
                    <div class="col-md-4 mb-3">
                      <label for="timeInput" class="col-createChart-label fw-bold fs-6 ">To Time</label>
    <input type="time" class="form-control form-control-solid" id="timeInput" name="timeInput"     formControlName="selectToTime">
                      </div> -->
  
  
                      <div class="col-md-4 mb-3">
                        <label for="dashboardIds" class="col-createChart-label fw-bold fs-6 ">Module Names</label>
                        <ngx-select
                      
                          [allowClear]="true"
                          formControlName="ModuleNames"
                          [items]="showModuleNames"
                          optionValueField="value"
                          optionTextField="text"
                          placeholder="Select Parameter"
                          (selectionChanges)="moduleSelection($event)"
                      
                          style="width: 100%;">
                        </ngx-select>
                      </div>
  
  
  
                      <div class="col-md-4 mb-3">
                        <label for="dashboardIds" class="col-createChart-label fw-bold fs-6 ">Redirect To</label>
                        <ngx-select
                       
                          [allowClear]="true"
                          formControlName="dashboardIds"
                          [items]="dynamicIDArray"
                          optionValueField="value"
                          optionTextField="text"
                          placeholder="Select Parameter"
                          (selectionChanges)="dynamicRedirectChanged($event)"
                      
                          style="width: 100%;">
                        </ngx-select>
                      </div>
                      <div class="row g-3 align-items-center">
                        <!-- Select Type -->
                        <div *ngIf="isSummaryDashboardSelected" class="col-md-4">
                          <div class="d-flex flex-column">
                            <label for="dashboardIds" class="col-createChart-label fw-bold fs-6">Select Redirection Type</label>
                            <ngx-select
                              id="selectType"
                              [allowClear]="true"
                              formControlName="selectType"
                              [items]="SelectTypeSummary"
                              optionValueField="value"
                              optionTextField="text"
                              placeholder="Select Parameter"
                              (change)="onSelectTypeChange()"
                            >
                            </ngx-select>
                          </div>
                        </div>
                        
                        <!-- Column Visibility (Shown only if 'drill down' is selected) -->
                        <div class="col-md-4" style="margin-top:30px;" *ngIf="showColumnVisibility">
                          <div class="d-flex flex-column">
                            <label for="columnVisibility" class="fw-bold fs-6">Column Visibility</label>
                            <p-multiSelect
                              id="columnVisibility"
                              formControlName="columnVisibility"
                              [options]="columnVisisbilityFields"
                              optionLabel="text"
                              placeholder="Select Parameter"
                            >
                            </p-multiSelect>
                          </div>
                        </div>
                      
                        <!-- Custom Label -->
                        <div class="col-md-4">
                          <div class="d-flex flex-column">
                            <label for="custom_Label" class="col-createChart-label fw-bold fs-6 required">Custom Label</label>
                            <input
                              type="text"
                              class="form-control form-control-solid"
                              id="custom_Label"
                              name="custom_Label"
                              formControlName="custom_Label"
                            />
                            <div *ngIf="createKPIWidget2.get('custom_Label')?.touched && createKPIWidget2.get('custom_Label')?.invalid" class="text-danger">
                              <div *ngIf="createKPIWidget2.get('custom_Label')?.errors?.required"> Custom Label is required.</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                      <div class="col-md-4 mb-3" *ngIf = "shoRowData" >
                        <label for="constant" class="col-createChart-label fw-bold fs-6 "></label>
                        <input id="constant" type="number" class="form-control form-control-solid"
                          placeholder="Select constant" formControlName="rowData"
                         />
                      </div>
              </div>
          </div>
          
          </div>
            </div>
            <div [ngClass]="{'tab-pane fade': true, 'show active': selectedTabset === 'filter-tab'}" id="filter-tab"
            role="tabpanel" aria-labelledby="filter-tabpane">
        
            
            <div class="row g-3 align-items-end mb-4">
              <!-- Form Fields -->
              <div class="col-md-4">
                <label for="parameterName" class="fw-bold fs-6">Form Fields</label>
                <p-multiSelect
                  id="parameterName"
                  formControlName="filterParameter"
                  [options]="listofDynamicParam"
                  optionLabel="text"
                  placeholder="Select Parameter"
                  (onChange)="dynamicparameterValue($event)"
              
                ></p-multiSelect>
              </div>
            
              <!-- Add Button -->
              <div class="col-md-3">
                <button type="button" class="btn btn-primary w-100 mt-4" (click)="onAdd()">Add</button>
              </div>
            
              <!-- Custom Label -->

            </div>
          
            <div class="col-md-12 mb-3">
              <label for="description" class="col-createChart-label fw-bold fs-6">Equation</label>
              <textarea
              id="description"
              formControlName="filterDescription"  
              class="form-control"
              rows="3"
              placeholder="Enter description"
             
            >{{ selectedParameterValue }}</textarea>
            </div>
  
  
          
            
          </div>
    
            <div [ngClass]="{'tab-pane fade': true, 'show active': selectedTabset === 'settings-tab'}" id="settings-tab" role="tabpanel" aria-labelledby="settings-tabpane">
              <!-- Themes Section -->
              <div class="row g-3">
                <div class="col-md-12 mb-3">
                  <label class="col-createChart-label fw-bold fs-6 required">Themes:</label>
                  <div class="color-boxes">
                    <div
                      *ngFor="let theme of themes"
                      class="color-box"
                      [ngStyle]="{ 'background-image': theme.color }"
                      (click)="toggleCheckbox(theme)"
                      [class.checked]="theme.selected"
                    >
                      <div *ngIf="theme.selected" class="checkmark">✔</div>
                    </div>
                  </div>
                </div>
              <div class="col-md-6 mb-3">
                <label for="fontSize" class="col-createChart-label fw-bold fs-6 required">Font Size</label>
                <input
                  id="fontSize"
                  type="number"
                  class="form-control form-control-solid"
                  placeholder="Enter Font Size (e.g., 14)"
                  formControlName="fontSize"
                  min="8"
                  max="72">
                  <div *ngIf="createKPIWidget2.get('fontSize')?.errors?.min || createKPIWidget2.get('fontSize')?.errors?.max" class="text-danger mt-1">
                    Font size must be between 8 and 72.
                  </div>
              </div>
          
              <!-- Font Color Input -->
              <div class="col-md-6 mb-3">
                <label for="fontColor" class="col-createChart-label fw-bold fs-6 required">Font Color</label>
                <div class="d-flex align-items-center">
                  <!-- Color Picker Input -->
                  <input
                    id="fontColor"
                    type="color"
                    class="form-control form-control-color me-3"
                    [value]="createKPIWidget2.get('fontColor')?.value"
                    (input)="onFontColorChange($event)"
                    style="width: 50px; height: 38px; padding: 0; border-radius: 5px; border: 1px solid #ced4da;">
                  <!-- Display Selected Color Code -->
                  <input
                    type="text"
                    class="form-control form-control-solid"
                    formControlName="fontColor"
                    readonly
                    style="flex: 1;"
                    placeholder="Selected Color Code">
                </div>
              </div>
              <!-- Custom Color Picker Section -->
              <!-- <div class="col-md-6">
                <label class="col-createChart-label fw-bold fs-6">Custom:</label>
                <div class="d-flex align-items-center">
                  <input
                  type="color"
                  id="customColor"
                  class="form-control form-control-solid"
                  style="width: 40px; height: 40px;"
                  [value]="selectedColor"
                  formControlName="themeColor"
                  (input)="onColorChange2($event)"
                />
          
                </div>
              </div> -->
              </div>
              
                          
                          
                          
                          
                          
                          
                          
                          
                          
                          
                          
                        </div>
          </div>
        </div>
      </div>
      
    
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.dismiss()" >Discard</button>
      <button type="button" class="btn btn-primary"        (click)="validateAndSubmit()"   *ngIf="!isEditMode">Save</button> <!-- Save button shown only in add mode -->
      <button type="button" class="btn btn-primary" (click)="validateAndUpdate()"  *ngIf="isEditMode">Update</button> <!-- Update button shown only in edit mode -->
    </div>
    </div>


    <ng-template #calendarModal2 let-modal>
      <div class="modal-header">
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
      </div>
      <div class="modal-body right-side-modal">
        <div class="card-body pt-0">
          <div class="container1">
            <div class="list-row">
              <div class="list-column">
                <div class="list-item active" (click)="selectValue('Last 24 Hours', modal)" (mouseenter)="showTooltip('Last 24 Hours')"
                  (mouseleave)="hideTooltip()">
                  <div class="title">Last 24 Hours</div>
                  <div class="example">E.g., Last 24 hours of data</div>
                </div>
                <div class="list-item" (click)="selectValue('Today', modal)" (mouseenter)="showTooltip('Today')"
                  (mouseleave)="hideTooltip()">
                  <div class="title">Today</div>
                  <div class="example">E.g., Data from 00:00 hrs to now</div>
                </div>
                <div class="list-item" (click)="selectValue('Yesterday', modal)" (mouseenter)="showTooltip('Yesterday')"
                  (mouseleave)="hideTooltip()">
                  <div class="title">Yesterday</div>
                  <div class="example">E.g., Data from previous day</div>
                </div>
                <div class="list-item" (click)="selectValue('Last 7 days', modal)" (mouseenter)="showTooltip('Last 7 days')"
                  (mouseleave)="hideTooltip()">
                  <div class="title">Last 7 days</div>
                  <div class="example">E.g., Data for past 7 days</div>
                </div>
                <div class="list-item" (click)="selectValue('Last 30 days', modal)" (mouseenter)="showTooltip('Last 30 days')"
                  (mouseleave)="hideTooltip()">
                  <div class="title">Last 30 days</div>
                  <div class="example">E.g., Data for the past 30 days</div>
                </div>
                <div class="list-item" (click)="selectValue('This Week', modal)" (mouseenter)="showTooltip('This Week')"
                  (mouseleave)="hideTooltip()">
                  <div class="title">This Week</div>
                  <div class="example">E.g., Current week (Sunday to Saturday)</div>
                </div>
                <div class="list-item" (click)="selectValue('Last Week', modal)" (mouseenter)="showTooltip('Last 5 Weeks')"
                  (mouseleave)="hideTooltip()">
                  <div class="title">Last Week</div>
                  <div class="example">E.g., Data for last week</div>
                </div>
                <div class="list-item" (click)="selectValue('This Month', modal)" (mouseenter)="showTooltip('This Month')"
                  (mouseleave)="hideTooltip()">
                  <div class="title">This Month</div>
                  <div class="example">E.g., Data for current month</div>
                </div>
                <div class="list-item" (click)="selectValue('any', modal)" (mouseenter)="showTooltip('any')"
                (mouseleave)="hideTooltip()">
                <div class="title">Any</div>
                <div class="example">E.g., Any</div>
              </div>
              </div>
            
              <div class="list-column">
                <div class="list-item" (click)="selectValue('Last Month', modal)" (mouseenter)="showTooltip('Last Month')"
                  (mouseleave)="hideTooltip()">
                  <div class="title">Last Month</div>
                  <div class="example">E.g., Data for previous month</div>
                </div>
                <div class="list-item" (click)="selectValue('This Quarter', modal)" (mouseenter)="showTooltip('This Quarter')"
                  (mouseleave)="hideTooltip()">
                  <div class="title">This Quarter</div>
                  <div class="example">E.g., Current quarter (Q1/Q2/Q3/Q4)</div>
                </div>
                <div class="list-item" (click)="selectValue('Last Quarter', modal)" (mouseenter)="showTooltip('Last Quarter')"
                  (mouseleave)="hideTooltip()">
                  <div class="title">Last Quarter</div>
                  <div class="example">E.g., Data from the previous quarter</div>
                </div>
                <div class="list-item" (click)="selectValue('This BiAnnual', modal)" (mouseenter)="showTooltip('This BiAnnual')"
                  (mouseleave)="hideTooltip()">
                  <div class="title">This BiAnnual</div>
                  <div class="example">E.g., Current half-year period</div>
                </div>
                <div class="list-item" (click)="selectValue('Last BiAnnual', modal)" (mouseenter)="showTooltip('Last BiAnnual')"
                  (mouseleave)="hideTooltip()">
                  <div class="title">Last BiAnnual</div>
                  <div class="example">E.g., Previous half-year period</div>
                </div>
                <div class="list-item" (click)="selectValue('This Year', modal)" (mouseenter)="showTooltip('This Year')"
                  (mouseleave)="hideTooltip()">
                  <div class="title">This Year</div>
                  <div class="example">E.g., Data for the current year</div>
                </div>
                <div class="list-item" (click)="selectValue('Last Year', modal)" (mouseenter)="showTooltip('Last Year')"
                  (mouseleave)="hideTooltip()">
                  <div class="title">Last Year</div>
                  <div class="example">E.g., Data from the previous year</div>
                </div>
                <div class="list-item" (click)="selectValue('Last 5 Weeks', modal)" (mouseenter)="showTooltip('Last 5 Years')"
                  (mouseleave)="hideTooltip()">
                  <div class="title">Last 5 Weeks</div>
                  <div class="example">E.g., Data for the last 5 weeks</div>
                </div>
              </div>
            </div>
            
            
          </div>
        </div>
      </div>
    </ng-template>
 
