/* You can add global styles to this file, and also import other style files */
@import "./assets/sass/style.scss";
// Replace above style with this css file to enable RTL styles
// @import "./assets/css/style.rtl";
@import './assets/sass/plugins.scss';
// @import "./assets/css/style.rtl.css";
@import "./assets/sass/style.angular.scss";

// Keenicons - High quality and pixel perfect font icons available in 3 styles, duotone, outline and solid for Metronic elements
@import "./assets/plugins/keenicons/duotone/style.css";
@import "./assets/plugins/keenicons/outline/style.css";
@import "./assets/plugins/keenicons/solid/style.css";

@import './custom-multiselect.scss';


/* Style for the multiselect */
.p-multiselect {
    width: 100% !important; /* Forces the multiselect to occupy full width */
    margin: 0px !important;
  }
  
  .p-multiselect-items-wrapper ul{
    padding: 0px !important;
  }

  .p-multiselect {
    width: 100% !important; /* Forces the multiselect to occupy full width */
    margin: 0px !important;
  }
  
  .p-multiselect-items-wrapper ul{
    padding: 0px !important;
  }
  .full-screen-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1054;
    overflow: auto;
    background-color: #fff;
  }