
<ngx-spinner *ngIf="loading" bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading data, please wait... </p></ngx-spinner>


<!-- <div *ngIf="cards_2.length === 0">
  <h3>Sorry ! No Data available</h3>
</div> -->

<swal #noticeSwal [swalOptions]="swalOptions">
</swal>

<div class="row g-6 g-xl-4" *ngIf="cards_2.length > 0">
  <div class="col-md-6 col-xl-4" *ngFor="let card of cards_2">
    <app-card2 [componentSource]="'dashboard'"
      [icon_]=card.icon
      badgeColor="primary"
      status="view"
      [title]="card.name ||'N/A'"
      [description]="card.job || 'N/A'"
      [date]="card.avgEarnings || 'N/A'"
      [budget]="card.totalEarnings || 'N/A'"
    ></app-card2>
</div>


<!-- https://dreamboard-dynamic.s3.ap-south-1.amazonaws.com/public/Climaveneta/Live+Contract/liveContract.png" -->





