<!--begin::Logo image-->
<a routerLink="/dashboard" class="logo-container" *ngIf="showLogo">
  <ng-container *ngIf="isDarkMode == 'dark'">
    <img
    alt="Logo"
    [src]="clientLogo == [] || clientLogo == null || clientLogo == undefined ? './assets/media/misc/Wimate_Logo.png' : clientLogo && clientLogo[2] && clientLogo[2]"
    [ngClass]="{'custom-style': clientLogo === ''}"
    class="w-150px app-sidebar-logo-default"
  />
  </ng-container>
  <ng-container  *ngIf="isDarkMode == 'light' || this.isDarkMode == null">
    <img alt="Logo"  [src]="clientLogo == [] || clientLogo == null || clientLogo == undefined ? './assets/media/misc/Wimate_Logo.png' : clientLogo && clientLogo[0] && clientLogo[0]" class="h-25px app-sidebar-logo-default theme-light-show" class="w-150px app-sidebar-logo-default"/>
    <!-- <img alt="Logo" [src]="clientLogo == [] || clientLogo == null || clientLogo == undefined ? './assets/media/misc/Wimate_Logo.png' : clientLogo && clientLogo[0] && clientLogo[0]" class="h-25px app-sidebar-logo-default theme-dark-show" class="w-150px"/> -->
  </ng-container>

  <img alt="Logo" [src]="clientLogo == [] || clientLogo == null || clientLogo == undefined ? './assets/media/misc/Wimate_Logo.png' : isDarkMode == 'light'?clientLogo && clientLogo[0] && clientLogo[0]:clientLogo && clientLogo && clientLogo[2] && clientLogo[2]" class="h-20px app-sidebar-logo-minimize" />
</a>
<!--end::Logo image-->


<a routerLink="/" class="mb-12" *ngIf="!showLogo">
  <img
    alt="Logo"
    src='./assets/Your paragraph text.gif'
    style="width: 300px;"
    class="h-75px"
  />
</a>


<!-- <ng-container *ngIf="toggleEnabled">

  <div id="kt_app_sidebar_toggle"
    class="app-sidebar-toggle btn btn-icon btn-shadow btn-sm btn-color-muted btn-active-color-primary body-bg h-30px w-30px position-absolute top-50 start-100 translate-middle rotate"
    [ngClass]="toggleButtonClass" data-kt-toggle="true" [attr.data-kt-toggle-state]="toggleState"
    data-kt-toggle-target="body" [attr.data-kt-toggle-name]="toggleAttr">
    <app-keenicon name="double-left" class="fs-2 rotate-180"></app-keenicon>
  </div>

</ng-container> -->
