<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" >Loading… please enjoy this virtual cup of coffee! ☕ </p></ngx-spinner>


<div class="modal-header">
    <h4 class="modal-title">Mini Tables</h4>
    <!-- Custom close button in the top-right corner -->
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.close()"></button>
  </div>
  <div class="modal-body">

        <div *ngIf="showTable">
            <div *ngFor="let table of tableDataWithFormFilters">
            <div class="card card-custom p-2 mt-5">
                <h3 class="text-center text-primary">{{ table.formFilter }}</h3> 
                
        
                <ag-grid-angular
                style="width: 100%; height: 100%;"  
                class="ag-theme-alpine"
                [rowData]="table.rows"    
                [columnDefs]="createColumnDefs(table.rows,table.formFilter)" 
                [domLayout]="'autoHeight'"  
                [pagination]="true"
                [paginationPageSize]="10"
                [paginationPageSizeSelector]="pageSizeOptions"
                [suppressHorizontalScroll]="false" 
             
                > 
                </ag-grid-angular>
            </div>
            </div>
        </div>

  </div>

  <!-- (gridReady)="onGridReady($event,table.formFilter)" 
  [gridOptions]="gridOptions"  -->