
<ngx-spinner 
*ngIf="isLoading" 
bdColor="rgba(0, 0, 0, 0.8)" 
size="medium" 
color="#fff" 

name="dataProcess"
type="square-jelly-box" 
[fullScreen]="true">
<p style="color: white">Data Processing, Please Wait....</p>
</ngx-spinner>


<div class="modal fade" id="filterDashModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
<div class="modal-header d-flex justify-content-between align-items-center">
  <!-- Title -->
  <h4 class=" col-md-4 modal-title mb-0">Filter </h4>

  <!-- Form Section -->
<div class="container-fluid p-0" *ngIf="createChart && isEditMode">
  <div [formGroup]="createChart" class="row align-items-center">
    <!-- Toggle Switch Section -->
    <div class="col-lg-6 col-md-8 col-sm-12 mt-2">
      <div class="d-flex align-items-center">
        <label for="toggleCheck" class="fw-bold fs-6 required me-2">
          Enable Dashboard Filter
        </label>
        <div class="form-check form-switch">
          <input
            class="form-check-input"
            type="checkbox"
            name="add_fields"
            formControlName="add_fields"
            id="toggleCheck"
            [disabled]="!isEditMode"
            (change)="addControls($event, 'html', formlistValues.length, formlistValues)"
          >
        </div>
      </div>
    </div>
  </div>
</div>

  
  
  
  
  
  
  

  <!-- Close Button -->
  <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal"></button>
</div>

  <div class="container" *ngIf="createChart">
    <div [formGroup]="createChart">
      <div class="row align-items-center mt-4">
        <!-- Date Filter (Left Side) -->
        <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
          <div class="form-group row align-items-center">
            <label 
              for="dateTypeSelect" 
              class="col-lg-4 col-md-4 col-sm-4 col-form-label text-lg-end text-md-start text-sm-start fw-bold ">
              Date Filter
            </label>
            <div class="col-lg-8 col-md-8 col-sm-8">
              <select 
                formControlName="dateType" 
                id="dateTypeSelect" 
                class="form-select form-select-solid form-select-lg"
                aria-label="Select Date Type">
                <option [value]="null" [selected]="true" disabled>Select Date Type</option>
                 <option value="any" [selected]="true">any</option>
                <option value="is">is</option>
                <option value=">=">&gt;=</option>
                <option value="<=">&lt;=</option>
                <option value="between">between</option>
                <option value="between time">between time</option>
                <option value="less than days ago">less than days ago</option>
                <option value="more than days ago">more than days ago</option>
                <option value="in the past">in the past</option> 
                <option value="days ago">days ago</option>
                <option value="today">today</option>
                <option value="yesterday">yesterday</option>
                <option value="this week">this week</option>
                <option value="last week">last week</option>
                <option value="last 2 weeks">last 2 weeks</option>
                <option value="this month">this month</option>
                <option value="last month">last month</option>
                <option value="this year">this year</option>
       
                <option value="latest 10">latest 10</option>
              </select>
            </div>
          </div>
        </div>
      
        <!-- Custom Label (Right Side) -->
        <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
          <div class="form-group row align-items-center">
            <label for="custom_Label" class="col-lg-4 col-md-4 col-sm-4 col-form-label text-lg-end text-md-start text-sm-start fw-bold required">
              Custom Label
            </label>
            <div class="col-lg-8 col-md-8 col-sm-8">
              <input type="text" class="form-control form-control-solid" name="custom_Label" formControlName="custom_Label">
              <div *ngIf="createChart.get('custom_Label')?.touched && createChart.get('custom_Label')?.invalid" class="text-danger">
                <div *ngIf="createChart.get('custom_Label')?.errors?.required"> Custom Label is required.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      


          <div class="row">


            <div *ngIf="dateType?.value === 'days ago' || dateType?.value === 'less than days ago' || dateType?.value === 'more than days ago' || dateType?.value === 'in the past'" class="mb-7">
              <div class="form-group row ps-4 mb-2">
                <label class="col-lg-3 col-form-label col-sm-12 text-right col-form-label-sm required fw-bold">Number of Days</label>
                <div class="col-3">
                  <input type="number" formControlName="daysAgo" class="form-control" placeholder="Enter number of days">
                </div>
              </div>
            </div>

            <div *ngIf="dateType?.value === 'between time' || dateType?.value === 'between' " class="mb-7">
              <div class="form-group row ps-4 mb-2">
                  <label class="col-lg-3 col-form-label col-sm-12 text-right col-form-label-sm required fw-bold">Start Date</label>
                  <div class="col-3">
                      <!-- Dynamically change the type based on dateType -->
                      <input [type]="dateTypeConfig[dateType?.value]?.isBetweenTime ? 'datetime-local' : 'date'" formControlName="startDate" class="form-control">
                  </div>
              </div>
              <br>
              <div class="form-group row ps-4">
                  <label class="col-lg-3 col-form-label col-sm-12 text-right col-form-label-sm required fw-bold">End Date</label>
                  <div class="col-3">
                      <!-- Dynamically change the type based on dateType -->
                      <input [type]="dateTypeConfig[dateType?.value]?.isBetweenTime ? 'datetime-local' : 'date'" formControlName="endDate" class="form-control">
                  </div>
              </div>
          </div>
          <div *ngIf="dateType?.value === '<=' || dateType?.value === '>='  || dateType?.value === 'is' "  class="mb-7">
            <div class="form-group row ps-4 mb-2">
                <label class="col-lg-3 col-form-label col-sm-12 text-right col-form-label-sm required fw-bold">Select Date</label>
                <div class="col-3">
                    <input type="date" formControlName="singleDate" class="form-control">
                </div>
            </div>
        </div>
          </div>

    


  
          

      
      



    </div>

  </div>
  
  <!-- Modal body with Tabs -->
  <div class="card shadow-none rounded-0 w-100" [formGroup]="createChart" *ngIf="createChart" style="margin-top: 10px;">
  
    <div class="card card-custom">
  
      <div class="modal-body">
        <div class="card-body pt-0">
          <ul class="nav nav-stretch nav-line-tabs nav-line-tabs-2x border-transparent fs-5 fw-bolder flex-nowrap mb-4"
          id="myTab_settings" role="tablist">
          <div class="col-6" role="Data">
            <li class="nav-item">
              <a class="nav-link text-active-primary me-6" id="home-tab" data-bs-toggle="tab" role="tab"
                aria-controls="dataTab" aria-selected="false" (click)="selectedSettingsTab('dataTab')">Filter</a>
            </li>
          </div>


          <div class="col-6" role="Theme">
            <li class="nav-item">
              <a class="nav-link text-active-primary me-6" id="theme-tabpane" data-bs-toggle="tab" role="tab" aria-controls="theme-tab" aria-selected="false" (click)="selectedSettingsTab('theme-tab')">Theme</a>
            </li>
          </div>

        </ul>
          <!-- Tab Navigation -->
    
  
          <!-- Tab Content -->
        
            <!-- General Tab Content -->
            <div class="tab-content mt-3" id="modalTabsContent">
              <!-- General Tab Content -->
              <div [ngClass]="{'tab-pane fade': true, 'show active': selectedTabset === 'dataTab'}" id="dataTab"
                role="tabpanel" aria-labelledby="home-tab">
                <div formArrayName="all_fields">
                  <div
                    *ngFor="let field of all_fields.controls; let fieldIndex = index"
                    [formGroupName]="fieldIndex"
                    style="border: 2px solid rgb(21, 163, 219); padding: 10px; margin: 5px; border-radius: 5px;"
                  >
                  <h5 class="fw-bold mb-3">{{ formlistValues[fieldIndex] || 'No Heading' }}</h5>
                
                    <!-- Render the conditions -->
                    <div formArrayName="conditions">
                      <div *ngFor="let condition of getFormArrayControls(field); let conditionIndex = index">
                        <!-- Render the condition row -->
                        <div [formGroupName]="conditionIndex">
                          <div
                            class="row g-3"
                            style="display: flex; flex-wrap: wrap; justify-content: space-between;"
                          >




                          <div class="mb-3" style="width: 30%;">
                            <label class="col-form-label fw-bold fs-6 required">Select Field</label>
                            <ngx-select [items]="dynamicParamMap.get(fieldIndex) || []"
                                        formControlName="formField"
                                        optionValueField="value"
                                        optionTextField="text"
                                        (selectionChanges)="fetchDynamic($event, formlistValues, fieldIndex, conditionIndex, condition?.get('formField')?.value)"

                                        placeholder="Select Field">
                            </ngx-select>
                          </div>
                
<!-- Hide these fields if foundField.type is 'date' -->
<ng-container *ngIf="!conditionfilter[fieldIndex]?.[conditionIndex]?.fieldTypeCheck">
  <div class="mb-3" style="width: 30%;">
    <label class="col-form-label fw-bold fs-6 required">Operator</label>
    <select formControlName="operator" placeholder="Select operator" class="form-control">
      <option value="" disabled selected>Select operator</option>
      <option value="All">All</option>
      <option value="==">Equals</option>
      <option value="!=">Not equals</option>
      <option value=">">Greater than</option>
      <option value="<">Less than</option>
      <option value="<=">Less than equals to</option>
      <option value=">=">Greater than equals to</option>
    </select>
  </div>

  <div class="mb-3" style="width: 30%;">
    <label class="col-form-label fw-bold fs-6 required">Value</label>

    <!-- Check if data exists -->
    <ng-container *ngIf="globalFieldData[fieldIndex] && globalFieldData[fieldIndex][conditionIndex];">
      
      <!-- Check if type is 'select' -->
      <ng-container *ngIf="globalFieldData[fieldIndex][conditionIndex]?.type === 'select'; else textInput">
        
        <!-- Check if options exist -->
        <ng-container *ngIf="globalFieldData[fieldIndex][conditionIndex]?.options?.length > 0; else noOptions">
          
          <!-- ngx-select Implementation -->
          <p-multiSelect 
            formControlName="filterValue"
            [options]="globalFieldData[fieldIndex][conditionIndex].options"
            optionLabel="label"
  placeholder="Select Value" 
         >
          </p-multiSelect>
          
        </ng-container>

        <!-- If no options, show text input -->
        <ng-template #noOptions>
          <input type="text" formControlName="filterValue" placeholder="Enter value" class="form-control" />
        </ng-template>

      </ng-container>
    </ng-container>

    <!-- Default text input when type is not 'select' -->
    <ng-template #textInput>
      <input type="text" formControlName="filterValue" placeholder="Enter value" class="form-control" />
    </ng-template>
  </div>
</ng-container>



<!-- Date Filter Section -->
<div class="col-lg-6 col-md-6 col-sm-12" 
     *ngIf="conditionfilter[fieldIndex]?.[conditionIndex]?.fieldTypeCheck">
  <div class="form-group row align-items-center">
    <label for="dateTypeSelect" class="col-form-label fw-bold fs-6 required">Date Filter</label>

    <div class="col-lg-8 col-md-8 col-sm-8">
      <select 
        *ngIf="getDateTypeControl(fieldIndex, conditionIndex) as control"
        [formControl]="control" 
        id="dateTypeSelect" 
        class="form-select form-select-solid form-select-lg"
        aria-label="Select Date Type">
        
        <option [value]="null" disabled>Select Date Type</option>
        <option value="any">any</option>
        <option value="is">is</option>
        <option value=">=">&gt;=</option>
        <option value="<=">&lt;=</option>
        <option value="between">between</option>
        <option value="between time">between time</option>
        <option value="less than days ago">less than days ago</option>
        <option value="more than days ago">more than days ago</option>
        <option value="in the past">in the past</option> 
        <option value="days ago">days ago</option>
        <option value="today">today</option>
        <option value="yesterday">yesterday</option>
        <option value="this week">this week</option>
        <option value="last week">last week</option>
        <option value="last 2 weeks">last 2 weeks</option>
        <option value="this month">this month</option>
        <option value="last month">last month</option>
        <option value="this year">this year</option>
        <option value="latest 10">latest 10</option>
      </select>
    </div>
  </div>
</div>







<div class="row" *ngIf="conditionfilter[fieldIndex]?.[conditionIndex]?.fieldTypeCheck">

  <!-- Section for 'days ago' conditions -->
  <div *ngIf="getDateType(fieldIndex, conditionIndex) === 'days ago' || 
              getDateType(fieldIndex, conditionIndex) === 'less than days ago' || 
              getDateType(fieldIndex, conditionIndex) === 'more than days ago' || 
              getDateType(fieldIndex, conditionIndex) === 'in the past'" 
       class="mb-7">
    <div class="form-group row ps-4 mb-2">
      <label class="col-lg-3 col-form-label col-sm-12 text-right col-form-label-sm required fw-bold">
        Number of Days
      </label>
      <div class="col-3">
        <input type="number" [formControlName]="'daysAgo'" class="form-control" placeholder="Enter number of days">
      </div>
    </div>
  </div>

  <!-- Section for 'between' and 'between time' -->
  <div *ngIf="getDateType(fieldIndex, conditionIndex) === 'between time' || 
              getDateType(fieldIndex, conditionIndex) === 'between'" 
       class="mb-7">
    
    <div class="form-group row ps-4 mb-2">
      <label class="col-lg-3 col-form-label col-sm-12 text-right col-form-label-sm required fw-bold">
        Start Date
      </label>
      <div class="col-3">
        <input [type]="getInputType(getDateType(fieldIndex, conditionIndex))" 
               [formControlName]="'startDate'" 
               class="form-control">
      </div>
    </div>

    <div class="form-group row ps-4">
      <label class="col-lg-3 col-form-label col-sm-12 text-right col-form-label-sm required fw-bold">
        End Date
      </label>
      <div class="col-3">
        <input [type]="getInputType(getDateType(fieldIndex, conditionIndex))" 
               [formControlName]="'endDate'" 
               class="form-control">
      </div>
    </div>
  </div>

  <!-- Section for selecting a single date -->
  <div *ngIf="getDateType(fieldIndex, conditionIndex) === '<=' || 
              getDateType(fieldIndex, conditionIndex) === '>=' || 
              getDateType(fieldIndex, conditionIndex) === 'is'"  
       class="mb-7">
    
    <div class="form-group row ps-4 mb-2">
      <label class="col-lg-3 col-form-label col-sm-12 text-right col-form-label-sm required fw-bold">
        Select Date
      </label>
      <div class="col-3">
        <input type="date" [formControlName]="'singleDate'" class="form-control">
      </div>
    </div>

  </div>

</div>


                            
                            
                            
                            
                            
                            
                            
                            
                          </div>
                          <div class="col-md-4 mb-3" *ngIf = enableParameterName>
                            <label for="parameterName" class="col-form-label fw-bold fs-6 "></label>
                            <input
                              id="parameterName"
                              type="number"
                              class="form-control form-control-solid"
                              placeholder="Select constant"
                              formControlName="parameterName">
                          </div>
                          <div class="col-md-4 mb-3" *ngIf = enableParameterName>
                            <label for="fieldLabel" class="col-form-label fw-bold fs-6 "></label>
                            <input
                              id="fieldLabel"
                              type="number"
                              class="form-control form-control-solid"
                              placeholder="Select constant"
                              formControlName="fieldLabel">
                          </div>
                
                          <!-- Remove Condition Button (for all conditions except the first) -->
                          <div *ngIf="conditionIndex > 0" class="d-flex mt-2">
                            <button
                              type="button"
                              class="btn btn-danger btn-sm"
                              (click)="removeCondition(fieldIndex, conditionIndex)"
                            >
                              Remove Condition
                            </button>
                          </div>
                
                          <!-- Render the Between Operator after the first condition -->
                          <div
                            *ngIf="conditionIndex < getFormArrayControls(field).length - 1"
                            class="mb-3"
                            style="width: 30%;"
                          >
                            <label class="col-form-label fw-bold fs-6 required">Between Operator</label>
                            <select
                              formControlName="operatorBetween"
                              (change)="betweenoperator($event)"
                              placeholder="Select Operator"
                              class="form-control"
                            >
                              <option value="&&">AND</option>
                              <option value="||">OR</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                
                    <!-- Add Condition Button -->
                    <div class="d-flex mt-3">
                      <button
                        type="button"
                        class="btn btn-primary btn-sm me-4"
                        (click)="addCondition(fieldIndex, '', '')"
                      >
                        Add Condition
                      </button>
                      <button
                      type="button"
                      class="btn btn-danger btn-sm me-4"
                      (click)="remove(fieldIndex)"
                    >
                    Remove
                    </button>
                    </div>
                  </div>
                </div>
                
                
              </div>

              <div [ngClass]="{'tab-pane fade': true, 'show active': selectedTabset === 'theme-tab'}" id="theme-tab" role="tabpanel" aria-labelledby="theme-tabpane">
          
                <div class="row g-3" [formGroup]="createChart">
                  <!-- Existing Themes Section -->
                  <div class="col-md-12 mb-3">
                    <label class="col-form-label fw-bold fs-6 required">Themes:</label>
                    <div class="color-boxes">
                      <div
                        *ngFor="let theme of themes"
                        class="color-box"
                        [ngStyle]="{ 'background-image': theme.color }"
                        (click)="toggleCheckbox(theme)"
                        [class.checked]="theme.selected"
                      >
                        <div *ngIf="theme.selected" class="checkmark">✔</div>
                      </div>
                    </div>
                  </div>
                  
              
                  <!-- Font Size Input -->
                  <div class="col-md-6 mb-3">
                    <label for="fontSize" class="col-form-label fw-bold fs-6 required">Font Size</label>
                    <input
                      id="fontSize"
                      type="number"
                      class="form-control form-control-solid"
                      placeholder="Enter Font Size (e.g., 14)"
                      formControlName="fontSize"
                      min="8"
                      max="72">
                      <div *ngIf="createChart.get('fontSize')?.errors?.min || createChart.get('fontSize')?.errors?.max" class="text-danger mt-1">
                        Font size must be between 8 and 72.
                      </div>
                  </div>


              
                  <!-- Font Color Input -->
                  <div class="col-md-6 mb-3">
                    <label for="fontColor" class="col-form-label fw-bold fs-6 required">Font Color</label>
                    <div class="d-flex align-items-center">
                      <!-- Color Picker Input -->
                      <input
                        id="fontColor"
                        type="color"
                        class="form-control form-control-color me-3"
                        [value]="createChart.get('fontColor')?.value"
                        (input)="onFontColorChange($event)"
                        style="width: 50px; height: 38px; padding: 0; border-radius: 5px; border: 1px solid #ced4da;">
                      <!-- Display Selected Color Code -->
                      <input
                        type="text"
                        class="form-control form-control-solid"
                        formControlName="fontColor"
                        readonly
                        style="flex: 1;"
                        placeholder="Selected Color Code">
                    </div>
                  </div>
    
                  
                  
                </div>
              </div>
            </div>
              
              
              
              
              
              
              
              
              
              
              
              

  
            <!-- Settings Tab Content -->

          
          
          

        </div>
  
  
        <div class="modal-footer" style="margin-top: 20px;">
          <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
          <button 
            type="button" 
            class="btn btn-primary"  
            (click)="validateAndSubmit();modal.dismiss()" 
            *ngIf="!isEditMode"
            data-bs-dismiss="modal"
          >
            Save
          </button>
          <button type="button" class="btn btn-warning"  (click)="updateTile('filterTile');modal.dismiss() "
          *ngIf="isEditMode" >
            Update
          </button>
          <button type="button" class="btn btn-success"  (click)="reloadPage() "
          data-bs-dismiss="modal" *ngIf="isEditMode">
            Live Filter
          </button>
          <button data-bs-dismiss="modal"  type="button" class="btn btn-info" (click)="clearForm()" *ngIf="isEditMode">Clear Filter</button>
        </div>
      </div>
  
  
    </div>
  
  </div>
</div>
</div>
</div>