<!-- <div *ngIf="loading" class="loading-spinner">
  Loading data, please wait...
</div> -->
<ngx-spinner *ngIf="loading" bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading data, please wait... </p></ngx-spinner>
<div class="row g-6 g-xl-9" *ngIf="cards.length > 0">
    <div class="col-md-6 col-xl-4" *ngFor="let card of cards">
      <app-card2 [componentSource]="'dashboardForm'"
        icon="https://dreamboard-dynamic.s3.ap-south-1.amazonaws.com/public/Climaveneta/Live+Contract/liveContract.png"
        badgeColor="primary"
        status="view"
        statusColor="primary || 'N/A'"
        [title]="card.name ||'N/A'"
        [description]="card.job || 'N/A'"
        [date]="card.avgEarnings || 'N/A'"
        [budget]="card.totalEarnings || 'N/A'"
      ></app-card2>
  </div>