<!-- <div *ngIf="loading" class="loading-spinner">
  Loading data, please wait...
</div> -->
<ngx-spinner *ngIf="loading" bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading data, please wait... </p></ngx-spinner>

<swal #noticeSwal [swalOptions]="swalOptions">
</swal>

<div class="row g-6 g-xl-4 justify-content-center">
  <div class="col-6 mb-4">
    <div class="input-group">
      <span class="input-group-text">
        <i class="bi bi-search text-primary"></i>
      </span>
      <input
        type="text"
        class="form-control"
        placeholder="Search by form name ..."
        [(ngModel)]="searchQuery"
      />
    </div>
  </div>
</div>

<div class="row g-6 g-xl-4" *ngIf="filteredCards.length > 0">
    <div class="col-md-6 col-xl-3" *ngFor="let card of filteredCards">
      <app-card2 [componentSource]="'dashboardForm'"
        icon="assets/media/form.png"
        badgeColor="primary"
        status="view"
        statusColor="primary || 'N/A'"
        [title]="card.name ||'N/A'"
        [description]="card.job || 'N/A'"
        [date]="card.avgEarnings || 'N/A'"
        [budget]="card.totalEarnings || 'N/A'"
      ></app-card2>
  </div>

  <div *ngIf="filteredCards.length === 0">
    <p class="text-center">No cards match your search criteria.</p>
  </div>

  <!-- icon="https://dreamboard-dynamic.s3.ap-south-1.amazonaws.com/public/Climaveneta/Live+Contract/liveContract.png" -->